<div class="row landing">
  <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-3 col-lg-6 first-row">
    <div class="search">
      <form>
        <input type="text" placeholder="Buscar...">
      </form>
    </div>
    <div class="categories">
      <button (click)="goToSubCategory('Frutas Verduras y Huevo')" mat-raised-button class="category-button mat-elevation-z6" routerLink="/products">
        <h4>VERDURAS</h4>
      </button>
      <button (click)="goToSubCategory('Bebidas')" mat-raised-button class="category-button mat-elevation-z6" routerLink="/products">
        <h4>BEBIDAS</h4>
      </button>
      <button (click)="goToSubCategory('Lacteos Bebidas')" mat-raised-button class="category-button mat-elevation-z6" routerLink="/products">
        <h4>LÁCTEOS</h4>
      </button>
      <button (click)="goToSubCategory('Panaderia')" mat-raised-button class="category-button mat-elevation-z6" routerLink="/products">
        <h4>PANIFICADOS</h4>
      </button>
      <button (click)="goToSubCategory('Carniceria')" mat-raised-button class="category-button mat-elevation-z6" routerLink="/products">
        <h4>CARNES</h4>
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 second-row">
    <div>
      <a class="second-row-item">
        <img class="images" src="assets/img/Frutas.svg" alt="PLUB" (click)="goToSubCategory('Frutas Verduras y Huevo')"/>
        <h3>Frutas y verduras</h3>
      </a>
    </div>
    <div>
      <a class="second-row-item" (click)="goToSubCategory('Carniceria')">
        <img class="images" src="assets/img/Carne.svg" alt="PLUB" />
        <h3>Carnes</h3>
      </a>
    </div>
    <div>
      <a class="second-row-item" (click)="goToSubCategory('Panaderia')">
        <img class="images" src="assets/img/Pan.svg" alt="PLUB" />
        <h3>Panadería</h3>
      </a>
    </div>
  </div>
</div>
<!-- SLIDES DE PUBLICIDAD -->
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 third-row">
    <p-carousel styleClass="carousel-primeng" [value]="advertisings" [circular]="true" [autoplayInterval]="3000" [numScroll]="1" [numVisible]="2" [showIndicators]="false" [responsiveOptions]="advertisingsBreakPoints">
      <ng-template let-ad pTemplate="item">
        <div class="row">
          <div class="col-xs-12">
            <div class="advertising">
              <img [src]="imageApi + ad.image" [alt]="ad.name"/>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</div>
<!-- SLIDES DE OFERTAS -->
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10">
    <div class="end-xs">
      <a class="vermas"><a>Ver más</a></a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 fourth-row">
    <div class="title">
      <h3>Ofertas</h3>
      <h2>del día</h2>
    </div>
    <div class="ofertas">
      <p-carousel styleClass="carousel-primeng" [value]="offers" [circular]="true" [autoplayInterval]="3000" [numScroll]="1" [numVisible]="3" [showIndicators]="true" [showNavigators]="false" [responsiveOptions]="offersBreakPoints">
        <ng-template let-offer pTemplate="item">
          <mat-card>
            <div class="product-image">
              <img [src]="imageApi + offer.image" [alt]="offer.name" />
            </div>
            <div class="product-name">
              <p>{{offer.name}}</p>
            </div>
            <div class="product-price">
              <p>{{offer.extra}} Gs</p>
            </div>
            <div class="action-button">
              <button mat-icon-button size="small" class="shop-button">
                <mat-icon class="icon-margin">shopping_cart</mat-icon>Agregar
              </button>
            </div>
            <div class="off">
              <p>{{offer.off}}</p>
            </div>
          </mat-card>
        </ng-template>
      </p-carousel>
    </div>
  </div>
</div>
<!-- SLIDES DE VIDEOS -->
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10">
    <div class="end-xs">
      <a class="vermas"><a>Ver más</a></a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 fifth-row">
    <p-carousel styleClass="carousel-primeng" [value]="videos" [circular]="true" [autoplayInterval]="3000" [numScroll]="1" [numVisible]="4" [showIndicators]="false" [responsiveOptions]="videosBreakPoints">
      <ng-template let-video pTemplate="item">
        <div class="row">
          <div class="col-xs-12">
            <div class="video">
              <img [src]="imageApi + video.image" [alt]="video.name"/>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</div>
<div class="fab-container">
  <div class="fab fab-icon-holder">
    <mat-icon class="headphones">headphones</mat-icon>
  </div>
  <div class="fab-options">
    <div class="item">
      <div class="phone">Llamanos al {{llamadas?.phone_number}}</div>
      <a class="icon" href="tel:{{llamadas?.phone_number}}">
        <p-avatar size="large" [style]="{'background-color': '#003e8c', 'color': '#ffffff'}"  icon="pi pi-phone" shape="circle"></p-avatar>
      </a>
    </div>
    <div class="item">
      <div class="wha">¿En qué podemos ayudarte?</div>
      <a class="icon" href="https://api.whatsapp.com/send?phone={{whatsapp?.phone_number}}&text=Hola,%20necesito%20ayuda" target="_blank">
        <p-avatar size="large" [style]="{'background-color': '#25d366', 'color': '#ffffff'}"  icon="pi pi-whatsapp" shape="circle"></p-avatar>
      </a>
    </div>
  </div>
</div>
<footer class="row center-lg footer">
  <div class="col-xs-12 col-md-3">
    <ul *ngIf="productSubCategories.length > 0">
      <li class="list-head">Categorías</li>
      <li><a (click)="goToSubCategory('Frutas Verduras y Huevo')">Verduras</a></li>
      <li><a (click)="goToSubCategory('Bebidas')">Bebidas</a></li>
      <li><a (click)="goToSubCategory('Carniceria')">Carnes</a></li>
      <li><a (click)="goToSubCategory('Fiambres y Quesos')">Fiambres</a></li>
      <li><a (click)="goToSubCategory('Frutas Verduras y Huevo')">Frutas/verduras</a></li>
      <li><a (click)="goToSubCategory('Lacteos Bebidas')">Lácteos</a></li>
      <li><a (click)="goToSubCategory('Panaderia')">Panadería</a></li>
    </ul>
  </div>
  <div class="col-xs-12 col-md-3">
    <ul>
      <li class="list-head">Información de interés</li>
      <li><a href="#">Términos y condiciones</a></li>
      <li><a href="#">Trabaja con nosotros</a></li>
    </ul>
  </div>
  <div class="col-xs-12 col-md-3">
    <ul>
      <li class="list-head">Descargá la App</li>
      <li><a href="#"><img class="app-store-logo" src="assets/icon/app-store-badge.png" alt="appstore"
            style="width: 200px;" /></a></li>
      <li><a href="#"><img class="google-play-logo" src="assets/icon/google-play-badge.png" alt="googleplay"
            style="width: 200px;" /></a></li>
      <li class="list-head">Seguínos</li>
      <li>
          <a class="social-media" href="#">
            <img src="assets/img/facebook.png" />
          </a>
          <a class="social-media" href="#">
            <img src="assets/img/instagram.png"/>
          </a>
      </li>
    </ul>
  </div>
</footer>
<!-- <div class="page-container"> -->
  <!-- <div class="first-row">
    <div class="row-search">
      <div class="col-xs-12">
        <div class="center-xs">
          <form>
            <div class="search">
              <mat-form-field appearance="outline" floatLabel="never">
                <mat-label></mat-label>
                <input matInput type="text" placeholder="Buscar" autocomplete="off" />
                <mat-icon matSuffix color="primary">search</mat-icon>
              </mat-form-field>
            </div>
          </form>
        </div>
        <div class="categorys-box">
          <div class="row row-categorys">
            <div class="category-button-container">
              <button mat-raised-button class="category-button mat-elevation-z6" routerLink="/products">
                <h3>
                  VERDURAS</h3>
              </button>
            </div>
            <div class="category-button-container">
              <button mat-raised-button class="category-button mat-elevation-z6" routerLink="/products">
                <h3>
                  BEBIDAS</h3>
              </button>
            </div>
            <div class="category-button-container">
              <button mat-raised-button class="category-button mat-elevation-z6" routerLink="/products">
                <h3>
                  LÁCTEOS</h3>
              </button>
            </div>
            <div class="category-button-container">
              <button mat-raised-button class="category-button mat-elevation-z6" routerLink="/products">
                <h3>
                  PANIFICADOS</h3>
              </button>
            </div>
            <div class="category-button-container">
              <button mat-raised-button class="category-button mat-elevation-z6" routerLink="/products">
                <h3>
                  CARNES</h3>
              </button>
            </div>
          </div>
        </div>
        <div>
          <div>
            <div class="fab-container">
              <div class="fab fab-icon-holder">
                <mat-icon class="headphones">headphones</mat-icon>
              </div>
              <ul class="fab-options">
                <li>
                  <button mat-raised-button class="fab-label-one">Llamanos al +595 983483017</button>
                  <a mat-raised-button class="fab-icon-holder-one" href="tel:595983483017">
                    <mat-icon class="phone">phone</mat-icon>
                  </a>
                </li>
                <li>
                  <button mat-raised-button class="fab-label-two">¿En que podemos ayudarte?</button>
                  <a mat-raised-button class="fab-icon-holder-two" href="https://api.whatsapp.com/send?phone=595983483017&text=Hola,%20necesito%20ayuda" target="_blank">
                    <mat-icon class="whatsApp">whatsapp</mat-icon>
                  </a>
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="second-row">
    <section class="categorys">
      <div>
        <a href="#">
          <img class="images" src="assets/img/Frutas.svg" alt="PLUB" />
          <h2>Frutas y verduras</h2>
        </a>
      </div>
      <div>
        <a href="#">
          <img class="images" src="assets/img/Carne.svg" alt="PLUB" />
          <h2>Carnes</h2>
        </a>
      </div>
      <div>
        <a href="#">
          <img class="images" src="assets/img/Pan.svg" alt="PLUB" />
          <h2>Panadería</h2>
        </a>
      </div>
    </section>
  </div> -->

  <!-- SLIDES DE PUBLICIDAD -->
  <!-- <div class="third-row">

  </div> -->

  <!-- SLIDES DE OFERTAS -->
  <!-- <div class="fourth-row">
    <div class="sales-list">
      <div class="row end-xs">
        <h3><a href="#">Ver más</a></h3>
      </div>
      <div class="row-slide">
        <div class="col-xs-3">
          <div class="flex-col">
            <span class="sale-head">Ofertas</span>
            <span class="sale-head2">del día</span>
          </div>
        </div>
        <div class="col-xs-9">
          <swiper class="swiper-sales" [slidesPerView]="3" [spaceBetween]="15" [loop]="true" [autoplay]="{
            delay: 3200,
            disableOnInteraction: false
          }">
            <ng-template swiperSlide class="promo-slide">
              <div class="product-container">
                <img class="promo-img" src="/assets/img/oferta.png" />
              </div>
              <div class="promo-tag">
                <mat-label>2X1</mat-label>
              </div>
              <div class="product-price">
                <mat-label class="description-label">Chocolate semi-amargo águila</mat-label>
                <mat-label class="price-label"><span style="justify-content: center; align-items: center;">8.900
                    Gs</span> </mat-label>
              </div>
              <div class="action-button">
                <button mat-icon-button size="small" class="shop-button">
                  <mat-icon class="icon-margin">shopping_cart</mat-icon>Agregar
                </button>
              </div>
            </ng-template>
            <ng-template swiperSlide class="promo-slide">
              <div class="product-container">
                <img class="promo-img" src="/assets/img/hildebrand.jpeg" />
              </div>
              <div class="promo-tag">
                <mat-label>25% OFF</mat-label>
              </div>
              <div class="product-price">
                <mat-label class="description-label">Harina Leudante Hildebrand</mat-label>
                <mat-label class="price-label">7.000 Gs</mat-label>
              </div>
              <div class="action-button">
                <button mat-icon-button size="small" class="shop-button">
                  <mat-icon class="icon-margin">shopping_cart</mat-icon>Agregar
                </button>
              </div>
            </ng-template>
            <ng-template swiperSlide class="promo-slide">
              <div class="product-container">
                <img class="promo-img" src="/assets/img/nestle.jpeg" />
              </div>
              <div class="promo-tag">
                <mat-label>15% OFF</mat-label>
              </div>
              <div class="product-price">
                <mat-label class="description-label">Huevo de pascua Nestlé</mat-label>
                <mat-label class="price-label">25.000 Gs</mat-label>
              </div>
              <div class="action-button">
                <button mat-icon-button size="small" class="shop-button">
                  <mat-icon class="icon-margin">shopping_cart</mat-icon>Agregar
                </button>
              </div>
            </ng-template>
          </swiper>
        </div>
      </div>
    </div>
  </div> -->

 <!-- ESTADO DE MI COMRA -->
  <!-- <ion-slides #slider pager id="estados-compra-slide" *ngIf="!showSpinner" (ionSlideTransitionStart)="slideChanged()">
    <ion-slide class="estados-compra-slide" *ngFor="let order of userOrderList" >
      <app-order-timeline [userOrder]="order"></app-order-timeline>
    </ion-slide>
  </ion-slides> -->
  <!-- SLIDES DE VIDEOS -->
  <!-- <div class="status-row">
    <swiper
      [slidesPerView]="1"
      [spaceBetween]="10"
      [navigation]="true"
      >
      <ng-template swiperSlide class="estados-compra-slide" *ngFor="let order of userOrderList">
        <app-order-timeline [userOrder]="order"></app-order-timeline>
      </ng-template>
    </swiper>
  </div> -->

  <!-- SLIDES DE VIDEOS -->
  <!-- <div class="fifth-row">
    <div class="row-10 end-xs">
      <h3><a href="#">Ver más</a></h3>
    </div>
    <div class="row start-xs">
      <swiper class="swiper-videos" [slidesPerView]="4" [spaceBetween]="10" [loop]="true" [autoplay]="{
        delay: 3400,
        disableOnInteraction: false
      }" [navigation]="true">
        <ng-template swiperSlide class="video-slide">
          <div class="video-background"></div>
          <div class="video-container">
            <div class="player-icon-container">
              <mat-icon class="play-button-icon">play_circle_filled</mat-icon>
            </div>
            <div style="height: 30%;">
              <div class="video-description">
                <mat-label class="video-title"> Cocina como un chef </mat-label>
              </div>
              <div class="video-description">
                <mat-label class="video-text"> Delicioso bife con brócoli para la cena</mat-label>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide class="video-slide">
          <div class="video-background2"></div>
          <div class="video-container">
            <div class="player-icon-container">
              <mat-icon class="play-button-icon">play_circle_filled</mat-icon>
            </div>
            <div style="height: 30%;">
              <div class="video-description">
                <mat-label class="video-title"> No te pierdas esta receta </mat-label>
              </div>
              <div class="video-description">
                <mat-label class="video-text"> Tarta de verduras con masa fresca</mat-label>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide class="video-slide">
          <div class="video-background"></div>
          <div class="video-container">
            <div class="player-icon-container">
              <mat-icon class="play-button-icon">play_circle_filled</mat-icon>
            </div>
            <div style="height: 30%;">
              <div class="video-description">
                <mat-label class="video-title"> Cocina como un chef </mat-label>
              </div>
              <div class="video-description">
                <mat-label class="video-text"> Delicioso bife con brócoli para la cena</mat-label>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="video-background2"></div>
          <div class="video-container">
            <div class="player-icon-container">
              <mat-icon class="play-button-icon">play_circle_filled</mat-icon>
            </div>
            <div style="height: 30%;">
              <div class="video-description">
                <mat-label class="video-title"> No te pierdas esta receta </mat-label>
              </div>
              <div class="video-description">
                <mat-label class="video-text"> Tarta de verduras con masa fresca</mat-label>
              </div>
            </div>
          </div>
        </ng-template>
      </swiper>
    </div>
  </div> -->

  <!-- QUIERO SER PLUBER -->

  <!-- <div class="sixth-row">
    <div class="row-info">
      <div class="col-xs-12">
        <div class="col-xs-3">
          <div class="flex-col">
            <span class="pluber-head">Quiero ser</span>
            <span class="pluber-head2">Pluber</span>
          </div>
        </div>
        <div class="center">
        <p>¿Querés formar parte de esta gran familia y ganar dinero extra?</p>
        <h3><b>¡PLUB te espera!</b></h3>
        <button mat-raised-button class="solid-button"><h2>QUIERO SER PLUBER</h2></button>
      </div>
      </div>
    </div>
  </div> -->


  <!-- FOOTER -->
  <!-- <footer class="footer">
    <div class="footer-container">
      <div class="footer-lists">
        <ul>
          <li class="list-head">Categorías</li>
          <li><a href="#">Aderezos</a></li>
          <li><a href="#">Bebidas</a></li>
          <li><a href="#">Carnes</a></li>
          <li><a href="#">Fiambres</a></li>
          <li><a href="#">Frutas/verduras</a></li>
          <li><a href="#">Lácteos</a></li>
          <li><a href="#">Panadería</a></li>
        </ul>
        <ul>
          <li class="list-head">Información de interés</li>
          <li><a href="#">Términos y condiciones</a></li>
          <li><a href="#">Trabaja con nosotros</a></li>
          <li><a href="#">Quiero ser PLUBER</a></li>
        </ul>
        <ul>
          <li class="list-head">Descargá la App</li>
          <li><a href="#"><img class="app-store-logo" src="assets/icon/app-store-badge.png" alt="appstore"
                style="width: 200px;" /></a></li>
          <li><a href="#"><img class="google-play-logo" src="assets/icon/google-play-badge.png" alt="googleplay"
                style="width: 200px;" /></a></li>
          <li class="social-head">Seguínos</li>
          <li><a href="#"><img class="social-icon"
                src="https://img.icons8.com/material/24/000000/facebook-new.png" /></a><a href="#"><img
                class="social-icon"
                src="https://img.icons8.com/material-outlined/24/000000/instagram-new--v1.png" /></a></li>
        </ul>
      </div>
    </div>
  </footer> -->
<!-- </div> -->
