@import "~src/assets/scss/colors.scss";
@import "~src/assets/scss/breakpoints.scss";

.landing {
  background-image: url("/../assets/img/Fondo-principal.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.first-row {
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;

  .search {
    margin: 0 0.5rem;
  }
  
  .categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .category-button {
      width: 140px;
      margin: 0.25rem 0;
      border-radius: 2rem;
      background-color: #96c4e9;
      color: $blue;

      h4 {
        padding: 0 0.5rem;
        margin: 0.25rem 0;
        font-size: 0.75rem;
      }
    }
    
  }

  .search {
    margin-bottom: 1.5rem;
    
    input {
      width: 100%;
      padding: 12px 16px;
      outline: none;
      border: 2px solid $blue;
      border-radius: 28px;
      font-family: 'Montserrat', sans-serif !important;
    }
  }
}

.second-row {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem 0;  
  margin-bottom: 2rem;
  flex-wrap: wrap;

  .second-row-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    img {
      width: 90px;
      height: 90px;
    }

    h3 {
      color: grey;
      font-weight: 600;
      text-align: center;
    }
  }
}

.third-row {
  margin-bottom: 2rem;

  .advertising {
    padding: 1rem;

    img {
      width: 100%;
      height: 250px;
      object-fit: contain;
    }
  }
}

.fourth-row {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 50vh;
  margin-bottom: 2rem;

  @media (min-width: $md) {
    flex-direction: row;
    align-items: center;
  }

  .title {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    @media (min-width: $md) {
      width: 30%;
      align-items: flex-start;
    }

    %title-common {
      color: $blue;
      margin: 0;
    }
    h3 {
      @extend %title-common;
      font-size: 2.5rem;
      font-weight: 300;
    }

    h2 {
      @extend %title-common;
      font-size: 3.5rem;
      font-weight: 700;
    }
  }

  .ofertas {
    width: 90%;
    margin: 0 auto;
    
    @media (min-width: $md) {
      width: 70%;
    }

    mat-card {
      padding: 0;
      margin: 0.5rem 0.25rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      
      .product-image {
        display: flex;
        justify-content: center;
        padding: 1rem;
        img {
          width: 60%;
        }
      }
    
      .product-name {
        margin: 0.25rem 0;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    
        p {
          padding: 0 0.25rem;
          margin:0;
          text-align: center;
          color: grey;
          font-weight: 500;
        }
      }
      
      .product-price {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    
        p {
          margin:0;
          text-align: center;
          color: $blue;
          font-weight: 700;
        }
      }
    
      .action-button {
        display: flex;
        justify-content: flex-end;
        button {
          background-color: #c4540b;
          color: #fff;
          width: 75%;
          border-radius: 0;
          border-bottom-right-radius: 20px;
          border-top-left-radius: 50px;

          mat-icon {
            color: #fff;
            margin-right: 8px;
            font-size: 1.5rem;
          }
        }
      }

      .off {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        background-color: $blue;
        width: 35%;
        border-top-right-radius: 20px;
        position: absolute;
        left: 0;
        top: 1.5rem;

        p {
          margin:0;
          text-align: center;
          color: #fff;
          font-weight: 500;
          font-size: 0.75rem;
        }
      }
    
    }
    
  }
}

.fifth-row {
  height: 250px;
  margin-bottom: 4rem;

  .video {
    padding: 1rem;

    img {
      width: 100%;
      height: 250px;
      object-fit: contain;
    }
  }
}

.footer {
  
  padding: 2rem 0;
  background-color: $orange;

  ul {
    list-style-type: none;

    li {
      text-align: left;
      padding: 0.5rem 0;

      a {
        text-decoration: none;
        color: #fff;
        font-weight: 400;
        cursor: pointer;
      }
      
      &.list-head {
        color: #fff;
        font-weight: 700;
      }

      .social-media {
        margin-left: 0.5rem;
      }
    }
  }
}

.vermas {
  cursor: pointer;
  color: $blue;
  margin-bottom: 0;
  font-weight: 700;
}

.contact {
  height: 4rem !important;
  width: 4rem !important;
  position: fixed;
	bottom: 1.5rem;
	right: 1.5rem;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.02), 0px 0px 2px rgba(0, 0, 0, 0.05), 0px 1px 4px rgba(0, 0, 0, 0.08);
  background-color: $orange !important;

  &:hover {
    background-color: $orange;
  }
}

.fab-container {
  position: fixed;
	bottom: 2.5rem;
	right: 2.5rem;
  width: 60px;
  height: 60px;
  
  .fab-icon-holder {
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: $orange;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 6px 20px rgba(0,0,0,0.2);

    .headphones{
      width: 2rem;
      height: 2rem;
      font-size: 2rem;
    }
  }
  
  .fab-options {
    width: 70vw;
    @media (min-width: $md) {
      width: 40vw;
    }
    
    @media (min-width: $lg) {
      width: 30vw;
    }
    
    position: fixed;
    right: 2.5rem;
    bottom: calc(2.5rem + 60px);
    opacity: 0;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;

    .item {
      
      display: flex;
      justify-content: flex-end;
      margin-bottom: 0.5rem;
    
      .phone {
        border-radius: 1rem !important;
        display: flex;
        align-items: center;
        color: #fff;
        padding: 0.5rem 1rem;
        background-color: $blue;  
      }
      
      .wha {
        border-radius: 1rem !important;
        display: flex;
        align-items: center;
        color: #fff;
        padding: 0.5rem 1rem;
        background-color: #25d366;
      }

      .icon {
        text-decoration: none;
        cursor: pointer;
        margin-left: 1rem;
      }
    }
  }

  .fab-icon-holder-one{
    width: 80px;
    height: 80px;
    border-radius: 100px;
    background: #003e8c;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    box-shadow: 0 6px 20px rgba(0,0,0,0.2);
  }
  
  .fab-icon-holder-two{
    width: 80px;
    height: 80px;
    border-radius: 100px;
    background: #25d366;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    box-shadow: 0 6px 20px rgba(0,0,0,0.2);
  }
    
  .fab:hover + .fab-options, .fab-options:hover {
    opacity: 1;
    transform: scale(1);
  }

}



