<div class="page-container">
  <div class="example-card">
    <mat-card class="mycart-card mat-elevation-z10">
      <mat-card-title>
        <h3 style="margin-block-end: 0em;">{{headText}}</h3>
      </mat-card-title>
      <form [formGroup]="form">
        <mat-card-content style="padding: 0 2rem;">
          <div class="row">
            <div class="col-xs-6 start-xs">
              <h3>Seleccione un color</h3>
            </div>
          </div>


          <div class="row center-xs" style="padding-bottom: 1rem;">
            <div class="col-xs-2">
              <button type="button" mat-flat-button [ngStyle]="{'background-color': '#003e8c'}" (click)="cartColor='#003e8c'" class="color-button"></button>
            </div>
            <div class="col-xs-2">
              <button type="button" mat-flat-button [ngStyle]="{'background-color': '#96c4e9'}" (click)="cartColor='#96c4e9'" class="color-button"></button>
            </div>
            <div class="col-xs-2">
              <button type="button" mat-flat-button [ngStyle]="{'background-color': '#cc96bc'}" (click)="cartColor='#cc96bc'" class="color-button"></button>
            </div>
            <div class="col-xs-2">
              <button type="button" mat-flat-button [ngStyle]="{'background-color': '#c4540b'}" (click)="cartColor='#c4540b'" class="color-button"></button>
            </div>
            <div class="col-xs-2">
              <button type="button" mat-flat-button [ngStyle]="{'background-color': '#fcde00'}" (click)="cartColor='#fcde00'" class="color-button"></button>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 start-xs">
              <mat-form-field appearance="standard" style="min-width: 50%;">
                <mat-label>Nombre del carrito</mat-label>
                <input matInput formControlName="name" type="text" />
                <mat-error *ngIf="name.hasError('required') && (name.dirty || name.touched)">
                  El nombre es <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <ng-container *ngIf="!isToCreate">
            <div class="row">
              <div class="col-xs-3 start-xs">
                <h3>Integrantes</h3>
              </div>
            </div>

            <div class="row vertical-align">
              <ng-container *ngFor="let user of cart.integrantes">
                <div class="col-xs-1 img-container">
                  <ng-container *ngIf="user.avatar; else elseBlock">
                    <img [src]="imageApi + user.avatar">
                  </ng-container>
                  <ng-template #elseBlock>
                    <mat-icon svgIcon="person-circle-outline" style="height: 50px; width: 50px;"></mat-icon>
                  </ng-template>
                </div>
                <div class="col-xs-10 start-xs">
                  <p *ngIf="user.isOwner; else elseBlock2">{{user.name}} <strong>(Propetario)</strong></p>
                  <ng-template #elseBlock2>
                    <p>{{user.name}}</p>
                  </ng-template>
                </div>
                <div class="col-xs-1">
                  <ng-container *ngIf="!user.isOwner">
                    <button type="button" mat-icon-button (click)="handleClickDelete(user.userId, user.name)">
                      <mat-icon svgIcon="trash-outline-orange"></mat-icon>
                    </button>
                  </ng-container>
                </div>
              </ng-container>
            </div>
          </ng-container>
          </mat-card-content>

        <mat-card-actions class="footer">
          <button type="button" mat-stroked-button class="mat-elevation-z4" (click)="cancel()">CANCELAR</button>
          <ng-container *ngIf="isToCreate; else elseBlock">
            <button type="button" mat-stroked-button (click)="createCart()" class="mat-elevation-z4 btn-action">CREAR</button>
          </ng-container>
          <ng-template #elseBlock>
            <button type="button" mat-stroked-button (click)="save()" class="mat-elevation-z4 btn-action">GUARDAR</button>
          </ng-template>
        </mat-card-actions>

      </form>
    </mat-card>
  </div>
</div>