@import "~src/assets/scss/colors.scss";

$page-footer-height: 64px;

.example-card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: calc(100vh - 64px);
}

.mycart-card {
  background-color: white;
  min-width: 400px;
  max-width: 900px;
  width: 100%;
  min-height: 500px;
  max-height: 800px;
  height: 100%;
  border-radius: 20px;
  overflow: auto;
}


.color-button {
  border-radius: 50%;
  height: 60px;
}

.col-xs-2 {
  flex-basis: 0;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.img-container {
  padding: 0.5rem 0.25rem 0.5rem 0.25rem;
  img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }
}

.footer {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  margin: 0;

  button {
    background: white;
    color: $orange;
    border: 2px solid $orange;
    border-radius: 25px;
    margin-right: 2rem;
  }

  .btn-action {
    background: $orange;
    color: white;
  }
}