@import "~src/assets/scss/colors.scss";

.form-text {
  font-size: 24px;
  font-weight: 400;
}

.mat-form-field {
  width: 75%;
}

.row-buttons {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem 0;
}

.col {
  margin: 0 0.5rem;
}

.search-input ::ng-deep {
  .mat-form-field-wrapper {
    padding-bottom: 1rem;
  }
  .mat-form-field-flex {
    min-width: 130%;
    width: auto;
  }
  .mat-form-field-outline {
    border-radius: 50px;
    text-align: center;
    background-color: white;
  }
  .mat-form-field-appearance-outline .mat-form-field-infix {
    border-top-width: 5px;
    padding: auto;
  }
  .mat-form-field-infix {
    padding: 0.75rem;
    width: auto;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: $blue;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline-start {
    width: 30px;
    border-radius: 50px 0 0 50px;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline-end {
    border-radius: 0 50px 50px 0;
  }
  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-outline-gap {
    border-top-color: $blue;
  }
}

button {
  background: white;
  color: $orange;
  border: 2px solid $orange;
  border-radius: 25px;
}

.btn-action {
  background: $orange;
  color: white;
}