<form class="full-width" [formGroup]="form">
  <mat-card class="center-xs address-card">
    <mat-card-title>
      <h2>{{headText}}</h2>
    </mat-card-title>

    <mat-card-content style="padding: 0 1rem">
      <ng-container *ngIf="data.isToCreate">
        <div class="row start-xs" style="padding-left: 50px;">
          <div class="col-xs-6">
            <mat-form-field appearance="standard">
              <mat-label>Nombre de la lista</mat-label>
              <input matInput formControlName="listName" type="text" />
              <mat-error *ngIf="name.hasError('required') && (name.dirty || name.touched)">
                El nombre es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row start-xs" style="padding-left: 50px;">
          <div class="col-xs-6">
            <h3>Agregar Articulos</h3>
          </div>
        </div>
      </ng-container>

      <div class="row start-xs" style="padding-left: 50px;">
        <div class="col-xs-6 search-input">
          <mat-form-field appearance="outline" [floatLabel]="'never'">
            <input matInput formControlName="search" placeholder="Buscar producto" type="text" [(ngModel)]="searchValue"
              (ngModelChange)="getSearchData()" autocomplete="off" />
            <mat-icon matSuffix color="primary">search</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <app-swiper [numSlides]="3" [productList]="productList" [addToList]="true"
            (productAddToList)="productAddToList($event)"></app-swiper>
        </div>
      </div>

      <div class="row row-buttons">
        <div class="col">
          <button mat-stroked-button class="mat-elevation-z4" (click)="close()">
            Cancelar
          </button>
        </div>
        <div class="col">
          <ng-container *ngIf="data.isToCreate; else elseBlock">
            <button mat-raised-button type="submit" (click)="createList()" [disabled]="!form.valid" class="mat-elevation-z4 btn-action">
              Crear
            </button>
          </ng-container>
          <ng-template #elseBlock>
            <button mat-raised-button type="submit" (click)="addItemList()" class="mat-elevation-z4 btn-action">
              Agregar
            </button>
          </ng-template>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>
