<form class="full-width" [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="center-xs billing-card">
    <mat-card-title>
      <h2>{{data.title}}</h2>
    </mat-card-title>

    <mat-form-field appearance="standard">
          <input matInput  class="primary"
          formControlName="totalForMonth"
          mask="separator.0"
          thousandSeparator="."
          placeholder="Valor" type="number" autocomplete="off">

          <span class="primary" style="position:fixed; right: 39%;">Gs.</span>
    </mat-form-field>
    <div *ngIf="totalForMonth.hasError('required') && (totalForMonth.dirty)" style="margin-left: 5%; margin-top: -1%;">
      <small class="error-message"><strong> El valor para el presupuesto es requerido.</strong></small>
    </div>

    <!-- BOTONES GUARDAR Y CANCELAR -->
    <div class="row row-buttons">
      <div class="col">
        <button mat-stroked-button class="mat-elevation-z4" (click)="close()">
          Cancelar
        </button>
      </div>
      <div class="col">
        <button mat-raised-button type="submit" (click)="onSubmit()" [disabled]="!form.valid" class="mat-elevation-z0 btn-action">
          Guardar
        </button>
      </div>
    </div>
  </mat-card>
</form>