@import "~src/assets/scss/colors.scss";

.mat-card {
  height: 800x;
  width: 600px;
  position:relative;
  left: 150px;
  top: 100px;
}

.form-text {
  font-size: 24px;
  font-weight: 200;
}

.mat-form-field {
  width: 75%;
}

.row-buttons {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.col {
  margin: 0 0.5rem;
}

button {
  background: white;
  color: $orange;
  border: 2px solid $orange;
  border-radius: 25px;
}

.btn-action {
  background: $orange;
  color: white;
}
