@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");

.timeline-container {
  height: 180px;
  width: 100%;
  background-color: #c3763c;
  border-radius: 20px;
}

.timeline-container-prueba {
  height: 180px;
  width: 93%;
  background-color: #c3763c;
  border-radius: 20px;
  margin-left: 53px;
}

.icon-container {
  /* padding: 5px;
  height: 50px;
  width: 50px; */
  left: 5px;
  background: #c3763c;
}

.qr-button{
  position: absolute;
  margin-top: 3%;
  right: 5%;
  font-size: 9pt;
  z-index: 1;
  color: white;
}

.carro{
  font-size: 22pt;
  color: white;
}

.font-white {
  color: white;
  font-size: 14pt;
}

.icon-white {
  color: white;
  font-size: 38pt;
}


.size-24 {
  font-size: 24px;
}

.size-32 {
  font-size: 32px;
}

/* .circle {
  width: 15px;
  height: 15px;
  border-radius: 10px;
  background: transparent;
  border: 5px solid white;
} */

.circle {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  margin-top: 10px;
  background: transparent;
  border: 5px solid #ffffff70;;
}

.line {
  height: 4px;
  background-color: #ffffff70;
  margin-top: 20px;
  width: 30%;
}

.check-icon {
  color: white;
  margin-right: 5px;
  margin-left: -5px;
  margin-top: 5px;
}

.center {
  text-align: center;
}

.padding-sides {
  // padding: 0 24px;
  display: flex;
  margin-left: 140px;
  width: 90%;
}
.padding-sides-pickup {
  // padding: 0 24px;
  display: flex;
  margin-left: 150px;
  width: 90%;
}

.opacity-disabled {
  background-color: white;
  border-color: white
}

.left {
  width: 100%;
  text-align: left;
}

.right {
  width: 100%;
  text-align: right;
  padding-right: 50px;
}
.estados-div{
  width: 100%;
  text-align: center;
  padding-right: 30px;
}