<div class="timeline-container-prueba" *ngIf="this.userOrder.purchaseType === 'delivery'">
  <div style="height: 45%;">
    <mat-grid-list cols="12" rowHeight="100%">
      <mat-grid-tile colspan="1">
        <div class="icon-container">
          <mat-icon class="icon-white" fontSet="material-icons-outlined">home</mat-icon>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="10">
        <div class="left" style="padding-left: 10px;">        
          <mat-label class="font-white" > 
            <b> {{userOrder.purchaseType | titlecase}} </b> <br>
            {{userOrder.addressUser.address}} <br>
            8:00 a 9:00
          </mat-label>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="1">
        <div class="right" >  
          <mat-label class="font-white">Orden N: <br> {{userOrder.id}}</mat-label>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div style="height: 11%; margin-top: 15px;">
    <mat-grid-list cols="12" rowHeight="100%">
      <mat-grid-tile colspan="3" *ngFor="let estado of orderStatusList">
        <div class="estados-div" >
          <mat-label class="font-white">
            {{estado}}
          </mat-label>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="padding-sides">
    <mat-icon *ngIf="statusIndex >= 0" class="check-icon size-32" fill="white">check_circle</mat-icon>
    <div *ngIf="statusIndex < 0" class="circle" [ngClass]="{'opacity-disabled': statusIndex > 0}"></div>
    <div class="line" [ngClass]="{'opacity-disabled': statusIndex > 0}"
      [ngStyle]="{'width': statusIndex > 0 ? '26%' : '26%'}"></div>

    <mat-icon *ngIf="statusIndex > 0" class="check-icon size-32" fill="white">check_circle</mat-icon>
    <div *ngIf="statusIndex < 1" class="circle" [ngClass]="{'opacity-disabled': statusIndex > 0}"></div>
    <div class="line" [ngClass]="{'opacity-disabled': statusIndex > 1}"
      [ngStyle]="{'width': statusIndex > 1 ? '26%' : '26%'}"></div>

    <mat-icon *ngIf="statusIndex > 1" class="check-icon size-32" fill="white">check_circle</mat-icon>
    <div *ngIf="statusIndex < 2" class="circle" [ngClass]="{'opacity-disabled': statusIndex > 1}"></div>
    <div class="line" [ngClass]="{'opacity-disabled': statusIndex > 2 }"
      [ngStyle]="{'width': statusIndex > 2 ? '26%' : '26%'}"></div>

    <mat-icon *ngIf="statusIndex > 2" class="check-icon size-32" fill="white">check_circle</mat-icon>
    <div *ngIf="statusIndex < 3" class="circle" [ngClass]="{'opacity-disabled': statusIndex > 2}"></div>

  </div>
</div>

<div class="timeline-container-prueba" *ngIf="this.userOrder.purchaseType === 'pickup'">
  <div style="height: 45%;">
    <mat-grid-list cols="12" rowHeight="100%">
      <mat-grid-tile colspan="1">
        <div class="icon-container">
          <mat-icon class="icon-white" fontSet="material-icons-outlined">directions_car</mat-icon>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="10">
        <div class="left" style="padding-left: 10px;">        
          <mat-label class="font-white" > 
            <b> {{userOrder.purchaseType | titlecase}} </b> <br>
            {{userOrder.store.name}} <br>
            8:00 a 9:00
          </mat-label>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="1">
        <div class="right" >  
          <mat-label class="font-white">Orden N: <br> {{userOrder.id}}</mat-label>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div style="height: 11%; margin-top: 15px;">
    <mat-grid-list cols="10" rowHeight="100%">
      <mat-grid-tile colspan="2" *ngFor="let estado of orderStatusList">
        <div class="estados-div" style="margin-left: 50px;">
          <mat-label class="font-white">
            {{estado}}
          </mat-label>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="padding-sides-pickup">
    <mat-icon *ngIf="statusIndex >= 0" class="check-icon size-32" fill="white">check_circle</mat-icon>
    <div *ngIf="statusIndex < 0" class="circle" [ngClass]="{'opacity-disabled': statusIndex > 0}"></div>
    <div class="line" [ngClass]="{'opacity-disabled': statusIndex > 0}"
      [ngStyle]="{'width': statusIndex > 0 ? '19%' : '20%'}"></div>

    <mat-icon *ngIf="statusIndex > 0" class="check-icon size-32" fill="white">check_circle</mat-icon>
    <div *ngIf="statusIndex < 1" class="circle" [ngClass]="{'opacity-disabled': statusIndex > 0}"></div>
    <div class="line" [ngClass]="{'opacity-disabled': statusIndex > 1}"
      [ngStyle]="{'width': statusIndex > 1 ? '19%' : '20%'}"></div>

    <mat-icon *ngIf="statusIndex > 1" class="check-icon size-32" fill="white">check_circle</mat-icon>
    <div *ngIf="statusIndex < 2" class="circle" [ngClass]="{'opacity-disabled': statusIndex > 1}"></div>
    <div class="line" [ngClass]="{'opacity-disabled': statusIndex > 2 }"
      [ngStyle]="{'width': statusIndex > 2 ? '19%' : '21%'}"></div>

    <mat-icon *ngIf="statusIndex > 2" class="check-icon size-32" fill="white">check_circle</mat-icon>
    <div *ngIf="statusIndex < 3" class="circle" [ngClass]="{'opacity-disabled': statusIndex > 2}"></div>
    <div class="line" [ngClass]="{'opacity-disabled': statusIndex > 2 }"
      [ngStyle]="{'width': statusIndex > 2 ? '19%' : '21%'}"></div>

    <mat-icon *ngIf="statusIndex > 3" class="check-icon size-32" fill="white">check_circle</mat-icon>
    <div *ngIf="statusIndex < 4" class="circle" [ngClass]="{'opacity-disabled': statusIndex > 3}"></div>

  </div>
</div>
