@import "~src/assets/scss/colors.scss";

.mat-fab {
  .mat-icon {
  color: $orange;
  }
}

.mat-fab {
  .mat-icon {
  color: $white;
  }
}

.mat-icon-button {
  .mat-icon {
    color: $blue;
    font-size: 30px;
    width: 30px;
  }
}

.default-button {
  background-color: #c4540b;
  color: #fff;
  border-radius: 25px;
}

.outline-default-button {
  background-color: #c4540b;
  color: #fff;
  border-radius: 25px;
}

// .mat-button-base {
//   &.mat-button,
//   &.mat-flat-button,
//   &.mat-raised-button,
//   &.mat-stroked-button,
//   &.mat-fab,
//   &.mat-mini-fab {
//     &.outline {
//       background-color: white;
//       border: 2px solid yellow;
//       color: yellow;
//       line-height: 32px;
//     }
//     &.mat-button-disabled {
//       border-color: rgba(0, 0, 0, 0.12);
//     }
//   }
// }

// .gradient {
//   &.mat-flat-button,
//   &.mat-raised-button,
//   &.mat-stroked-button,
//   &.mat-fab,
//   &.mat-mini-fab {
//     color: white;
//     background-color: $orange;
//     background: linear-gradient(90deg, red 0%, $blue 35%);
//     &.mat-button-disabled {
//       background-color: rgba(0, 0, 0, 0.12);
//       background: rgba(0, 0, 0, 0.12);
//     }
//     &.outline {
//       background-color: white;
//       border: 2px solid red;
//       color: red;
//       line-height: 32px;
//     }
//   }
//   &.mat-button.outline {
//     background-color: white;
//     border: 2px solid red;
//     color: red;
//     line-height: 32px;
//   }
// }

// .mat-accent {
//   &.mat-button,
//   &.mat-flat-button,
//   &.mat-raised-button,
//   &.mat-stroked-button,
//   &.mat-fab,
//   &.mat-mini-fab {
//     &.outline {
//       background-color: white;
//       border: 2px solid $orange;
//       color: $orange;
//       line-height: 32px;
//     }
//     &.mat-button-disabled {
//       border-color: rgba(0, 0, 0, 0.12);
//     }
//   }
// }

// .mat-warn {
//   &.mat-button,
//   &.mat-flat-button,
//   &.mat-raised-button,
//   &.mat-stroked-button,
//   &.mat-fab,
//   &.mat-mini-fab {
//     &.outline {
//       background-color: white;
//       border: 2px solid $error-color;
//       color: $error-color;
//       line-height: 32px;
//     }
//     &.mat-button-disabled {
//       border-color: rgba(0, 0, 0, 0.12);
//     }
//   }
// }

// .mat-button,
// .mat-icon-button,
// .mat-stroked-button,
// .mat-fab,
// .mat-flat-button {
//   &.outline {
//     background-color: black;
//     color: white;
//     //line-height: 32px;
//   }
//   &.round {
//     border-radius: 36px;
//   }
// }
