$blue: #003e8c;
$light-blue: #96c4e9;
$pink: #cc96bc;
$orange: #c4540b;
$grey: #393939;
$error-color: #D42121;
$error-warning: #FF950A;
$success: #4D9F2D;
$info: #48ACF0;
$white: #fff;

$plub-blue-palette: (
  50: #e0e8f1,
  100: #b3c5dd,
  200: #809fc6,
  300: #4d78af,
  400: #265b9d,
  500: #003e8c,
  600: #003884,
  700: #003079,
  800: #00286f,
  900: #001b5c,
  A100: #8da4ff,
  A200: #5a7bff,
  A400: #2752ff,
  A700: #0e3dff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$plub-orange-palette: (
  50: white, // #f8eae2,
  100: #edccb6,
  200: #e2aa85,
  300: #d68754,
  400: #cd6e30,
  500: #c4540b,
  600: #be4d0a,
  700: #b64308,
  800: #af3a06,
  900: #a22903,
  A100: #ffd5cc,
  A200: #c4540b,
  A400: #ff8266,
  A700: #ff6d4d,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
