@import "~src/assets/scss/colors.scss";

.user-photo-container {
    display: flex;
    justify-content: flex-start;
    .user-photo {
        width: 90px;
        height: 90px;
        object-fit: cover;
        border-radius: 50%;
    }
}

.user-container {
    margin-bottom: 1rem;
    .user-hola {
        margin-bottom: 0;
        color: $blue;
    }
    
    .user-name {
        margin: 0;
        color: $blue;
        font-size: 1.5rem;
    }
}

.item {
    display: flex;
    align-items: center;
    height: 40px !important;
    cursor: pointer;
    color: $blue;
    font-size: 0.85rem;
    font-weight: 600;
    padding: 0 0.25rem;
    
    mat-icon {
        margin-right: 1.5rem;
        width: 28px;
        height: 28px;
    }

    &:hover {
        background: #f3f4f7;
    }
}