<p-sidebar [(visible)]="display" [showCloseIcon]="true" (onHide)="hideSidebar()">
  <div class="row">
    <div class="col-xs-12">
      <div class="user-photo-container" *ngIf="user?.image">
        <img [src]="imageApi + user?.image" alt="User photo" class="user-photo">
      </div>
      <div class="user-photo-container" *ngIf="!user?.image">
        <p-avatar [style]="{'background-color': '#003e8c', 'color': '#ffffff'}" icon="pi pi-user" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
      </div>
    </div>
    <div class="col-xs-12 user-container" *ngIf="user && user.name">
      <p class="user-hola">Hola,</p>
      <h3 class="user-name">{{user?.name}}</h3>
    </div>
    <div class="col-xs-12" *ngFor="let item of menuList">
      <div class="item" *ngIf="!item.disabled" routerLinkActive="active" [routerLink]="item.route ? item.route : []"
        [routerLinkActiveOptions]="{ exact: true }" (click)="closeSidebarMenu(item.route ? item.route:item.extra)">
        <mat-icon svgIcon="{{item.iconName}}"></mat-icon>
        <span mat-list-text>{{item.displayName}}</span>
      </div>
    </div>
  </div>


<!-- <mat-sidenav-container scroll-y="false" autosize class="sidebar">
  <mat-sidenav #sidenav (closedStart)="closeSidebarMenu('')" [mode]="sidebarMode" class="mat-elevation-z2">
    <mat-nav-list class="mat-sidenav-content">
      <form [formGroup]="form">
        <div class="img-container">
          <ng-container *ngIf="user?.image else elseBlock">
            <img [src]="imageApi + user.image" style="height: 140px; width: 140px;">
          </ng-container>
          <ng-template #elseBlock>
            <mat-icon svgIcon="person-circle-outline" style="height: 140px; width: 140px;"></mat-icon>
          </ng-template>
        </div>
      </form>

      <div style="margin-top: 1rem;">
        <ng-container *ngIf="userObservable$ | async as user">
          <span class="user-hola">Hola,</span>
          <h1 class="user-name">{{user.name}}</h1>
        </ng-container>
      </div>
      <div [style]="{'marginBottom':'1rem'}">
        <ng-container *ngFor="let item of menuList">
          <ng-container *ngIf="!item.children || !item.children.length">
            <a *ngIf="!item.disabled" mat-list-item routerLinkActive="active" [routerLink]="item.route ? item.route : []"
              [routerLinkActiveOptions]="{ exact: true }" (click)="closeSidebarMenu(item.route ? item.route:item.extra)">
              <mat-icon svgIcon="{{item.iconName}}" style="padding-right: 1rem;"></mat-icon>
              <span mat-list-text>{{item.displayName}}</span>
            </a>
          </ng-container>
        </ng-container>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav #rightPanel position="end" [mode]="sidebarMode" fixedInViewport class="panel mat-elevation-z2">
    <ng-template [cdkPortalOutlet]="panelService.panelPortal | async"></ng-template>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container> -->
