@import "~src/assets/scss/colors.scss";

// MAT CARD STYLES
mat-card {
  justify-items: center;
  align-items: center;
  border-radius: 20px;
}

// TOGGLES STYLES
// ::ng-deep .mat-slide-toggle-bar {
//   height: 17px;
//   width: 38px;
// }

// ::ng-deep .mat-slide-toggle-thumb {
//   height: 20px;
//   width: 20px;
// }

// ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
//     transform: translate3d(18px,0,0) !important;
// }

// ::ng-deep .mat-slide-toggle-thumb-container {
//     width: 22px;
//     height: 22px;
//     top: -12px;
// }

.card-container {
  background: url("/../assets/img/Fondo-principal.svg") center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: local, scroll;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.register-card {
  background-color: white;
  max-width: 900px;
  min-width: 400px;
  width: 100%;
  max-height: 900px;
  min-height: 700px;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo-chevron-back {
  transform: rotate(180deg);
}

.icon-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.toggles h2 {
  font-weight: normal;
}

.toggles-row {
  display: flex;
  flex-direction: row;
  height: 60px;
  padding-left: 48px;
}

.acept-button-container {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.acept-button {
  background-color: #fff;
  color: $orange;
  border: 2px solid $orange;
  border-radius: 25px;
}

.content-info-card {
  border-radius: 45px;
  margin: 0;
  padding-left: 20px;
  width: 75%;
  height: 60px;
}

.content-info {
  position: relative;
  .info {
    display: flex;
    flex-direction: column;
    mat-label h3 {
      margin: 5px 0;
    }
  }
  .bold {
    font-weight: bold;
  }
  .btn-actions {
    position: absolute;
    top: -10px;
  }
  .edit {
    right: 45px;
  }
  .delete {
    right: 0px;
  }
}