<div class="page-container">
  <div class="example-card">
    <mat-card class="register-card mat-elevation-z10">
      <mat-card-title>
        <div class="row">
          <div class="col-xs-2 icon-row">
            <button mat-icon-button (click)="back()">
              <img class="logo-chevron-back" src="assets/icon/keyboard_arrow_right.svg" alt="chevron"/>
            </button>
          </div>
          <div class="col-xs-8">
            <h2>Mis direcciones</h2>
          </div>
          <div class="col-xs-2 icon-row">
            <button mat-icon-button (click)="addAddressDialog()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>
      </mat-card-title>
      <mat-card-content>
        <div class="row center-xs" *ngIf="addressList.length === 0 && !this.loading">
          <mat-card class="content-info-card mat-elevation-z10">
            <mat-label><h3>{{messageNotAddressList}}</h3></mat-label>
          </mat-card>
        </div>
        <div class="row center-xs" style="margin-bottom: 7px; margin-top: 7px;" *ngFor="let info of addressList">
          <mat-card class="content-info-card mat-elevation-z10">
            <div class="row content-info">
              <div class="info start-xs">
                <mat-label color="primary bold"><h3>{{info.name | titlecase}}</h3></mat-label>
                <mat-label color="primary"><h3>{{info.address | titlecase}}</h3></mat-label>
              </div>
              <div>
                <button mat-icon-button color="warning" class="btn-actions edit">
                  <mat-icon svgIcon="create-outline" class="icon-back"></mat-icon>
                </button>
                <button mat-icon-button color="warning" class="btn-actions delete">
                  <mat-icon svgIcon="trash-outline" class="icon-back"></mat-icon>
                </button>
              </div>

            </div>
            <br>
          </mat-card>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>