@import "~src/assets/scss/colors.scss";

$page-footer-height: 64px;

.example-card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: calc(100vh - 64px);
}

.mycart-card {
  background-color: white;
  min-width: 400px;
  max-width: 1400px;
  width: 100%;
  min-height: 750px;
  max-height: 900px;
  height: 100%;
  border-radius: 20px;
  overflow: auto;
}

.top-checkbox {
  float: left;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  margin: 0;

  button {
    background: white;
    color: $orange;
    border: 2px solid $orange;
    border-radius: 25px;
    margin-right: 2rem;
  }

  .btn-action {
    background: $orange;
    color: white;
  }
}

// .add-button {
//   height: 10px;
//   width: 6vw;
//   font-size: 25px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

.wrapper {
  border: 3px $orange solid;
  width: 7vw;
  height: 20px;
  padding: 2px;
  display: flex;
  border-radius: 40px;
  margin-top: 4px;
}

.trash {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 30%;
  border: none;
}

.num {
  height: 100%;
  width: 35%;
  border: none;
  font-size: 22px;
  color: $orange;
  text-align: center;
}

.plusminus {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 30%;
  border: none;
  font-size: 36px;
  font-weight: normal;
  color: $orange;
}

.button-row {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  flex-wrap: wrap;
}
