<div class="page-container">
  <div class="example-card">
    <mat-card class="mycart-card mat-elevation-z10">

      <mat-card-title>
        <h3 style="margin-block-end: 0em;">Editar lista</h3>
      </mat-card-title>
      <form [formGroup]="form">
        <mat-card-content style="padding: 0 2rem;">
          <!-- Edit form of the name list -->
          <div class="row">
            <div class="col-xs-3 start-xs">
              <mat-form-field appearance="standard">
                <mat-label>Nombre de la lista</mat-label>
                <input matInput formControlName="listName" type="text"/>
                <mat-error *ngIf="name.hasError('required') && (name.dirty || name.touched)">
                  El nombre es <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-auto"></div>
          </div>

          <!-- Show products text line whith add and delete button products -->
          <div class="row">
            <div class="col-xs-2 start-xs">
              <h3>Articulos</h3>
            </div>
            <div class="col-xs-8"></div>
            <div class="col-xs-1">
              <button type="button" mat-icon-button (click)="deleteItems()">
                <mat-icon svgIcon="trash-outline-orange"></mat-icon>
              </button>
            </div>
            <div class="col-xs-1">
              <button type="button" mat-icon-button (click)="addProductsToList()">
                <mat-icon svgIcon="add-circle-outline"></mat-icon>
              </button>
            </div>
          </div>

          <!-- Show all the products of the list -->
          <div class="row">
            <ng-container *ngFor="let item of list">
              <div class="col-xs-2 button-row">
                <!-- <mat-checkbox class="top-checkbox" [checked]="item.checked" (change)="item.checked = !item.checked">
                </mat-checkbox> -->
                <img [src]="imageApi + item.product?.image" style="max-height: 140px;" />
                <!-- <ng-container *ngIf="showAdd; else elseButton">
                  <button mat-raised-button class="solid-button add-button" (click)="showAdd = false; showTrash = true">AGREGAR</button>
                </ng-container> -->

                <ng-container *ngIf="item.qty === 1; else elseMinusButton">
                  <div class="wrapper">
                    <button class="trash" (click)="handleDelete(item)"><mat-icon svgIcon="trash-outline-orange"></mat-icon></button>
                    <input type="number" class="num" value="0" [value]="item.qty"/>
                    <button class="plusminus" (click)="handlePlus(item)">+</button>
                  </div>
                </ng-container>
                <ng-template #elseMinusButton>
                  <div class="wrapper">
                    <button class="plusminus" (click)="handleMinus(item)">-</button>
                    <input type="number" class="num" value="0" [value]="item.qty"/>
                    <button class="plusminus" (click)="handlePlus(item)">+</button>
                  </div>
                </ng-template>

              </div>
            </ng-container>
          </div>
        </mat-card-content>

        <mat-card-actions class="footer">
          <button type="button" mat-stroked-button class="mat-elevation-z4" (click)="cancel()">CANCELAR</button>
          <button type="button" mat-stroked-button class="mat-elevation-z4 btn-action" (click)="save()">GUARDAR</button>
        </mat-card-actions>
      </form>

    </mat-card>
  </div>
</div>
