<div class="page-container">
    <form class="full-width" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="card-container">
            <mat-card class="center-xs changepassword-card mat-elevation-z10">
                <div class="col-xs-3 start-xs options-container">
                    <button type="button" mat-icon-button routerLink='/profile'>
                        <mat-icon svgIcon="arrow-back-outline"></mat-icon>
                    </button>
                </div>
                <mat-card-title>
                    <h2>Cambiar contraseña</h2>
                </mat-card-title>

                <mat-form-field appearance="standard">
                    <mat-label>Contraseña actual</mat-label>
                    <input matInput formControlName="passwordOld" type="password" autocomplete="off" />
                    <mat-error *ngIf="passwordOld.hasError('required') && (passwordOld.dirty || passwordOld.touched)">
                        La contraseña es <strong>requerida</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="standard">
                    <mat-label>Nueva contraseña</mat-label>
                    <input matInput formControlName="password" type="password" autocomplete="off" />
                    <mat-error *ngIf="password.hasError('required') && (password.dirty || password.touched)">
                        La contraseña nueva es <strong>requerida</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="standard">
                    <mat-label>Confirmar contraseña</mat-label>
                    <input matInput formControlName="passwordRepeat" type="password" autocomplete="off" />
                    <mat-error
                        *ngIf="passwordRepeat.hasError('required') && (passwordRepeat.dirty || passwordRepeat.touched)">
                        La contraseña nueva es <strong>requerida</strong>
                    </mat-error>
                </mat-form-field>



                <!-- BOTON DE GUARDAR -->
                <div class="row row-buttons">
                    <div class="col">
                        <button mat-stroked-button class="mat-elevation-z4" (click)="close()">
                            Cancelar
                        </button>
                    </div>
                    <button mat-raised-button type="submit" (click)="changePassword()" [disabled]="!form.valid"
                        class="mat-elevation-z4 btn-action">
                        Guardar
                    </button>
                </div>
            </mat-card>
        </div>
    </form>
</div>
