@import "~src/assets/scss/colors.scss";


.card-container {
  background-attachment: local, scroll;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-chevron {
  width: 30px;
  height: 30px;
}
.option-container{
  display: flex;
  align-items: center;
}

.mat-card {
    height: 800x;
    width: 480px;
    position:relative;
    left:10px;
    top: 100px;
  }
  
  .form-text {
    font-size: 24px;
    font-weight: 200;
  }
  
  .mat-form-field {
    width: 75%;
  }
  
  .row-buttons {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
  }
  
  .col {
    margin: 0 0.5rem;
  }
  
  button {
    background: white;
    color: $orange;
    border: 2px solid $white;
    border-radius: 25px;
  }
  
  .btn-action {
    background: $orange;
    color: white;
  }
  