<p-toast styleClass="toast-plub-primeng" position="top-right" key="toast-plub">
    <ng-template let-message pTemplate="message">
        <div class="toast-container {{message.severity}}">
            <img src="assets/img/logo-PLUB-azul.svg" alt="Plub">
            <div class="message">
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
        </div>
    </ng-template>
</p-toast>
