@import "~src/assets/scss/colors.scss";

.toast-container {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    img {
        height: 50px;
        width: 50px;
        margin-right: 2rem;
    }

    .message {
        display: flex;
        flex-direction: column;

        h4, p {
            margin: 0;
        }

        h4 {
            font-weight: 600;
        }
    }
}