<div class="page-container">
  <div class="example-card">
    <mat-card class="mycart-card mat-elevation-z10">
      <mat-card-title>
        <h3>Mis carritos</h3>
      </mat-card-title>
      <mat-card-content style="padding-top: 2rem">
        <div class="row" style="padding: 0 4rem;">
          <ng-container *ngFor="let cart of myCarts">
            <div class="col-xs-4 single-cart">
              <app-cart-card [cart]="cart" [user]="user"
              (selectionCart)="onSelectionCartLogo(cart)"
              (selectionClick)="onSelectionCartButton(cart)"
              (sharedCart)="sharedCart($event)"></app-cart-card>
            </div>
          </ng-container>
        </div>
      </mat-card-content>
      <mat-card-footer class="end-xs footer">
        <button type="button" (click)="createCart()" mat-fab class="add-button">
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-footer>
    </mat-card> 
  </div>
</div>

