@import "~src/assets/scss/colors.scss";

.example-card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: calc(100vh - 64px);
}

.mycart-card {
  background-color: white;
  min-width: 400px;
  max-width: 1400px;
  width: 100%;
  min-height: 500px;
  max-height: 800px;
  height: 100%;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  overflow: auto;
}

.single-cart {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer {
  padding-right: 1rem;
  padding-bottom: 1rem;
  .mat-fab .mat-icon {
    color:white;
  }
}
