<div class="page-container">
  <div class="example-card">
    <mat-card class="register-card mat-elevation-z10">
      <mat-card-title class="title-card">
        <div class="row">
          <h2>Reporte</h2>
        </div>
      </mat-card-title>

      <mat-card-content class="content-card">
        <div>
          <mat-card class="content-principal-card">
            <div class="row content-info">
              <div class="info start-xs">
                <mat-label color="primary bold">
                  <h3>PRESUPUESTO MENSUAL</h3>
                </mat-label>
              </div>
              <div>
                <button mat-icon-button color="warning" class="btn-actions edit" (click)="showReportDialog()">
                  <mat-icon svgIcon="create-outline-white" class="icon-back icon-color"></mat-icon>
                </button>
              </div>
              <div class="bar">
                <div class="progress"></div>
              </div>
              <mat-label class="budget-label">{{presupuestoMensual | number:'':'es-PY'}} Gs
              </mat-label>
            </div>
          </mat-card>


          <mat-card class="content-secundary-card mat-elevation-z4">
            <div class="row content-info">
              <div class="info start-xs">
                <mat-label color="primary">
                  <h3>Gastos mensuales</h3>
                </mat-label>
                <canvas width="420" height="300" baseChart [datasets]="chartData" [labels]="chartLabels" [chartType]="chartType">
                </canvas>
              </div>
            </div>
          </mat-card>


          <mat-card class="content-shopping-card mat-elevation-z4">
            <div class="row content-info">
              <div class="info start-xs">
                <mat-label color="primary">
                  <h3>Compras por categorías</h3>
                  <mat-form-field appearance="standard">
                    <mat-select [(value)]="foods[0]">
                      <mat-option *ngFor="let food of foods" [value]="food">
                        {{food}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-label>
                <canvas width="420" height="300" baseChart [datasets]="pieChartData" [labels]="pieChartLabels" [options]="pieChartOptions"
                  [chartType]="pieChartType">
                </canvas>
              </div>
            </div>
          </mat-card>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
