@import "~src/assets/scss/colors.scss";


.card-container {
  background: url("/../assets/img/Fondo-principal.svg") center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: local, scroll;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.register-card {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  background-color: white;
  max-width: 1000px;
  min-width: 400px;
  max-height: 600px;
  min-height: 650px;
  // justify-content: center;
  // align-items: center;
  // text-align: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.content-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  border-radius: 10px;
}

.icon-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.toggles h2 {
  font-weight: normal;
}

.toggles-row {
  display: flex;
  flex-direction: row;
  height: 60px;
  padding-left: 48px;
}

.acept-button-container {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.acept-button {
  background-color: #fff;
  color: $white;
  border: 4px solid $white;
  border-radius: 25px;
}

.content-principal-card {
  background-color: #c4550bd7;
  color: $white;
  border-radius: 10px;
  margin: 0px;
  // padding-left: 20px;
  width: 50%;
  height: 105px;
  font-size: 10px;
  flex-grow: 1;
  position: absolute;
    top: 80px; left: 40px;
  overflow: hidden;

  .budget-label {
    font-size: 20px;
    font-weight: 500;
    position: relative;
    top: 55px; left: -150px; bottom: 0px; right: 0px;
  }
}

.bar {
  height: 9px;
  background-color: #ffffff70;
  position:absolute;
  left: 10px;
  top: 38px;
  border-radius: 10px;
  width: 96%;

  // margin-bottom: 2px;
}

.progress {
  height: 8px;
  background-color: white;
  width: 65%;
  border-radius: 30px;
  margin-bottom: 5px;
}


.content-secundary-card {
  border-radius: 45px;
  margin: 5px;
  padding-left: 0px;
  width: 45%;
  height: 350px;
  font-size: 18px;
  overflow: hidden;
  position: absolute;
    top: 220px; left: 30px; bottom: 0px; right: 0px;
}

.content-shopping-card {
  border-radius: 45px;
  margin: 5px;
  padding-left: 0px;
  width: 45%;
  height: 350px;
  font-size: 18px;
  overflow: hidden;
  position: absolute;
    top: 220px; left: 510px; bottom: 0px; right: 0px;

    mat-form-field {
      position: absolute;
      width: 140px;
      right: 15px;
      top: 0px;
      font-size: 12px;
      }
      p {
        position: absolute;
      }

 }

.content-info {
  position: relative;
  .info {
    display: flex;
    flex-direction: column;
    mat-label {
      h3 {
      margin: 5px 0;
    }
    padding-left: 1rem;
    }
  }
  .bold {
    font-weight: bold;
  }
  .btn-actions {
    position: absolute;
    top: -10px;
    left: 441px;
  }
  .edit {
    right: 45px;
  }
}

.icon-color {
  color: #fff;
}


.add-button {
  position: static;
  left: 600px;
  top: 340px;
  }

.title-card {
  width: 100%;
  font-size: 15px;
  .row {
    position: relative;
    top: 0px; left: 30px;
  }
}
