.cdk-overlay-pane {
  margin-top: 75px;
}

.alert-header {
  --background: #48acf0;
  color: #ffffff;
}
.alert-header.error {
  --background: #d42121;
  color: #ffffff;
}
.alert-header.success {
  --background: #4d9f2d;
  color: #ffffff;
}
.alert-header.warning {
  --background: #ff950a;
  color: #ffffff;
}


.btn {
  color: #48ACF0;
  font-size: 15px;
  --border-radius: 20px;
  min-width: 130px;
  padding: 0 5px;
  height: 32px;
  margin-top: 10px;
  font-weight: 600;
}

.btn.error{
  color: #D42121;
}
.btn.success{
  color: #4D9F2D;
}
.btn.warning{
  color: #FF950A;
}
