@import "~src/assets/scss/colors.scss";

button {
  background: white;
  color: $orange;
  border: 2px solid $orange;
  border-radius: 25px;
}

.btn-action {
  background: $orange;
  color: white;
}

