<mat-card>
  <mat-card-title>
    <h1 mat-dialog-title>{{ data.title }}</h1>
  </mat-card-title>
  <mat-card-content>
    <p>{{ data.message }}</p>
  </mat-card-content>
  <mat-card-actions style="text-align: right">
    <button mat-raised-button type="button" style="margin-right:10px;" (click)="cancel()">{{ data.cancelText }}</button>
    <button mat-raised-button type="button" class="btn-action" (click)="confirm()">{{ data.confirmText }}</button>
  </mat-card-actions>
</mat-card>

