<div *ngIf="productList.length>0; else elseBlock">

  <!-- Swiper Text and show more button -->
  <ng-container *ngIf="textRow">
    <div class="row" style="padding-left: 2rem;">
      <div class="col-xs-10">
        <h2 style="margin-block-end: 0em;">{{textRow}}</h2>
      </div>
      <div class="col-xs-2 center-xs" style="margin-top: 19.92px">
        <ng-container *ngIf="isBySubCategory === true">
          <button mat-button (click)="sM()"><h3 class="viewAll">Ver Todos</h3></button>
        </ng-container>
      </div>
    </div>
  </ng-container>

    <!-- Swiper -->
  <div class="row" style="text-align: center;">
    <swiper class="swiper-products"
    [slidesPerView]="numSlides"
    [slidesPerGroup]="numSlides"
    [simulateTouch] ="false"
    [spaceBetween]="65"
    [loop]="false"
    [autoplay]="false"
    [navigation]="true">
      <ng-template *ngFor="let item of productList" swiperSlide class="promo-slide mat-elevation-z8">
        <app-single-product-card
        [sale]="sale"
        [data]="item"
        [addToList]="addToList"
        (productPlusQty)="onProductPlus($event)"
        (productMinusQty)="onProductMinus($event)"
        (productAddToCart)="onProductAddToCart($event)"
        (productRemoveFromCart)="onProductRemoveFromCart($event)"
        (productAddToList)="onProductAddToList($event)">
        </app-single-product-card>
      </ng-template>
    </swiper>
  </div>
</div>

<ng-template #elseBlock>
  <div *ngIf="likes === true">
    <div class="row start-xs" style="padding-left: 2rem;">
      <h2 style="margin-block-end: 0em;">{{textRow}}</h2>
    </div>
    <div class="row no-favorite-products" style="padding-top: 2rem;">
      <div class="col-auto no-likes-img">
        <img src="../../../assets/img/Pan-grey.svg">
      </div>
      <div class="col-auto no-likes-img">
        <img src="../../../assets/img/Carne-grey.svg">
      </div>
      <div class="col-auto no-likes-img">
        <img src="../../../assets/img/Frutas-grey.svg">
      </div>
    </div>
    <p class="no-favorite-products">Regala corazones para que podamos mostrarte tus favoritos</p>
  </div>
</ng-template>
