<!-- <mat-toolbar [ngStyle]="{backGroundColor} && {'background': backGroundColor}">
  <div class="container">
    <nav class="main-nav">
      <ul class="left-buttons">
        <li>
          <ng-container *ngIf="userObservable$ | async as user">
              <button mat-icon-button (click)="toggleSidebarMenu()" [hidden]="false">
                <mat-icon>menu</mat-icon>
              </button>
          </ng-container>
        </li>
      </ul>
      <ul class="center-buttons">
        <li><a class="accesos" routerLink="/">Diferencial PLUB</a></li>
        <li><a routerLink="/"><img class="plub-logo" src="assets/img/logo-PLUB-azul.svg" alt="PLUB" /></a></li>
        <li><a class="accesos" routerLink="/">Nosotros</a></li>
        <li><a class="accesos" (click)="openAtencionCliente()">Atención al cliente</a></li>
      </ul>
      <ul class="right-buttons">
        <li>
          <button mat-icon-button [matBadge]="cartInfo.cartItems?.length" matBadgePosition="below after"
            (click)="openMyPurchase(myPurchaseRef)">
            <mat-icon svgIcon="cart"></mat-icon>
          </button>
        </li>
        <li>
          <ng-container *ngIf="!userExist">
            <button mat-raised-button class="solid-button" (click)="ingresar()">INGRESAR</button>
          </ng-container>

          <form [formGroup]="form">
            <ng-container>
              <button mat-button class="img-container" style="min-width: 50px;" [matMenuTriggerFor]="menu">
                <ng-container *ngIf="user?.image">
                  <img [src]="imageApi + user.image" style="height: 50px; width: 50px;">
                </ng-container>

              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item (click)="goToProfile()">Mi perfil</button>
                <button mat-menu-item (click)="logout()">Cerrar sesión</button>
              </mat-menu>
            </ng-container>
          </form>

        </li>
      </ul>
    </nav>
  </div>
</mat-toolbar>
<ng-template #myPurchaseRef>
  <app-my-purchase></app-my-purchase>
</ng-template>
<app-left-sidenav [opened]="toggledState"></app-left-sidenav> -->
<!-- </ng-template> -->
<!-- <app-left-sidenav [opened]="toggledState"></app-left-sidenav> -->
<div class="header mat-elevation-z4">
  <div class="header-item menu" *ngIf="userObservable$ | async as user">
    <button (click)="toggleSidebarMenu()" pButton pRipple type="button" icon="pi pi-bars" class="p-button-rounded p-button-text"></button>
  </div>
  <div class="header-item links">
    <a class="accesos" routerLink="/">Diferencial PLUB</a>
    <img [style]="{'cursor': 'pointer'}" routerLink="/" class="plub-logo" src="assets/img/logo-PLUB-azul.svg" alt="PLUB" />
    <a class="accesos" routerLink="/">Nosotros</a>
  </div>
  <div class="header-item menu-user" *ngIf="user; else notLogged;">
    <button (click)="displayPurchase=true" class="cart" mat-icon-button [matBadge]="cartInfo.cartItems?.length" matBadgePosition="below after">
      <mat-icon svgIcon="cart"></mat-icon>
    </button>
    <div class="user">
      <p-avatar [style]="{'cursor': 'pointer'}" (click)="menu.toggle($event)" *ngIf="user?.image; else noPhoto;" image="{{imageApi + user.image}}" size="large" shape="circle"></p-avatar>
      <ng-template #noPhoto>
        <p-avatar (click)="menu.toggle($event)" [style]="{'background-color': '#003e8c', 'color': '#ffffff'}" icon="pi pi-user" styleClass="mr-2" size="large" shape="circle"></p-avatar>
      </ng-template>
    </div>
  </div>
  <ng-template #notLogged>
    <div class="header-item menu-user">
      <button mat-raised-button class="solid-button" (click)="ingresar()">INGRESAR</button>
    </div>
  </ng-template>
</div>
<p-tieredMenu [model]="items" [popup]="true" #menu></p-tieredMenu>
<p-sidebar styleClass="mi-compra-sidebar-primeng" [(visible)]="displayPurchase" [showCloseIcon]="true" position="right">
  <app-my-purchase></app-my-purchase>
</p-sidebar>
