@import "~src/assets/scss/colors.scss";
@import "~src/assets/scss/breakpoints.scss";

.header {
  height: 64px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  z-index: 1000 !important;
  @media (min-width: $md) {
    padding: 0 2rem;
  }

  .header-item {

    &.menu {
      margin-right: 1rem;
      @media (min-width: $md) {
        margin-right: 0;
        display: initial;
      }
      button {
        color: $blue;
      }
    }
    
    &.menu-user {
      display: flex;
      align-items: center;
      justify-content: center;

      .cart {
        margin-right: 1.5rem;
      }

      .user {
        display: none;
        @media (min-width: $md) {
          display: initial;
        }
      }
    }

    &.links {
      display: flex;
      align-items: center;
      flex: 1;
      justify-content: center;
      
      @media (min-width: $md) {
        justify-content: space-around;
      }

      img {
        height: 48px;
        width: auto;
      }

      a.accesos {
        display: none;
        text-decoration: none;
        font-weight: 700;
        color: $blue;

        &:hover {
          text-decoration: underline;
          text-decoration-color: $orange;
        }

        @media (min-width: $md) {
          display: initial;
        }
      }
    }
  }
}
// * {
//   box-sizing: border-box;
//   margin: 0;
//   padding: 0;
// }

// a {
//   color: #003e8c;
//   text-decoration: none;
//   cursor: pointer;
// }

// ul {
//   list-style: none;
// }

// .container {
//   width: 90%;
//   max-width: 2000px;
//   margin: auto;
// }

// .main-nav {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   height: 60px;
//   padding: 20px 0;
//   font-size: 25px;
//   font-weight: bold;
// }

// .solid-button {
//   top: 15px;
// }

// .main-nav ul {
//   display: flex;
// }

// .main-nav ul li a {
//   padding-bottom: 2px;
// }

// .main-nav ul li a:hover {
//   border-bottom: 2px solid $orange;
// }

// .center-buttons {
//   align-items: center;
// }

// .center-buttons li {
//   padding: 0 90px;
// }

// .right-buttons li {
//   padding: 0 30px;
// }

// .plub-logo {
//   height: 45px;
// }

// .login-button {
//   background-color: $orange;
//   color: #fff;
//   border-radius: 25px;
// }

// /* Esconder la hamburguesa */
// [hidden] {
//   display: none;
// }

// .cart {
//   top: 10px;
// }

// /* Responsive */
// .responsive-button {
//   cursor: pointer;
//   position: absolute;
//   top: 10px;
//   right: 40px;
//   z-index: 2;
//   display: none;
// }

// @media(max-width: 1600px) {
//   .center-buttons li {
//     padding: 0 10px;
//   }
// }

// .profile {
//   border-radius: 50%;
//   height: 170px;
//   width: 170px;
// }

// .img-container {
//   padding: 0.5rem 0.25rem 0.5rem 0.25rem;
//   img {
//     border-radius: 50%;
//     height: 50px;
//     width: 50px;
//   }
// }

// .accesos {
//   font-size: 1.25rem;
// }