<main class="main-container">
  <form [formGroup]="filterGroup" (submit)="filterNow()">

    <section class="with-footer">
      <div class="row end-xs">
        <button type="button" mat-icon-button class="icon-button" (click)="close()">
          <mat-icon svgIcon="close-outline-blue"></mat-icon>
        </button>
      </div>

      <div class="row start-xs">
        <h1>FILTRAR</h1>
      </div>

      <div class="row start-xs">
        <h3>Rango de fecha</h3>
      </div>
      <div class="row" style="padding-top: 1rem;">
        <div class="col-xs-6">
          <mat-form-field appearance="standard">
            <mat-label>Fecha desde</mat-label>
            <input matInput readonly="true" [matDatepicker]="picker" formControlName="startDate" [max]="filterGroup.controls.endDate.value">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-xs-6">
          <mat-form-field appearance="standard">
            <mat-label>Fecha hasta</mat-label>
            <input matInput readonly="true" [matDatepicker]="picker2" formControlName="endDate" [min]="filterGroup.controls.startDate.value">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div class="row start-xs">
        <h3>Tipo de compra</h3>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <mat-form-field appearance="standard" style="width: 230px;">
            <mat-label>Tipo</mat-label>
            <mat-select formControlName="purchaseType" multiple>
              <mat-option *ngFor="let type of types" [value]="type">
                {{type}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row start-xs">
        <h3>Tienda</h3>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <mat-form-field appearance="standard" style="width: 230px;">
            <mat-label> Elegir tienda </mat-label>
            <mat-select formControlName="store" multiple>
              <mat-option *ngFor="let store of stores" [value]="store">
                {{store.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </section>

    <div class="footer">
      <button type="reset" mat-raised-button class="clear-button mat-elevation-z2" (click)="cFilter()">LIMPIAR</button>
      <button type="submit" mat-raised-button class="filter-button mat-elevation-z2" [disabled]="filterGroup.invalid">APLICAR</button>
    </div>
  </form>
</main>
