@import "~src/assets/scss/colors.scss";

$page-footer-height: 64px;

.main-container {
  height: calc(100% - 64px);
  form {
    display: inline;
  }
  .card-lists-brands {
    height: 450px;
    overflow: auto;
  }
  .with-footer {
    height: calc(100% - 64px);
    overflow: auto;
    padding-bottom: 0;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  height: $page-footer-height;
  padding-left: 2rem;
  padding-right: 2rem;
}

.row {
  margin-right: 1rem;
  margin-left: 1rem;
  h1 {
    color: $blue;
    margin-block-start: 0em;
    margin-block-end: 0em;
  }
  h2 {
    color: $blue;
    margin-block-end: 0em;
  }
  h3 {
    color: $blue;
    margin-block-end: 0em;
  }
}

.icon-button {
  height: 50px;
  width: 50px;
  mat-icon{
    height: 40px;
    width: 40px;
  }
}

::ng-deep .mat-select-value {
  color: $blue;
}

.filter-button {
  background-color: $orange;
  color: #fff;
  border-radius: 25px;
  height: 40px;
}

.clear-button {
  background-color: #fff;
  color: $orange;
  border: 2px solid $orange;
  border-radius: 25px;
  height: 40px;
  padding: 0 1rem;
}