@import "~src/assets/scss/colors.scss";

// MAT CARD STYLES
mat-card {
  justify-items: center;
  align-items: center;
  border-radius: 20px;
}

.page-container {
  background-image: url("/../assets/img/Fondo-principal.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.card-container {
  background: url("/../assets/img/Fondo-principal.svg") center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: local, scroll;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-header-image {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIEmhh1dSDMImEACYb6d_NSHJ0EiureeopgA&usqp=CAU');
  background-size: cover;
}

.profile {
  border-radius: 50%;
  height: 170px;
  width: 170px;
}

.img-container {
  padding: 0.5rem 0.25rem 0.5rem 0.25rem;
  img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }
}

.example-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.profile-card {
  background-color: white;
  max-width: 600px;
  min-width: 400px;
  width: 100%;
  max-height: 1200px;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-field {
  .mat-form-field {
    width: 100% !important;
  }
  padding: 0 60px;
  display: flex;
  flex-direction: column;
}

.logo-chevron-back {
  transform: rotate(180deg);
}

.icon-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.edit-avatar{
  background-color: $orange;
  position: absolute;
  right: 220px;
  top: 160px;
  width: 35px;
  height: 35px;
  margin-top: 80px;
  margin-left: 80px;
  .mat-icon {
      font-size: 20px;
      position: absolute;
      top: 5px;
      left: 4px;
  }
  .icon-color {
    color: #fff;
  }
}

.register-button-container {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.upload-photo-button-container {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.image-icon {
  background-color: #fff;
  color: $orange;
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 50px;
  height: 24px;
  width: 24px;
  padding-bottom: 5px;
}

.upload-photo-button {
  background-color: #fff;
  color: $orange;
  width: 150px;
  height: 150px;
  font-size: 20px;
}

.register-button {
  background-color: $orange;
  color: #ffff;
  border: 2px solid $orange;
  border-radius: 25px;
  width: 135px;
  font-size: 20px;
}

.options-row {
  display: flex;
  flex-direction: row;
  height: 60px;
  padding-left: 48px;
}

.options-container {
  display: flex;
  align-items: center;
}

.options-container a {
  text-decoration: none;
  color: $blue;
  font-size: 20px;
}

.error-message {
  margin-top: -15px;
  color: $error-color;
  font-weight: 600;
}

