<div class="page-container">
  <div class="example-card">
    <mat-card class="profile-card mat-elevation-z10">
      <mat-card-title>
        <div class="row">
          <div class="col-xs-2 icon-row">
          </div>
          <div class="col-xs-8">
            <h2>Mi Perfil</h2>
          </div>
          <div class="col-xs-2"></div>
        </div>
      </mat-card-title>
      <form [formGroup]="form">
        <div>
          <!-- Foto de perfil -->
          <div class="img-container">
            <ng-container *ngIf="user?.image else elseBlock">
              <img [src]="imageApi + user.image" style="height: 180px; width: 180px;">
            </ng-container>
            <ng-template #elseBlock>
              <mat-icon svgIcon="person-circle-outline" style="height: 180px; width: 180px;"></mat-icon>
            </ng-template>
          </div>
          <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger class="edit-avatar" color="warning">
            <mat-icon svgIcon="create-outline-white" class="icon-edit icon-color"></mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openDialog()">Subir imagen</button>
          </mat-menu>
        </div>
        <br><br><br>
        <mat-card-content>

          <!-- Nombre y Apellido -->
          <div class="row">
            <div class="col-xs-12 form-field">
              <mat-form-field appearance="standard">
                <mat-label>Nombre y apellido</mat-label>
                <input matInput formControlName="name" type="text" />
              </mat-form-field>
              <ng-container class="start-xs" *ngIf="name.hasError('required') && (name.dirty || name.touched)">
                <small class="error-message start-xs">El nombre es requerido.</small>
              </ng-container>
            </div>
          </div>

          <!-- Correo -->
          <div class="row">
            <div class="col-xs-12 form-field">
              <mat-form-field appearance="standard">
                <mat-label>Correo</mat-label>
                <input matInput formControlName="email" type="text" />
              </mat-form-field>
              <ng-container *ngIf="email.hasError('required') && (email.dirty || email.touched)">
                <small class="error-message start-xs">El correo es requerido.</small>
              </ng-container>
              <ng-container *ngIf="email.hasError('email') && (email.dirty || email.touched)">
                <small class="error-message start-xs">El correo debe tener el formato Ej.example@mail.com.</small>
              </ng-container>
            </div>

            <!-- Numero de telefono -->
            <div class="col-xs-12 form-field">
              <mat-form-field appearance="standard">
                <mat-label>Número de teléfono</mat-label>
                <input matInput formControlName="phone" type="text"/>
              </mat-form-field>
              <ng-container *ngIf="phone.hasError('required') && (phone.dirty || phone.touched)">
                <small class="error-message start-xs">El nro de teléfono es requerido.</small>
              </ng-container>
              <ng-container *ngIf="phone.hasError('pattern') && (phone.dirty || phone.touched)">
                <small class="error-message start-xs">El nro de telefono tiene que ser númerico.</small>
              </ng-container>
            </div>

            <!-- Fecha de Nacimiento -->
            <div class="col-xs-12 form-field">
              <mat-form-field appearance="standard">
                <mat-label>Fecha de Nacimiento</mat-label>
                <input matInput [matDatepicker]="picker"
                  (dateInput)="addEvent($event)" formControlName="fecha">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <!-- <input matInput formControlName="fecha" type="date"> -->
              </mat-form-field>
            </div>

            <div class="col-xs-12 form-field">
              <mat-form-field appearance="standard">
                <mat-label>Sexo</mat-label>
                <mat-select formControlName="genero">
                  <mat-option *ngFor="let gender of generos" value="{{gender}}">
                    {{gender}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>


          <div class="col-xs-12" *ngFor="let item of list">
            <div class="options-row start-xs">
              <div class="col-xs-9 options-container">
                <a routerLink={{item.route}}>
                  <mat-label> {{item.displayName}} </mat-label>
                </a>
              </div>
              <div class="col-xs-3 start-xs options-container">
                <button mat-icon-button routerLink={{item.route}}>
                  <img class="logo-chevron" src="assets/icon/keyboard_arrow_right.svg" alt="chevron" />
                </button>
              </div>
            </div>
          </div>
          <!-- <br>
          <div class="row">
            <div class="col-xs-12">
              <div class="options-row start-xs">
                <div class="col-xs-9 options-container">
                  <a routerLink='/change-password'>
                    <mat-label>Cambiar contraseña</mat-label>
                  </a>
                </div>
                <div class="col-xs-3 start-xs options-container">
                  <button mat-icon-button routerLink='/change-password'>
                    <img class="logo-chevron" src="assets/icon/keyboard_arrow_right.svg" alt="chevron" />
                  </button>
                </div>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="options-row start-xs">
                <div class="col-xs-9 options-container">
                  <a routerLink='/myaddress'>
                    <mat-label>Mis direcciones</mat-label>
                  </a>
                </div>
                <div class="col-xs-3 start-xs options-container">
                  <button mat-icon-button routerLink='/myaddress'>
                    <img class="logo-chevron" src="assets/icon/keyboard_arrow_right.svg" alt="chevron" />
                  </button>
                </div>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="options-row start-xs">
                <div class="col-xs-9 options-container">
                  <a routerLink='/mybilling'>
                    <mat-label>Datos de facturación</mat-label>
                  </a>
                </div>
                <div class="col-xs-3 start-xs options-container">
                  <button mat-icon-button routerLink='/mybilling'>
                    <img class="logo-chevron" src="assets/icon/keyboard_arrow_right.svg" alt="chevron" />
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="options-row start-xs">
                <div class="col-xs-9 options-container">
                  <a routerLink='/'>
                    <mat-label>Métodos de pago</mat-label>
                  </a>
                </div>
                <div class="col-xs-3 start-xs options-container">
                  <button mat-icon-button routerLink='/'>
                    <img class="logo-chevron" src="assets/icon/keyboard_arrow_right.svg" alt="chevron" />
                  </button>
                </div>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="options-row start-xs">
                <div class="col-xs-9 options-container">
                  <a routerLink='/'>
                    <mat-label>Notificaciones</mat-label>
                  </a>
                </div>
                <div class="col-xs-3 start-xs options-container">
                  <button mat-icon-button routerLink='/'>
                    <img class="logo-chevron" src="assets/icon/keyboard_arrow_right.svg" alt="chevron" />
                  </button>
                </div>
              </div>
            </div>
          </div> -->

          <div class="register-button-container">
            <button mat-raised-button class="register-button mat-elevation-z6" [disabled]="!form.valid"
              (click)="onSubmit()">GUARDAR</button>
          </div>
        </mat-card-content>
      </form>
    </mat-card>
  </div>
</div>
