<div class="map-container">
  <agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
  <button mat-button style="position: absolute; top: 5.3cm; right: 11.4cm; font-size: larger;" (click)="close()">X</button>
</div>




