@import "~src/assets/scss/colors.scss";
@import "~src/styles.scss";

::ng-deep .mat-slide-toggle .mat-slide-toggle-thumb-container {
  top: 2.2px;
}

// MAT CARD STYLES
mat-card {
  justify-items: center;
  align-items: center;
  border-radius: 20px;
}

.example-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.register-card {
  background-color: white;
  max-width: 900px;
  min-width: 400px;
  width: 100%;
  max-height: 900px;
  min-height: 700px;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.icon-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.toggles h2 {
  font-weight: normal;
}

.toggles-row {
  display: flex;
  flex-direction: row;
  height: 60px;
  padding-left: 48px;
  align-items: center;
}

.logo-chevron-back {
  transform: rotate(180deg);
}

.acept-button-container {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.acept-button {
  background-color: #fff;
  color: $orange;
  border: 2px solid $orange;
  border-radius: 25px;
}

.options-row {
  display: grid;
  justify-content: start;
  padding-left: 60px;
}

.options-container {
  max-width: 750px;
  margin: auto;
  padding: 15px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.options-container a {
  text-decoration: none;
  color: $blue;
  font-size: 20px;
}

.menu-icon:disabled {
  opacity: 0.5;
}