<div class="page-container">
  <div class="example-card">
    <mat-card class="register-card mat-elevation-z10">
      <mat-card-title>
        <div class="row">
          <div class="col-xs-2 icon-row">
            <button mat-icon-button (click)="back()">
              <img class="logo-chevron-back" src="assets/icon/keyboard_arrow_right.svg" alt="chevron"/>
            </button>
          </div>
          <div class="col-xs-8">
            <h2>Notificaciones</h2>
          </div>
          <div class="col-xs-2"></div>
        </div>
      </mat-card-title>
      <mat-card-content>
        <section class="toggles">
          <div class="toggles-row start-xs" *ngFor="let notification of notificationList">
            <div class="col-xs-10">
              <mat-slide-toggle (change)="toggle($event, notification)" [(ngModel)]="notification.checked"><h2>{{notification.classification | titlecase}}</h2></mat-slide-toggle>
            </div>
            <div class="col-xs-2 start-xs">
              <button mat-icon-button class="menu-icon" [disabled]="!notification.checked" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item style="height: fit-content;" (click)="$event.stopPropagation()">
                  <mat-checkbox class="example-margin" [(ngModel)]="notification.push">Push</mat-checkbox>
                </button>
                <button mat-menu-item style="height: fit-content;" (click)="$event.stopPropagation()">
                  <mat-checkbox class="example-margin" [(ngModel)]="notification.email">Email</mat-checkbox>
                </button>
                <button mat-menu-item style="height: fit-content;" (click)="$event.stopPropagation()">
                  <mat-checkbox class="example-margin" [(ngModel)]="notification.sms">SMS</mat-checkbox>
                </button>
              </mat-menu>
            </div>
          </div>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
</div>
