@import "~src/assets/scss/colors.scss";

.form-text {
  font-size: 24px;
  font-weight: 400;
}

.mat-form-field {
  width: 75%;
}

.row-buttons {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.col {
  margin: 0 0.5rem;
}

.map-container {
  padding: 20px 20px;
  display: flex;
  justify-content: center;
}

agm-map {
  width: 700px;
  height: 300px;
}

button {
  background: white;
  color: $orange;
  border: 2px solid $orange;
  border-radius: 25px;
}

.btn-action {
  background: $orange;
  color: white;
}
