<form class="full-width" [formGroup]="form">
  <mat-card class="center-xs address-card">
    <mat-card-title>
      <h2>{{data.title}}</h2>
    </mat-card-title>
    <mat-form-field appearance="standard">
      <mat-label>Nombre de la dirección</mat-label>
      <input matInput formControlName="name" type="text" />
      <mat-error *ngIf="name.hasError('required') && (name.dirty || name.touched)">
        El nombre es <strong>requerido</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Dirección</mat-label>
      <input matInput formControlName="address" type="text" />
      <mat-error *ngIf="address.hasError('required') && (address.dirty || address.touched)">
        La dirección es <strong>requerida</strong>
      </mat-error>
    </mat-form-field>

    <div class="map-container">
      <agm-map [latitude]="latitude" [longitude]="longitude" (mapClick)="choseLocation($event)">
        <agm-marker [latitude]="latitude" [longitude]="longitude" *ngIf="locationChosen" [markerDraggable]="true" (dragEnd)="choseLocation($event)"></agm-marker>
      </agm-map>
    </div>

    <!-- BOTONES ACEPTAR Y CANCELAR -->
    <div class="row row-buttons">
      <div class="col">
        <button mat-stroked-button class="mat-elevation-z4" (click)="close()">
          Cancelar
        </button>
      </div>
      <div class="col">
        <button mat-raised-button type="submit" (click)="crear()" [disabled]="!form.valid" class="mat-elevation-z4 btn-action">
          Aceptar
        </button>
      </div>
    </div>
  </mat-card>
</form>
