@import "~src/assets/scss/colors.scss";
@import "~src/styles.scss";

// MAT CARD STYLES
mat-card {
  justify-items: center;
  align-items: center;
  border-radius: 20px;
}

.example-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.register-card {
  background-color: white;
  max-width: 900px;
  min-width: 400px;
  width: 100%;
  max-height: 900px;
  min-height: 700px;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo-chevron-back {
  transform: rotate(180deg);
}

.logo-chevron-menu {
  transform: rotate(90deg);
}

.mat-expanded .mat-expansion-panel-header-title .logo-chevron-menu{
  transform: rotate(270deg);
}

.icon-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.acept-button-container {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.acept-button {
  background-color: #fff;
  color: $orange;
  border: 2px solid $orange;
  border-radius: 25px;
}

.options-row {
  display: flex;
  flex-direction: row;
  height: 60px;
  padding-left: 48px;
}

.options-container {
  display: flex;
  align-items: center;
}

.options-container a {
  text-decoration: none;
  color: $blue;
  font-size: 20px;
}

.headers-align .mat-expansion-panel-header-title {
  color: $blue;
  flex-basis: 0;
}
.headers-align .mat-expansion-panel {
  color: $blue;
}
