<div class="page-container">
  <div class="example-card">
    <mat-card class="register-card mat-elevation-z10">
      <mat-card-title>
        <div class="row">
          <div class="col-xs-2 icon-row">
            <button mat-icon-button (click)="back()">
              <img class="logo-chevron-back" src="assets/icon/keyboard_arrow_right.svg" alt="chevron"/>
            </button>
          </div>
          <div class="col-xs-8">
            <h2>Preferencias</h2>
          </div>
        </div>
        <div class="col-xs-2"></div>
      </mat-card-title>
      <mat-card-content style="margin: 0 1.5rem;">
        <mat-accordion class="headers-align" multi>
          <mat-expansion-panel class="mat-elevation-z0" hideToggle *ngFor="let category of preferenceCategoryList">
            <mat-expansion-panel-header>
              <mat-panel-title (click)="preferenceByCategory(category)">
                <div class="col-xs-11 start-xs" style="padding: 0;">
                  <h2>{{category.name | titlecase}}</h2>
                </div>
                <div class="col-xs-1 end-xs">
                  <img class="logo-chevron-menu" src="assets/icon/keyboard_arrow_right.svg" alt="chevron"/>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
        
            <div class="row">
              <div class="col-xs-6 start-xs" *ngFor="let preferences of category.preferenceList">
                <mat-slide-toggle [checked]="preferences.checked" (click)="selectPreference(preferences)"><h2 style="font-weight: normal;">{{preferences.name | titlecase}}</h2></mat-slide-toggle>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>
  </div>
</div>