<form class="row filter" [formGroup]="filterGroup" (submit)="filtrar()">
  <div class="col-xs-12">
    <h6 class="filter-title">Filtrar</h6>
  </div>
  <div class="col-xs-12">
    <h6 class="seccion-title">RANGO DE PRECIOS</h6>
  </div>
  <div class="col-xs-12 col-md-6 input-rango">
    <mat-form-field appearance="standard">
      <mat-label>Desde</mat-label>
      <input matInput formControlName="desde" type="text" autocomplete="off" appOnlyPositiveNumber
        appInputThousandsSeparator />
      <span matSuffix>Gs.</span>
      <mat-error *ngIf="filterGroup.controls['desde'].hasError('min')">
        El monto debe ser inferior al de <strong>"Hasta"</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="col-xs-12 col-md-6 input-rango">
    <mat-form-field appearance="standard">
      <mat-label>Hasta</mat-label>
      <input matInput formControlName="hasta" type="text" autocomplete="off" appOnlyPositiveNumber
        appInputThousandsSeparator />
      <span matSuffix>Gs.</span>
      <mat-error *ngIf="filterGroup.controls['hasta'].hasError('max')">
        El monto debe ser superior al de <strong>"Desde"</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="col-xs-12">
    <h6 class="seccion-title">MARCAS</h6>
  </div>
  <div class="col-xs-12 search-container">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input type="text" pInputText class="p-inputtext-sm search-product" placeholder="Buscar..."/>
    </span>
  </div>
  <div class="col-xs-12 col-md-6" *ngFor="let item of brandList">
    <mat-checkbox formControlName="brands" [checked]="item.checked" (change)="item.checked = !item.checked">
      <p class="brand">{{item.brand}}</p>
    </mat-checkbox>
  </div>
  <div class="col-xs-12">
    <div class="button-filters">
      <button type="reset" mat-raised-button>LIMPIAR</button>
      <button type="submit" mat-raised-button class="solid-button">APLICAR</button>
    </div>
  </div>
</form>
<!-- <main class="main-container">
  <form [formGroup]="filterGroup" (submit)="filterNow()">

    <section class="with-footer">
      <div class="row end-xs">
        <button type="button" mat-icon-button class="icon-button" (click)="close()">
          <mat-icon svgIcon="close-outline-blue"></mat-icon>
        </button>
      </div>

      <div class="row start-xs">
        <h1>Filtrar</h1>
      </div>

      <div class="row start-xs">
        <h3>RANGO DE PRECIO</h3>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <mat-form-field appearance="standard">
            <mat-label>Desde</mat-label>
            <input matInput formControlName="desde" type="text" autocomplete="off" appOnlyPositiveNumber
              appInputThousandsSeparator />
            <span matSuffix>Gs.</span>
            <mat-error *ngIf="filterGroup.controls['desde'].hasError('min')">
              El monto debe ser inferior al de <strong>"Hasta"</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xs-6">
          <mat-form-field appearance="standard">
            <mat-label>Hasta</mat-label>
            <input matInput formControlName="hasta" type="text" autocomplete="off" appOnlyPositiveNumber
              appInputThousandsSeparator />
            <span matSuffix>Gs.</span>
            <mat-error *ngIf="filterGroup.controls['hasta'].hasError('max')">
              El monto debe ser superior al de <strong>"Desde"</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>


      <div class="row start-xs">
        <h3>MARCA</h3>
      </div>
      <div class="row">
        <div class="col-auto search-input">
          <mat-form-field appearance="outline" [floatLabel]="'never'">
            <input matInput placeholder="Buscar Marca" type="text" [formControl]="searchFormControl" autocomplete="off" />
            <mat-icon matSuffix color="primary">search</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <mat-card class="card-lists-brands mat-elevation-z0">
        <div *ngFor="let item of brandFiltered" class="row">
          <div class="col-xs-6">
            <mat-checkbox formControlName="brands" [checked]="item.checked" (change)="item.checked = !item.checked"><span style="font-size: 20px;">{{item.brand}}</span></mat-checkbox>
          </div>
        </div>
      </mat-card>
    </section>

    <div class="footer">
      <button type="reset" mat-raised-button class="clear-button mat-elevation-z2">LIMPIAR</button>
      <button type="submit" mat-raised-button class="filter-button mat-elevation-z2">APLICAR</button>
    </div>
  </form>
</main> -->