@import "~src/assets/scss/colors.scss";
@import "~src/assets/scss/breakpoints.scss";

.filter {

  .filter-title {
    margin: 0 0 1.5rem 0;
    color: $blue;
    font-size: 1rem;
  }
  
  .seccion-title {
    margin: 0;
    color: $blue;
    font-size: 1rem;
  }

  .input-rango {
    .mat-form-field {
      font-size: 1rem;
      color: $blue !important;
      width: 100%;
    }

  }

  .search-container {
    padding: 0.5rem 0;
    height: 70px;
    align-items: center;

    .p-input-icon-left {
      width: 100%;
      .search-product {
        width: 100%;
        border: 3px solid $blue;
        border-radius: 1.5rem;
      }
    }
  }

  .brand {
    margin: 0;
    color: $blue;
    font-family: 'Montserrat';
  }

  .button-filters {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;

    button {
      margin: 0 0.5rem;
      border-radius: 1.5rem;
    }
  }
}


// $page-footer-height: 64px;

// .main-container {
//   height: calc(100% - 64px);
//   form {
//     display: inline;
//   }
//   .card-lists-brands {
//     height: 450px;
//     overflow: auto;
//   }
//   .with-footer {
//     height: calc(100% - 64px);
//     overflow: auto;
//     padding-bottom: 0;
//   }
// }

// .footer {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   justify-content: space-evenly;
//   height: $page-footer-height;
//   padding-left: 2rem;
//   padding-right: 2rem;
// }

// .row {
//   margin-right: 1rem;
//   margin-left: 1rem;
//   h1 {
//     color: $blue;
//     margin-block-start: 0em;
//     margin-block-end: 0em;
//   }
//   h2 {
//     color: $blue;
//     margin-block-end: 0em;
//   }
//   h3 {
//     color: $blue;
//     margin-block-end: 0em;
//   }
// }

// span {
//   color: $blue;
// }

// .icon-button {
//   height: 50px;
//   width: 50px;
//   mat-icon{
//     height: 40px;
//     width: 40px;
//   }
// }

// ul {
//   list-style-type: none;
//   margin-top: 4px;
// }

// .buttons-container{
//   position: flex;
//   //bottom: 2px;
// }

// .filter-button {
//   background-color: $orange;
//   color: #fff;
//   border-radius: 25px;
//   height: 40px;
// }

// .clear-button {
//   background-color: #fff;
//   color: $orange;
//   border: 2px solid $orange;
//   border-radius: 25px;
//   height: 40px;
//   padding: 0 1rem;
// }