<div class="example-card">
  <mat-card class="center-xs address-card">
    <mat-card-title>
      <h4>¿Desea seleccionar listas para agregar al carrito?</h4>
    </mat-card-title>
    <mat-card-content class="start-xs" style="padding: 0 4rem;">
      <ng-container *ngFor="let list of cart.listas">
        <mat-list role="list">
          <mat-list-item role="listitem">
            <mat-checkbox [(ngModel)]="list.checked" class="example-ripple-checkbox"> <span>{{ list.name }} ({{list.shoppingListItems.length}})</span> </mat-checkbox>
          </mat-list-item>
        </mat-list>
      </ng-container>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="button" class="btn-action" (click)="aceptar()" [disabled]="cart.listas? false : true "> ACEPTAR </button>
    </mat-card-actions>
  </mat-card>
</div>
