@import "~src/assets/scss/colors.scss";

button {
  background: white;
  color: $orange;
  border: 2px solid $orange;
  border-radius: 25px;
}

.btn-action {
  background: $orange;
  border-color: transparent;
  color: white;
}

span {
  color: $blue;
}

.example-card {
  display: flex;
  justify-content: center;
}

::ng-deep .mat-checkbox .mat-checkbox-inner-container {
  height: 25px;
  width: 25px;
}

::ng-deep .mat-checkbox .mat-checkbox-checked {
  height: 25px;
  width: 25px;
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
  size: 50px;
}