<mat-accordion class="mat-elevation-z4 list-card cus" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <h4>{{shoppingList?.name}}</h4>&nbsp;<span>({{shoppingList?.shoppingListItems?.length}})</span>
    </mat-expansion-panel-header>

    <div class="row">
      <ng-container *ngFor="let item of shoppingList?.shoppingListItems">
        <div class="col-xs-2 col-sm-2 col-lg-1">
          <img [src]="imageApi + item.product?.image" style="max-width: 100px; max-height: 100px;"/>
        </div>
      </ng-container>
    </div>

    <div class="row end-xs">
      <div class="col-xs-1">
        <button mat-icon-button (click)="editList()">
          <mat-icon svgIcon="create-outline-orange"></mat-icon>
        </button>
      </div>
      <div class="col-xs-1">
        <button mat-icon-button (click)="deleteList(shoppingList?.id)">
          <mat-icon svgIcon="trash-outline-orange"></mat-icon>
        </button>
      </div>
      <div class="col-xs-3"></div>
      <button mat-icon-button class="add-button" (click)="aceptar()">
        <mat-icon svgIcon="cart-white"></mat-icon>
        <span>Agregar</span>
      </button>
    </div>
  </mat-expansion-panel>
</mat-accordion>
