@import "~src/assets/scss/colors.scss";

mat-expansion-panel {
  margin-bottom: 1rem;
}

.mat-accordion>.mat-expansion-panel-spacing:last-child, .mat-accordion>*:last-child:not(.mat-expansion-panel) .mat-expansion-panel-spacing {
  margin-bottom: 1rem;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0px !important;
}

.list-card {
  padding-top: 1rem;
  .logo-container {
    position: absolute;
    top: -75px;
  }
  h4{
    margin-block-start: 0;
    margin-block-end: 0;
  }
}

.add-button {
  color: white;
  background: $orange;
  border-radius: 50px 0px 0px 0px;
  width: 20%;
  height: 36px;
  position: absolute;
  bottom: 0;
  mat-icon {
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
  }
}