@import "~src/assets/scss/colors.scss";

// .contact-card-container {
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   .contact-card {
//     background-color: white;
//     max-width: 500px;
//     min-width: 150px;
//     width: 100%;
//     justify-content: center;
//     align-items: center;
//     text-align: center;

//     .contact-container {
//       height: 60px;
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       text-decoration: underline;
//       cursor: pointer;

//       %icon {
//         margin-right: 0.5rem;
//         mat-icon {
//           font-size: 2.5rem;
//         }
//       }
      
//       .wha {
//         @extend %icon;
//         color: #25d366;
        
//       }
      
//       .tel {
//         @extend %icon;
//         color: #003e8c;
//       }
      
//       .text {
//         padding: 0 1rem;
//         font-size: 1.25rem;
//       }
//     }
//   }
  
// }

.title {
  font-size: 1.5rem;
  color: $blue;
  margin-top: 0;
  font-family: 'Montserrat';
  text-align: center;
}

%contact-dialog-item {
  font-family: 'Montserrat';
  height: 50px;
  padding: 0.25rem 1rem;
  margin: 0.25rem 0;
  display: flex;
  align-items: center;
  border-radius: 0.25rem;
  text-decoration: none;
  cursor: pointer;
  

  .icon {
    margin-right: 1rem;
  }
  p {
    margin: 0;
    font-weight: 500;
  }

  &:hover {
    background-color: #fafafa;
  }
}

.wha {
  @extend %contact-dialog-item;
  p {
    color: #25d366;
  }
}

.phone {
  @extend %contact-dialog-item;
  p {
    color: $blue;
  }
}