<p-card styleClass="card-primeng">
  <div class="row">
    <div class="col-xs-12">
      <h4 class="title">Atención al cliente</h4>
    </div>
    <div class="col-xs-12">
      <a class="wha" href="https://api.whatsapp.com/send?phone={{whatsapp?.phone_number}}&text=Hola,%20necesito%20ayuda" target="_blank">
        <div class="icon">
          <p-avatar [style]="{'background-color': '#25d366', 'color': '#ffffff'}"  icon="pi pi-whatsapp" shape="circle"></p-avatar>
        </div>
        <p>Contactar por whatsapp</p>
      </a>
      <a class="phone" href="tel:{{llamadas?.phone_number}}">
        <div class="icon">
          <p-avatar [style]="{'background-color': '#003e8c', 'color': '#ffffff'}"  icon="pi pi-phone" shape="circle"></p-avatar>
        </div>
        <p>Contactar por teléfono {{llamadas?.phone_number}}</p>
      </a>
    </div>
  </div>
</p-card>
<!-- <div class="contact-card-container">
    <mat-card class="contact-card">
      <ng-container>
        <mat-card-title>
          <h2>Atención al cliente</h2>
        </mat-card-title>
      </ng-container>

      <mat-card-content>
        <ng-container>
          <div class="row">
            <div class="col-xs-12">
              <a class="contact-container" href="https://api.whatsapp.com/send?phone=595983483017&text=Hola,%20necesito%20ayuda" target="_blank">
                <div class="wha">
                  <mat-icon>whatsapp</mat-icon>
                </div>
                <div class="text">
                  <p>Contactar por whatsapp</p>
                </div>
              </a>
            </div>
            <div class="col-xs-12">
              <a class="contact-container" (click)="copiar()" matTooltip="Copiar número de telefono"
              matTooltipPosition="below">
                <div class="tel">
                  <mat-icon>phone</mat-icon>
                </div>
                <div class="text">
                  <p>Contactar por teléfono {{telefono}}</p>
                </div>
              </a>
            </div>
          </div>
        </ng-container>
      </mat-card-content>
    </mat-card>
</div> -->
  
