<div class="page-container">
  <div class="example-card">
    <mat-card class="register-card mat-elevation-z10">
      <mat-card-title class="title-card">
        <div class="row">
          <div class="col-xs-3 start-xs options-container">
            <button type="button" mat-icon-button routerLink='/profile'>
              <mat-icon svgIcon="arrow-back-outline"></mat-icon>
            </button>
          </div>
          <div class="col-xs-12">
            <h4 style="margin-block-end: 0em; padding-left: 2rem;">Mis direcciones</h4>
          </div>
        </div>
      </mat-card-title>
      <mat-card-content class="content-card">
        <div class="row center-xs" *ngIf="addressList.length === 0 && !this.loading">
          <mat-card class="content-info-card mat-elevation-z10">
            <mat-label>
              <h3>{{messageNotAddressList}}</h3>
            </mat-label>
          </mat-card>
        </div>
        <div class="row center-xs" style="margin-bottom: 7px; margin-top: 7px;" *ngFor="let item of addressList">
          <mat-card class="content-info-card mat-elevation-z10">
            <div class="row content-info">
              <div class="info start-xs">
                <mat-label color="primary">
                  <h3>{{item.name | titlecase}}</h3>
                </mat-label>
                <mat-label color="primary">{{item.address | titlecase}}</mat-label>
              </div>
              <div>
                <button mat-icon-button color="warning" class="btn-actions edit" (click)="editAddressDialog(item)">
                  <mat-icon svgIcon="edit-outline-orange" class="icon-back icon-color"></mat-icon>
                </button>
                <button mat-icon-button color="orange" class="btn-actions delete trash"
                  (click)="handleClickDelete(item.id)">
                  <mat-icon svgIcon="trash-outline-orange" class="icon-back"></mat-icon>
                </button>
              </div>

            </div>
            <br>
          </mat-card>
        </div>
      </mat-card-content>
      <span style="display: flex"></span>
      <mat-card-footer class="end-xs footer">
        <button type="button" mat-fab class="add-button" (click)="addAddressDialog()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-footer>
    </mat-card>
  </div>
</div>