<div>
  <div class="row" style="text-align: center;">
    <swiper class="swiper-caracteristica"
    [slidesPerView]="5"
    [slidesPerGroup]="1"
    [spaceBetween]="30"
    [loop]="false"
    [autoplay]="false"
    [navigation]="true">
      <ng-template *ngFor="let det of charSlide" swiperSlide class="characteristic-slide" style="flex-direction: column;">
        <div *ngIf="det.type === 'component'" class="div-outline-circle">
          <mat-label><h2 style="font-weight: bold;">{{det.value}}</h2></mat-label>
        </div>
        <div *ngIf="det.type === 'tag'">
          <img class="img-tag" [src]="imageApi + det.icon" />
        </div>
        <div style="width: 100%;">
          <mat-label><h4 style="font-weight: normal; margin: 5px 0;">{{det.description}}</h4></mat-label>
        </div>
      </ng-template>
    </swiper>
  </div>
</div>
