@import "~src/assets/scss/colors.scss";
@import "~src/assets/scss/breakpoints.scss";

.products-container {
  height: calc(100vh - 64px);
  display: flex;
  background-image: url("/../assets/img/Fondo-principal.svg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: auto;

  .sub {
    height: calc(100vh - 64px);
    padding: 1rem 1rem 1rem 2rem;
    display: none;
    
    @media (min-width: $md) {
      display: block;
      width: 30vw !important;
    }
    @media (min-width: $lg) {
      display: block;
      width: 25vw !important;
    }

    .title {
      color : grey;
      font-family: 'Montserrat';
      margin: 0;
      padding: 0 1rem;
    }

    .subcategory-container {
      padding: 0;

      .subcategory {
        height: 40px;
        font-weight: 600;
        font-family: 'Montserrat';
        color: grey;
        display: flex;
        align-items: center;
        border-left: 0.25rem solid transparent;
        padding-left: 0.5rem;
        cursor: pointer;

        &.active-subcategory {
          border-left-color: $orange;
          color: $orange;
        }

        &:hover {
          border-left-color: $orange;
          color: $orange;
          background-color: #fafafa;
        }
      }
    }
  }

  .main {
    flex: 1;
    padding: 1rem;
    min-height: calc(100vh - 64px);
    overflow-y: auto;

    .sub-mobile {
      height: 70px;
      @media (min-width: $md) {
        display: none;
      }
    }

    .search-container {
      padding: 0.5rem 0;
      height: 70px;
      align-items: center;

      .p-input-icon-left {
        width: 100%;
        .search-product {
          width: 100%;
          border: 3px solid $blue;
          border-radius: 1.5rem;
        }
      }
  
      .search-buttons {
        display: flex;
        justify-content: flex-start;
        align-items: center;
  
        button {
          margin-right: 0.5rem;
          color: $blue;
        }
      }
    }

    .title {
      color: $blue;
      font-family: 'Montserrat';
    }

    .sin-preferencia {
      color: grey;
      font-family: 'Montserrat';
    }

    .sin-preferencia-imagenes {
      display: flex;
      align-items: center;
      .item {
        width: 70px;
        height: 70px;
        margin-right: 0.5rem;
        
        @media (min-width: $md) {
          width: 100px;
          height: 100px;
          margin-right: 1rem;
        }
      }
    }

    .solid-button {
      margin: 0.5rem 0;
    }
  }
}

// .global-container {
//   margin-right: auto;
//   margin-left: auto;
//   padding-top: 1rem;
//   padding-bottom: 6rem;
//   width: calc(100% - 10rem);
// }

// .categories-card {
//   height: 822px;
//   overflow: auto;
//   .mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
//     padding-bottom: 0.5rem;
//   }
// }

// .content-card {
//   height: 750px;
//   overflow: auto;
// }

// .product-row {
//   padding: 15px 50px;
//   display: grid;
//   grid-template-columns: repeat(5, 1fr);
//   grid-gap: 65px;
//   grid-column-start: 0;
// }

// .product-card{
//   text-align: center;
//   height: 272px;
//   border-radius: 20px;
//   padding: 0px;
// }

// .footer {
//   padding: 1rem 0;
//   text-align: center;
// }

// input::placeholder {
//   color: #919191;
// }

// .icon-button {
//   height: 50px;
//   width: 50px;
//   mat-icon{
//     height: 40px;
//     width: 40px;
//   }
// }

// .item-menu ::ng-deep {
//   color: $orange;
//   font-size: 16px;
//   height: fit-content;
// }

// .show-more-button {
//   background-color: #fff;
//   color: $orange;
//   border: 2px solid $orange;
//   border-radius: 25px;
//   height: 40px;
//   padding: 0 2rem;
// }
