<div class="products-container">
  <div class="sub">
    <p-card styleClass="product-subcategory-card-primeng mat-elevation-z4">
      <div class="row">
        <div class="col-xs-12">
          <h4 class="title">Categorías</h4>
        </div>
        <div class="col-xs-12 subcategory-container">
          <div (click)="changeSubCategory(item)" class="subcategory" *ngFor="let item of subCategorias; let index = index" [class.active-subcategory]="item?.index">
            {{item.displayName}}
          </div>
        </div>
      </div>
    </p-card>
  </div>
  <div class="main">
    <div class="row search-container">
      <div class="col-xs-9 col-md-6 col-lg-4">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input type="text" pInputText class="p-inputtext-sm search-product" placeholder="Buscar..."/>
        </span>
      </div>
      <div class="col-xs-3 col-md-6 col-lg-4">
        <div class="search-buttons">
          <button (click)="displayFilter = true;" pButton pRipple type="button" icon="pi pi-filter" class="p-button-rounded p-button-text"></button>
          <button (click)="menu.toggle($event)" pButton pRipple type="button" icon="pi pi-sort-alt" class="p-button-rounded p-button-text"></button>
        </div>
      </div>
    </div>
    <div class="row sub-mobile">
      <div class="col-xs-12">
        <p-tabMenu styleClass="subcategorias-menu-primeng" [model]="itemsSubCategorias" [scrollable]="true"></p-tabMenu>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p-card styleClass="product-card-primeng mat-elevation-z4">
          <div class="row">
            <div class="col-xs-12" *ngIf="subCategory == null">
              <h3 class="title">Lo que te gusta</h3>
            </div>
            <div class="col-xs-12" *ngIf="subCategory == null && productList.length > 0; else noPreference;">
              <p-carousel styleClass="carousel-primeng" [numScroll]="4" [numVisible]="4" [value]="productosPreferidos" [circular]="false" [showIndicators]="false" [showNavigators]="true" [responsiveOptions]="breakPoints">
                <ng-template let-offer pTemplate="item">
                  <app-single-product-card [data]="offer" 
                  [addToList]="false"
                  (productPlusQty)="onProductPlus($event)"
                  (productMinusQty)="onProductMinus($event)"
                  (productAddToCart)="addToCart($event)"
                  (productRemoveFromCart)="removeFromCart($event)"></app-single-product-card>
                </ng-template>
              </p-carousel>
            </div>
            <ng-template #noPreference>
              <div class="col-xs-12" *ngIf="subCategory == null">
                <div class="sin-preferencia-imagenes">
                  <img class="item" src="assets/img/Pan-grey.svg" alt="Pan">
                  <img class="item" src="assets/img/Carne-grey.svg" alt="Pan">
                  <img class="item" src="assets/img/Frutas-grey.svg" alt="Pan">
                </div>
              </div>
              <div class="col-xs-12" *ngIf="subCategory == null">
                <p class="sin-preferencia">Regala corazones para que podamos mostrarte tus favoritos</p>
              </div>
            </ng-template>
            <div class="col-xs-12" *ngIf="subCategory == null">
              <h3 class="title">Ofertas</h3>
            </div>
            <div class="col-xs-12" *ngIf="subCategory == null">
              <p-carousel styleClass="carousel-primeng" [numScroll]="4" [numVisible]="4" [value]="productosOfertas" [circular]="false" [showIndicators]="false" [showNavigators]="true" [responsiveOptions]="breakPoints">
                <ng-template let-offer pTemplate="item">
                  <app-single-product-card [data]="offer" 
                  [addToList]="false"
                  (productPlusQty)="onProductPlus($event)"
                  (productMinusQty)="onProductMinus($event)"
                  (productAddToCart)="addToCart($event)"
                  (productRemoveFromCart)="removeFromCart($event)"></app-single-product-card>
                </ng-template>
              </p-carousel>
            </div>
            <div class="col-xs-12">
              <h3 class="title">Los más populares</h3>
            </div>
            <div class="col-xs-12">
              <p-carousel styleClass="carousel-primeng" [numScroll]="4" [numVisible]="4" [value]="productosPopulares" [circular]="false" [showIndicators]="false" [showNavigators]="true" [responsiveOptions]="breakPoints">
                <ng-template let-offer pTemplate="item">
                  <app-single-product-card [data]="offer" 
                  [addToList]="false"
                  (productPlusQty)="onProductPlus($event)"
                  (productMinusQty)="onProductMinus($event)"
                  (productAddToCart)="addToCart($event)"
                  (productRemoveFromCart)="removeFromCart($event)"></app-single-product-card>
                </ng-template>
              </p-carousel>
            </div>
            <div class="col-xs-12">
              <h3 class="title">{{subCategory == null ? 'Todos': subCategoryName}}</h3>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let item of productos">
              <app-single-product-card [data]="item" 
                  [addToList]="false"
                  (productPlusQty)="onProductPlus($event)"
                  (productMinusQty)="onProductMinus($event)"
                  (productAddToCart)="addToCart($event)"
                  (productRemoveFromCart)="removeFromCart($event)"></app-single-product-card>
            </div>
            <div class="col-xs-12 center-xs">
              <button (click)="paginateProducts()" mat-raised-button class="solid-button">Ver más</button>
            </div>
          </div>
        </p-card>
      </div>
    </div>
    <p-scrollTop target="parent"></p-scrollTop>
  </div>
</div>
<p-tieredMenu styleClass="order" [model]="items" [popup]="true" #menu></p-tieredMenu>
<p-sidebar [dismissible]="true" [modal]="false" styleClass="productos-filter-primeng" [(visible)]="displayFilter" [showCloseIcon]="true" position="right">
  <app-right-sidenav [brands]="brands"></app-right-sidenav>
</p-sidebar>
<!-- <mat-drawer-container autosize [hasBackdrop]="false">
  <mat-drawer #drawer mode="over" position="end" [disableClose]="false">
    <app-right-sidenav [brands]="brands" (filterApplied)="filter($event);" (closePressed)="$event? drawer.toggle():null"></app-right-sidenav>
  </mat-drawer>
  <mat-drawer-content>
    <div class="fixed-page-container">
      <div class="global-container">
        <div class="row">

          <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2">
            <mat-card class="categories-card mat-elevation-z10">
              <h1>Categorías</h1>
              <mat-selection-list #categoria [multiple]="false">
                <ng-container *ngFor="let item of menuList; let index = index">
                  <ng-container *ngIf="item.displayName === 'Inicio'; else elseFer">
                    
                    <mat-list-option [value]="item" [selected]="selectedOptions[index]">
                      {{item.displayName}}
                    </mat-list-option>
                  </ng-container>
                  <ng-template #elseFer>
                    <mat-list-option [value]="item" [selected]="selectedOptions[index]" (click)="getProductsBySubCategory(item.id)">
                      {{item.displayName}}
                    </mat-list-option>
                  </ng-template>
                </ng-container>
              </mat-selection-list>
            </mat-card>
          </div>

          <div fxLayout class="col-xs-8 col-sm-10 col-md-10 col-lg-10 product-search">
            <div class="row">
              <div class="col-auto">
                <mat-form-field appearance="outline" [floatLabel]="'never'">
                  <input placeholder="Buscar" matInput type="text" [(ngModel)]="searchValue" (ngModelChange)="getSearchData(categoria.selectedOptions.selected[0]?.value.id)"/>
                  <mat-icon matSuffix color="primary">search</mat-icon>
                </mat-form-field>
              </div>
              <div class="col-xs-2">
              </div>
              <div class="col-auto">
                <button type="button" mat-icon-button class="icon-button" (click)="drawer.toggle()">
                  <mat-icon svgIcon="funnel-outline"></mat-icon>
                </button>
              </div>
              <div class="col-auto">
                <button type="button" mat-icon-button class="icon-button" [matMenuTriggerFor]="orderMenu">
                  <mat-icon svgIcon="swap-vertical-outline"></mat-icon>
                </button>
                <mat-menu #orderMenu="matMenu">
                  <button mat-menu-item class="item-menu" (click)="sortNum = 1"><strong> A-Z </strong></button>
                  <button mat-menu-item class="item-menu" (click)="sortNum = 2"><strong> Z-A </strong></button>
                  <button mat-menu-item class="item-menu" (click)="sortNum = 3"><strong> Precio menor a mayor </strong></button>
                  <button mat-menu-item class="item-menu" (click)="sortNum = 4"><strong> Precio mayor a menor </strong></button>
                </mat-menu>
              </div>
            </div>

            <mat-card class="content-card mat-elevation-z10">
              
              <div class="row">
                <ng-container *ngIf="categoria.selectedOptions.selected[0]?.value.displayName === 'Inicio' else elsePrueba">
                  <h1 style="margin-block-end: 0em; padding-left: 2rem;">Todos</h1>
                </ng-container>
                <ng-template #elsePrueba>
                  <h1 style="margin-block-end: 0em; padding-left: 2rem;">{{categoria.selectedOptions.selected[0]?.value.displayName}}</h1>
                </ng-template>
              </div>

              <div *ngIf="categoria.selectedOptions.selected[0]?.value.displayName === 'Inicio'">
                <app-swiper [sortType]="sortNum" [productList]="[]" [likes]="true" [textRowSwiper]="'Lo que te gusta'" (productAddToCart)="addToCart($event)" (productRemoveFromCart)="removeFromCart($event)"></app-swiper>
                <app-swiper [sortType]="sortNum" [productList]="productListPromo" [sale]="true" [textRowSwiper]="'Ofertas'" (productAddToCart)="addToCart($event)" (productRemoveFromCart)="removeFromCart($event)" (productPlusQty)="onProductPlus($event)" (productMinusQty)="onProductMinus($event)"></app-swiper>
                <app-swiper [sortType]="sortNum" [productList]="productosPopulares" (productAddToCart)="addToCart($event)" (productRemoveFromCart)="removeFromCart($event)" (productPlusQty)="onProductPlus($event)" (productMinusQty)="onProductMinus($event)" [textRowSwiper]="'Lo más populares'"></app-swiper>
                <ng-container *ngFor="let item of menuList; let index = index">
                  <ng-container *ngIf="item.displayName !== 'Inicio'">
                    <app-swiper [sortType]="sortNum" (productAddToCart)="addToCart($event)" (productRemoveFromCart)="removeFromCart($event)" (productPlusQty)="onProductPlus($event)" (productMinusQty)="onProductMinus($event)" [isBySubCategory]="true" [idSubCategory]="item.id" [textRowSwiper]="item.displayName" (showMore)="$event? changeMenuSeleccion(index, item) : null"></app-swiper>
                  </ng-container>
                </ng-container>
              </div>

              
              <ng-container *ngIf="categoria.selectedOptions.selected[0]?.value.displayName !== 'Inicio'">
                <app-swiper [sortType]="sortNum" [productList]="productPopularBySubcategory" (productAddToCart)="addToCart($event)" (productRemoveFromCart)="removeFromCart($event)" (productPlusQty)="onProductPlus($event)" (productMinusQty)="onProductMinus($event)"[textRowSwiper]="'Lo más populares'"></app-swiper>
                

                <div class="row">
                  <h2 style="margin-block-end: 0em; padding-left: 2rem;">Todos</h2>
                </div>

                <div class="row product-row">
                  <ng-container *ngIf="productAllBySubcategory.length === 0; else elseBlock3">
                    <p>No hay resultados</p>
                  </ng-container>
                  <ng-template #elseBlock3>
                    <ng-container *ngFor="let item of productAllBySubcategory">
                      <mat-card class="product-card mat-elevation-z10">
                        <app-single-product-card [data]="item" 
                        [addToList]="false"
                        (productPlusQty)="onProductPlus($event)"
                        (productMinusQty)="onProductMinus($event)"
                        (productAddToCart)="addToCart($event)"
                        (productRemoveFromCart)="removeFromCart($event)"></app-single-product-card>
                      </mat-card>
                    </ng-container>
                  </ng-template>
                </div>

                <mat-card-footer class="footer">
                  <button mat-raised-button class="show-more-button mat-elevation-z2" (click)="getMoreProducts(categoria.selectedOptions.selected[0]?.value.id)">Ver más</button>
                </mat-card-footer>
              </ng-container>

            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container> -->
