@import "~src/assets/scss/colors.scss";

.loading-container {
  position: absolute;
  left: calc(50% - 24px);
  top: 4rem;
  z-index: 2;
  display: block;

  .mat-spinner {
    width: 50px !important;
    height: 50px !important;
  }
}

::ng-deep {
  .http-error-snackbar {
    background-color: $error-color;

    .mat-button {
      color: white;
    }
  }

  .loading-container {
    .mat-spinner {
      svg {
        width: 50px !important;
        height: 50px !important;
      }
    }
  }
}

