@import "~src/assets/scss/colors.scss";

// MAT CARD STYLES
mat-card {
  justify-items: center;
  align-items: center;
  border-radius: 20px;
}

.card-container {
  background: url("/../assets/img/Fondo-principal.svg") center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: local, scroll;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.register-card {
  background-color: white;
  max-width: 900px;
  min-width: 400px;
  width: 100%;
  max-height: 900px;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-field {
  .mat-form-field {
    width: 100% !important;
  }
  padding: 0 60px;
  display: flex;
  flex-direction: column;
}

.logo-chevron-back {
  transform: rotate(180deg);
}

.icon-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.register-button-container {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.upload-photo-button-container {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.image-icon {
  background-color: #fff;
  color: $orange;
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 50px;
  height: 24px;
  width: 24px;
  padding-bottom: 5px;
}

.upload-photo-button {
  background-color: #fff;
  color: $orange;
  width: 150px;
  height: 150px;
  font-size: 20px;
}

.register-button {
  background-color: #fff;
  color: $orange;
  border: 2px solid $orange;
  border-radius: 25px;
}

.options-row {
  display: flex;
  flex-direction: row;
  height: 60px;
  padding-left: 48px;
}

.options-container {
  display: flex;
  align-items: center;
}

// .options-container {
//   max-width: 750px;
//   margin: 0 65px;
//   padding: 15px 0;
//   display: flex;
//   //justify-content: flex-start;
//   //align-items: center;
// }

.options-container a {
  text-decoration: none;
  color: $blue;
  font-size: 20px;
}

.error-message {
  margin-top: -15px;
  color: $error-color;
  font-weight: 600;
}