<div class="page-container" style="overflow-y: auto;">
  <div class="example-card">
    <mat-card class="register-card mat-elevation-z10">
      <mat-card-title>
        <div class="row">
          <div class="col-xs-2 icon-row">
            <button mat-icon-button routerLink="/" (click)="saveUserFormData()">
              <img class="logo-chevron-back" src="assets/icon/keyboard_arrow_right.svg" alt="chevron"/>
            </button>
          </div>
          <div class="col-xs-8">
            <h2>Crear cuenta</h2>
          </div>
          <div class="col-xs-2"></div>
        </div>
      </mat-card-title>
      <mat-card-content>
        <!-- <div class="upload-photo-button-container">
          <button mat-fab color="white" class="upload-photo-button mat-elevation-z6" (click)="saveUserFormData()">
            <mat-icon class="image-icon">image</mat-icon>
            <br/>
            <mat-label>Subir foto</mat-label>
          </button>
        </div> -->
        <form [formGroup]="registerForm">
          <div class="row">
            <div class="col-xs-12 form-field">
              <mat-form-field appearance="standard">
                <mat-label>Nombre y apellido</mat-label>
                <input matInput formControlName="name" type="text"/>
              </mat-form-field>
              <ng-container class="start-xs" *ngIf="name.hasError('required') && (name.dirty || name.touched)">
                <small class="error-message start-xs">El nombre es requerido.</small>
              </ng-container>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-6 form-field">
              <mat-form-field appearance="standard">
              <mat-label>Correo</mat-label>
              <input matInput formControlName="email" type="text"/>
              </mat-form-field>
              <ng-container *ngIf="email.hasError('required') && (email.dirty || email.touched)">
                <small class="error-message start-xs">El correo es requerido.</small>
              </ng-container>
              <ng-container *ngIf="email.hasError('email') && (email.dirty || email.touched)">
                <small class="error-message start-xs">El correo debe tener el formato Ej.example@mail.com.</small>
              </ng-container>
            </div>
            <div class="col-xs-6 form-field">
              <mat-form-field appearance="standard">
                <mat-label>Número de teléfono</mat-label>
                <input matInput formControlName="phone" type="text"/>
              </mat-form-field>
              <ng-container *ngIf="phone.hasError('required') && (phone.dirty || phone.touched)">
                <small class="error-message start-xs">El nro de celular es requerido.</small>
              </ng-container>
              <ng-container *ngIf="phone.hasError('pattern') && (phone.dirty || phone.touched)">
                <small class="error-message start-xs">El nro de telefono tiene que ser númerico.</small>
              </ng-container>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-6 form-field">
              <mat-form-field appearance="standard">
                <mat-label>Razón Social</mat-label>
                <input matInput formControlName="bussinesName" type="text"/>
              </mat-form-field>
              <ng-container *ngIf="bussinesName.hasError('required') && (bussinesName.dirty || bussinesName.touched)">
                <small class="error-message start-xs">La razón social es requerida.</small>
              </ng-container>
            </div>
            <div class="col-xs-6 form-field">
              <mat-form-field  appearance="standard">
                <mat-label>R.U.C.</mat-label>
                <input matInput formControlName="ruc" type="text"/>
              </mat-form-field>
              <ng-container *ngIf="ruc.hasError('required') && (ruc.dirty || ruc.touched)">
                <small class="error-message start-xs">El ruc es requerido.</small>
              </ng-container>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-6 form-field">
              <mat-form-field  appearance="standard">
                <mat-label>Contraseña</mat-label>
                <input matInput formControlName="password" type="password"/>
              </mat-form-field>
              <ng-container *ngIf="password.hasError('required') && (password.dirty || password.touched)">
                <small class="error-message start-xs">La contraseña es requerida.</small>
              </ng-container>
            </div>
            <div class="col-xs-6 form-field">
              <mat-form-field  appearance="standard">
                <mat-label>Confirmar contraseña</mat-label>
                <input matInput formControlName="password2" type="password"/>
              </mat-form-field>
              <ng-container *ngIf="password2.hasError('required') && (password2.dirty || password2.touched)">
                <small class="error-message start-xs">Debe repetir la contraseña</small>
              </ng-container>
            </div>
          </div>

          <br>
          <div class="row">
            <div class="col-xs-6">
              <div class="options-row start-xs">
                <div class="col-xs-9 options-container">
                  <a routerLink='/register/list-stores-nearby' (click)="saveUserFormData()"><mat-label>Tiendas cercanas</mat-label></a>
                </div>
                <div class="col-xs-3 start-xs options-container">
                  <button mat-icon-button routerLink='/register/list-stores-nearby' (click)="saveUserFormData()">
                    <img class="logo-chevron" src="assets/icon/keyboard_arrow_right.svg" alt="chevron"/>
                  </button>
                </div>
              </div> 
            </div>
            <div class="col-xs-6">
              <div class="options-row start-xs">
              <div class="col-xs-9 options-container">
                <a routerLink='/register/address' (click)="saveUserFormData()"><mat-label>Mis direcciones</mat-label></a>
              </div>
                <div class="col-xs-3 start-xs options-container">
                  <button mat-icon-button routerLink='/register/address' (click)="saveUserFormData()">
                    <img class="logo-chevron" src="assets/icon/keyboard_arrow_right.svg" alt="chevron"/>
                  </button>
                </div>
              </div> 
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <div class="options-row start-xs">
                <div class="col-xs-9 options-container">
                  <a routerLink='/register/preferences' (click)="saveUserFormData()"><mat-label>Preferencias</mat-label></a>
                </div>
                <div class="col-xs-3 start-xs options-container">
                  <button mat-icon-button routerLink='/register/preferences' (click)="saveUserFormData()">
                    <img class="logo-chevron" src="assets/icon/keyboard_arrow_right.svg" alt="chevron"/>
                  </button>
                </div>
              </div> 
            </div>
            <div class="col-xs-6">
              <div class="options-row start-xs">
              <div class="col-xs-9 options-container">
                <a routerLink='/register/notifications' (click)="saveUserFormData()"><mat-label>Notificaciones</mat-label></a>
              </div>
                <div class="col-xs-3 start-xs options-container">
                  <button mat-icon-button routerLink='/register/notifications' (click)="saveUserFormData()">
                    <img class="logo-chevron" src="assets/icon/keyboard_arrow_right.svg" alt="chevron"/>
                  </button>
                </div>
              </div> 
            </div>
          </div>

          <div class="register-button-container">
            <button mat-raised-button class="register-button mat-elevation-z6" [disabled]="!registerForm.valid" (click)="register()">REGISTRARSE</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
