@import "~src/assets/scss/colors.scss";

.example-card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: calc(100vh - 64px);
}

.main-card {
  background-color: white;
  min-width: 400px;
  max-width: 900px;
  width: 100%;
  min-height: 500px;
  max-height: 800px;
  height: 100%;
  text-align: center;
  border-radius: 20px;
  overflow: auto;
}

mat-card{
  display:flex;
  flex-direction: column;
}

mat-card-content {
  flex-grow: 1;
  overflow: auto;
}

.icon-button {
  mat-icon {
    height: 30px;
    width: 30px;
  }
}

.logo-container {
  padding: 0;
  background: #F6E7DD;
  border-radius: 10px;
  .logo{
    height: 60px;
    width: 60px;
  }
}

.details{
  .address{
    margin-block-start: 0em;
    margin-block-end: 0.25rem;
  }
}

.cost-color{
  color: $orange;
}

h2 {
  margin-block-start: 0em;
  margin-block-end: 0rem;
}

.circle {
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-color: $orange;
  border-style: solid;
  border-width: 2px;
  color: $orange;
}

.footer {
  .add-button {
    border-radius: 50px 50px 0px 0px;
    width: 25%;
    background: $orange;
    color: white;
    font-weight: 600;
    opacity: 0.8;
  }
  .add-button:hover {
    opacity: 1;
  }
}
