<div class="page-container">
  <div class="example-card">
    <mat-card class="main-card mat-elevation-z10">
      <mat-card-title>
        <div class="row">
          <div class="col-xs-1 center-xs icon-button">
            <button type="button" mat-icon-button (click)="back()">
              <mat-icon svgIcon="arrow-back-outline"></mat-icon>
            </button>
          </div>
          <div class="col-xs-10">
            <h3>Ver Artículos</h3>
          </div>
          <div class="col-xs-1"></div>
        </div>
      </mat-card-title>
      <mat-card-content style="padding: 0 2rem;">
        <div class="row">
          <div class="col-auto logo-container">
            <ng-container *ngFor="let icon of pType">
              <ng-container *ngIf="icon.type === order?.purchaseType">
                <mat-icon svgIcon="{{icon.icon}}" class="logo"></mat-icon>
              </ng-container>
            </ng-container>
          </div>
          <div class="col-xs-8 start-xs details" style="padding-left: 1rem;">
            <h3 class="address">{{order?.purchaseType | uppercase }}</h3>
            <mat-label>{{order?.addressUser?.address}}</mat-label><br>
            <mat-label>20/05/2021</mat-label>
          </div>
          <div class="col-xs-3 end-xs">
            <mat-label>TOTAL</mat-label><br>
            <h2 class="cost-color">{{order?.totalAmount | number:'':'es-PY'}}{{' Gs.'}}</h2>
          </div>
        </div>

        <div class="row start-xs">
          <h3>{{qty}} Artículos</h3>
        </div>

        <div class="row">
          <ng-container *ngFor="let item of items">
            <div class="col-auto" style="padding-bottom: 1rem;">
              <img [src]="imageApi + item.product?.image" style="max-width: 100px; max-height: 100px;" />
            </div>
            <div class="col-xs-4 start-xs">
              <h4 style="margin-block-start: 0em; margin-block-end: 0.25em;">{{item.product?.name}}</h4>
              <span>{{item.product?.brand}}</span>
              <h4 style="margin-block-start: 0.25em;; margin-block-end: 0.25em;">{{item.product?.price | number:'':'es-PY'}} Gs.</h4>
              <span class="circle"><strong>{{item.quantity}}</strong></span>
            </div>
          </ng-container>
        </div>
      </mat-card-content>
      <mat-card-footer class="center-xs footer">
        <button mat-icon-button class="add-button">COMPRAR DE NUEVO</button>
      </mat-card-footer>
    </mat-card>
  </div>
</div>