<div class="page-container">
  <div class="example-card">
    <mat-card class="my-purchase-card mat-elevation-z10">
      <mat-card-title class="title-card">
        <div class="row">
          <div class="col-xs-12 center-lg">
            <h3>Mi Compra</h3>
          </div>
        </div>
      </mat-card-title>
      <mat-card-content class="content-card">
        <div class="row" style="justify-content: space-around">
            <mat-card style="width: 45%">
              <div class="row" style="justify-content: space-between">
                <p>Costo</p>
                <p>{{totalAmount | number:'':'es-PY'}} Gs</p>
              </div>
              <div class="row" style="justify-content: space-between">
                <p>Descuento</p>
                <p>{{discountAmount | number:'':'es-PY'}} Gs</p>
              </div>
              <div class="row" style="justify-content: space-between">
                <p>Delivery</p>
                <p>{{deliveryAmount | number:'':'es-PY'}} Gs</p>
              </div>
              <mat-divider inset></mat-divider>
              <div class="row" style="justify-content: space-between">
                <p><strong>TOTAL</strong></p>
                <p><strong>{{(totalAmount - discountAmount + deliveryAmount) | number:'':'es-PY' }} Gs</strong></p>
              </div>
              <div class="row" style="justify-content: space-between">
                <p>Crédito a favor</p>
                <p>{{deliveryAmount | number:'':'es-PY'}} Gs</p>
              </div>
              <mat-divider inset></mat-divider>
              <div class="row" style="justify-content: space-between">
                <p><strong>Total a pagar</strong></p>
                <p><strong>{{(totalAmount - discountAmount + deliveryAmount - credit) | number:'':'es-PY' }} Gs</strong></p>
              </div>
            </mat-card>
            <mat-card style="width: 45%" class="col">
              <h2 style="width: 45%; text-align: start; color: #ce8591; line-height: 1.4;">
                ¡La manera más
                fácil de realizar
                tus compras!
              </h2>
            </mat-card>
          </div>
        <mat-label style="text-align: start"><h3>{{totalProductsQtyLabel}}</h3></mat-label>
        <div style="display: flex; text-align: start; flex-direction: row; justify-content: space-around; flex-wrap: wrap;">
          <ng-container *ngFor="let item of cart.products">
            <mat-card class="product-card col-md-5">
              <app-single-purchase-card [data]="item"
              (productMinusQty)="onProductMinus($event)"
              (productRemoveFromCart)="removeFromCart($event)" 
              (productPlusQty)="onProductPlus($event)"></app-single-purchase-card>
            </mat-card>
          </ng-container>
        </div>
      </mat-card-content>
      <span style="display: flex"></span>
      <mat-card-actions style="text-align: right">
        <button mat-raised-button type="button" style="margin-right:10px;" (click)="atras()">Atrás</button>
        <button mat-raised-button type="button" routerLink="/mypurchase/checkout" class="btn-action">Continuar</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

