@import "~src/assets/scss/colors.scss";

// MAT CARD STYLES
mat-card {
  justify-items: center;
  align-items: center;
  border-radius: 20px;
}

.product-card {
  text-align: center;
  height: auto;
  box-shadow: none;
  border: none;
  padding: 10px 0;
  margin: 0;
}

.card-container {
  background: url("/../assets/img/Fondo-principal.svg") center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: local, scroll;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.my-purchase-card {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  background-color: white;
  max-width: 900px;
  min-width: 400px;
  max-height: 900px;
  min-height: 700px;
  //justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

button {
  background: white;
  color: $orange;
  border: 2px solid $orange;
  border-radius: 25px;
}

.btn-action {
  background: $orange;
  color: white;
}

.content-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  //flex-grow: 1;
  overflow-y: auto;
  height: 600px;
}

p {
  margin: 6px;
}

