<div class="page-container">
  <div class="example-card">
    <mat-card class="mycart-card mat-elevation-z10">
      <form class="full-width" [formGroup]="form">
        
        <!-- titulo de la pag -->
        <div style="display: flex; flex-direction: row; align-content: center; align-items: center;">
          <mat-icon matSuffix color="primary" svgIcon="arrow-back-outline" (click)="back()"></mat-icon>
          <h2 class="center-xs" style="width: 100%;">{{headText}}</h2>
        </div>

        <mat-card-content style="padding: 0 1rem">
            <ng-container>
              <div class="row start-xs" style="padding-left: 50px;">
                <div class="col-xs-6">
                  <mat-form-field appearance="standard">
                    <mat-label>Nombre de la lista</mat-label>
                    <input matInput formControlName="listName" type="text" />
                    <mat-error *ngIf="name.hasError('required') && (name.dirty || name.touched)">
                      El nombre es <strong>requerido</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row start-xs" style="padding-left: 50px;">
                <div class="col-xs-6">
                  <h3>Agregar artículos</h3>
                </div>
              </div>
            </ng-container>

            <div class="row start-xs" style="padding-left: 50px;">
              <!-- Buscador -->
              <div class="col-xs-6 search-input">
                <mat-form-field appearance="outline" [floatLabel]="'never'">
                  <input matInput formControlName="search" placeholder="Buscar producto" type="text" autocomplete="off" />
                  <mat-icon matSuffix color="primary">search</mat-icon>
                </mat-form-field>
              </div>

              <!-- bottones -->
              <div class="col-xs-6 end-xs">
                <div style="display: flex; align-content: flex-end; justify-content: flex-end; align-items: flex-end;">
                  <div class="col">
                    <button mat-raised-button class="" (click)="close()">
                      Cancelar
                    </button>
                  </div>
                  <div class="col">
                    <button mat-raised-button 
                      type="submit" 
                      (click)="createList()" 
                      [disabled]="!form.valid" 
                      class="mat-elevation-z4 btn-action">
                      Crear
                    </button>
                    <button mat-raised-button
                      type="submit" 
                      style="display: none;" 
                      (click)="addItemList()" 
                      class="mat-elevation-z4 btn-action">
                      Agregar
                    </button>
                  </div>
                </div>
              </div>
            </div>


            <!-- Contenido de productos para lista -->
            <div class="row">

              <div class="col-product-group" style="margin-top: 15px;"
                *ngFor="let productGroup of productGroupList">
                <app-single-product-card-group [productGroupData]="productGroup"></app-single-product-card-group>
              </div>

            </div>

            
        </mat-card-content>
      </form>
    </mat-card>
  </div>
</div>
