<form class="full-width" [formGroup]="form">
  <mat-card class="center-xs billing-card">
    <mat-card-title>
      <h2>{{data.title}}</h2>
    </mat-card-title>

    <mat-form-field appearance="standard">
      <mat-label>Nombre/Razón Social</mat-label>
      <input matInput formControlName="razonsocial" type="string" autocomplete="off"/>
      <mat-error *ngIf="razonsocial.hasError('required') && (razonsocial.dirty || razonsocial.touched)">
        El nombre es <strong>requerido</strong>
      </mat-error> 
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>R.U.C.</mat-label>
      <input matInput formControlName="ruc" type="string" autocomplete="off" />
      <mat-error *ngIf="ruc.hasError('required') && (ruc.dirty || ruc.touched)">
        El Ruc es  <strong>requerido</strong>
      </mat-error> 
    </mat-form-field>

    <!-- <mat-form-field appearance="standard">
      <mat-label>Dirección</mat-label>
      <input matInput formControlName="address" type="string" autocomplete="off"/>
      <mat-error *ngIf="address.hasError('required') && (address.dirty || address.touched)">
        La dirección es <strong>requerida</strong>
      </mat-error>
    </mat-form-field> -->

    <!-- <mat-form-field appearance="standard">
      <mat-label>Teléfono</mat-label>
      <input matInput formControlName="phone" type="string" autocomplete="off"/>
      <mat-error *ngIf="phone.hasError('required') && (phone.dirty || phone.touched)">
        El número de Teléfono es <strong>requerido</strong>
      </mat-error> 
    </mat-form-field> -->

    

    <!-- BOTONES GUARDAR Y CANCELAR -->
    <div class="row row-buttons">
      <div class="col">
        <button mat-stroked-button class="mat-elevation-z4" (click)="close()">
          Cancelar
        </button>
      </div>
      <div class="col">
        <button mat-raised-button type="submit" (click)="crear()" [disabled]="!form.valid" class="mat-elevation-z4 btn-action">
          Guardar
        </button>
      </div>
    </div>
  </mat-card>
</form>
