<mat-card class="mat-elevation-z4 members-card">
  <!-- Logo -->
  <div class="row center-xs">
    <div class="logo-container">
      <button type="button" mat-flat-button [ngStyle]="{'background-color': cart.color}" class="logo">
        <img src="assets/icon/icono_u.png">
      </button>
    </div>
  </div>

  <!-- Title -->
  <mat-card-title style="padding-top: 2rem">
    <div class="row center-xs">
      <h4 style="margin-block-start: 1rem;">{{cart.name}}</h4>
    </div>
  </mat-card-title>

  <!-- Content -->
  <mat-card-content>
    <div class="row start-xs">
      <h4>Integrantes</h4>&nbsp;<span>({{membersList?.length}})</span>
    </div>

    <div class="row">
      <ng-container *ngFor="let user of membersList">
        <div class="col-xs-2">
          <button mat-button class="img-container" style="min-width: 50px;">
            <ng-container *ngIf="user.avatar; else elseBlock">
              <img [src]="imageApi + user.avatar">
            </ng-container>
            <ng-template #elseBlock>
              <mat-icon svgIcon="person-circle-outline"></mat-icon>
            </ng-template>
          </button><br>
          <span>{{user.name}}</span>
        </div>
      </ng-container>
    </div>
  </mat-card-content>
</mat-card>
