@import "~src/assets/scss/colors.scss";

mat-card {
  padding-left: 2rem;
  padding-right: 2rem;
}

.members-card {
  padding-top: 1rem;
  .logo-container {
    position: absolute;
    top: -75px;
  }
  h4{
    margin-block-start: 0;
    margin-block-end: 0;
  }
  mat-icon{
    height: 50px;
    width: 50px;
  }
  .img-container {
    padding: 1rem 0.25rem 0.5rem 0.25rem;
    img {
      border-radius: 50%;
      height: 50px;
      width: 50px;
    }
  }
}

.logo {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  z-index: 1;
  margin-top: 20px;
  position: relative;
  align-items: center;

  img {
    height: 75px;
  }
}