@import "~src/assets/scss/colors.scss";

.photo {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.promo-img {
  padding-top: 5px;
  border-radius: 20px;
  object-fit: contain;
  width: auto;
  height: 450px;
}

.size-img {
  padding-top: 5px;
  border-radius: 20px;
  object-fit: contain;
  width: auto;
  height: 80px;
}

.size-row {
  display: flex;
  flex-direction: row;
}

// MENU DESPLEGABLE
.headers-align {
  width: 95%;
}

.headers-align .mat-expansion-panel-header-title {
  color: $blue;
  flex-basis: 0;
}
.headers-align .mat-expansion-panel {
  color: $blue;
}

::ng-deep .headers-align .mat-expansion-panel-body {
  width: 95%;
}

.logo-chevron-menu {
  height: 35px;
  transform: rotate(90deg);
}

.mat-expanded .mat-expansion-panel-header-title .logo-chevron-menu{
  transform: rotate(270deg);
}

.menu-button {
  height: 20px;
  width: auto;
  display: flex;
  align-items: center;
  margin-top: 5px;
  font-size: 10px;
}

// BOTON + Y -
input {
  text-align: center;
  background-color: $orange;
  color: white;
  border: 1px solid $orange;
} 

input[type="number"] {
  -webkit-appearance: textfield !important;
  -moz-appearance: textfield !important;
  appearance: textfield !important;
  }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

.button-row {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.wrapper {
  border: 2px $orange solid;
  background-color: $orange;
  width: 12vw;
  height: 25px;
  padding: 10px;
  display: flex;
  border-radius: 40px;
}

.plusminus {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 30%;
  background: $orange;
  border: none;
  font-size: 40px;
  font-weight: normal;
  color: white;
}

.trash {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 30%;
  background: $orange;
  border: none;
}

.num {
  height: 100%;
  width: 35%;
  border: none;
  font-size: 30px;
}

table {
  width: 100%;
}

.add-button {
  height: 49px;
  width: 12vw;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-details {
  color: $blue;
}