<div class="popup-container">
  <mat-card class="center-xs address-card">
    <mat-card-title>
      <div class="col-xs icon-row end-xs">
        <button mat-icon-button (click)="close()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </mat-card-title>
    <mat-card-content>
      <div class="row">
        <div class="col-xs-5">
          <div class="row">
            <!-- <div class="col-xs-1 end-xs">
              <button mat-icon-button>
                <mat-icon svgIcon="heart-outline-orange"></mat-icon>
              </button>
            </div> -->
            <div class="col-xs-12 center-xs photo">
              <button mat-icon-button>
                <mat-icon svgIcon="heart-outline-orange"></mat-icon>
              </button>
              <ng-container *ngIf="data.image; else elseBlock">
                <img class="promo-img" [src]="imageApi + data.image">
              </ng-container>
              <ng-template #elseBlock>
                <mat-icon svgIcon="image-outline-grey" class="promo-img"></mat-icon>
              </ng-template>
              <button mat-icon-button>
                <mat-icon svgIcon="share-outline-orange"></mat-icon>
              </button>
            </div>
            <!-- <div class="col-xs-1 start-xs">
              <button mat-icon-button>
                <mat-icon svgIcon="share-outline-orange"></mat-icon>
              </button>
            </div> -->
          </div>
        </div>
        <div class="col-xs-7">
          <div class="row">
            <div class="col-xs-10">
              <mat-label><h2 style="margin-bottom: 0;">{{data.name}}</h2></mat-label>
              <mat-label><h3 style="font-weight: normal; margin: 5px;">{{data.brand}}</h3></mat-label>
              <mat-label><h2 style="margin-top: 0;">{{data.price | number:'':'es-PY' }} Gs.</h2></mat-label>
            </div>
            <div class="col-xs-2 center-xs">
              <button mat-icon-button class="menu-icon" [matMenuTriggerFor]="menu">
                <mat-icon>more_horiz</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item style="height: fit-content;" (click)="$event.stopPropagation()" [matMenuTriggerFor]="listas">
                  Añadir a la lista
                </button>
                <button mat-menu-item style="height: fit-content;" (click)="$event.stopPropagation()">
                  <button mat-button [disabled]='true'>Suscribir</button>
                </button>
              </mat-menu>
              <mat-menu #listas="matMenu" xPosition="before">
                <button mat-menu-item style="height: fit-content;" (click)="$event.stopPropagation()">
                  <mat-checkbox class="example-margin">Compra mensual (10)</mat-checkbox>
                </button>
                <button mat-menu-item style="height: fit-content;" (click)="$event.stopPropagation()">
                  <mat-checkbox class="example-margin">Compra semanal (5)</mat-checkbox>
                </button>
                <button mat-menu-item style="height: fit-content;" (click)="$event.stopPropagation()">
                  <mat-checkbox class="example-margin">Asado finde (3)</mat-checkbox>
                </button>
                <div style="display: flex; justify-content: center;">
                  <button mat-menu-item class="solid-button menu-button">ACEPTAR</button>
                </div>
              </mat-menu>
            </div>
          </div>
          <div *ngIf="charsSlide.length>0; else noCharacteristics">
            <div class="row">
              <mat-label><h3 style="font-weight: bold; padding-left: 20px; margin-bottom: 5px;">Características</h3></mat-label>
            </div>
            <div class="row">
              <div fxLayout class="col-xs-12">
                <app-swiper-characteristics [charSlide]="charsSlide"></app-swiper-characteristics>
              </div>
            </div>
          </div>
          <ng-template #noCharacteristics></ng-template>
          <div class="row">
            <mat-label><h3 style="font-weight: bold; padding-left: 20px; margin-bottom: 5px;">Tamaños</h3></mat-label>
          </div>
          <div class="row size-row">
            <div class="col-xs-2" *ngFor="let product of productVariants">
              <ng-container *ngIf="product.image; else elseBlock">
                <img class="size-img" [src]="imageApi + product.image" style="cursor: pointer;" (click)="productDetailsDialog(product); close()">
                <mat-label><h4 style="font-weight: normal; margin: 5px 0; cursor: pointer;" (click)="productDetailsDialog(product); close()">{{product.size}}</h4></mat-label>
              </ng-container>
              <ng-template #elseBlock>
                <mat-icon svgIcon="image-outline-grey" class="size-img" style="cursor: pointer;" (click)="productDetailsDialog(product); close()"></mat-icon>
                <mat-label><h4 style="font-weight: normal; margin: 5px 0; cursor: pointer;" (click)="productDetailsDialog(product); close()">{{product.size}}</h4></mat-label>
              </ng-template>
            </div>
          </div>
          <div class="row">
            <mat-accordion class="headers-align" multi>
              <mat-expansion-panel class="mat-elevation-z0" hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <div class="col-xs-11 start-xs" style="padding: 0;">
                      <h3 style="font-weight: bold; padding-left: 0; margin-bottom: 5px;">Detalles del producto</h3>
                    </div>
                    <div class="col-xs-1 end-xs">
                      <img class="logo-chevron-menu" src="assets/icon/keyboard_arrow_right.svg" alt="chevron"/>
                    </div>
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="row" *ngFor="let detail of data.details" style="border-bottom:  1px solid;">
                  <div class="col-xs-8 start-xs table-details">
                    <mat-label>{{detail.descripcion ? detail.descripcion : ''}}</mat-label>
                  </div>
                  <div class="col-xs-2 end-xs table-details">
                    <mat-label>{{detail.cantidad ? detail.cantidad : ''}}</mat-label>
                  </div>
                  <div class="col-xs-2 start-xs table-details">
                    <mat-label>{{detail.um ? detail.um : ''}}</mat-label>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
          <div class="row button-row">
            <ng-container *ngIf="showAdd; else elseButton">
              <button mat-raised-button class="solid-button add-button" (click)="showAdd = false; showTrash = true">AGREGAR</button>
            </ng-container>
            <ng-template #elseButton>
              <ng-container *ngIf="showTrash; else elseMinusButton">
                <div class="wrapper">
                  <button class="trash" (click)="handleDelete()"><mat-icon svgIcon="trash-outline-white"></mat-icon></button>
                  <input type="number" class="num" value="0" [value]="value"/>
                  <button class="plusminus" (click)="handlePlus()">+</button>
                </div>
              </ng-container>
              <ng-template #elseMinusButton>
                <div class="wrapper">
                  <button class="plusminus" (click)="handleMinus()">-</button>
                  <input type="number" class="num" value="0" [value]="value"/>
                  <button class="plusminus" (click)="handlePlus()">+</button>
                </div>
              </ng-template>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="row">
        <div fxLayout class="col-xs-12">
          <app-swiper [productList]="productRelatedList" [textRowSwiper]="'Productos relacionados'"></app-swiper>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
