@import "~src/assets/scss/colors.scss";

.mat-card-content {
  margin-bottom: 0;
}

.forgot-pass,
.text-primary {
  cursor: pointer;
}

.login-card {
  background-color: white;
  max-width: 500px;
  min-width: 150px;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.example-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-form-field {
  width: 75%;
}

// LOGIN BUTTON ROW
.example-button-container {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
}

// SOCIAL MEDIA ROW
.row-social-media {
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.col {
  margin: 0 1rem;
}

.logo-redes {
  height: 50px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}

.recover-button-container {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.default-button {
  background-color: $orange;
  color: $orange;
  border-radius: 25px;
}

// REGISTER
.custom-link{
  a{
    color: $orange;
    cursor: pointer;
  }
}

.mat-fab .mat-icon {
  color: #c4540b;
}

.close-icon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}