<div class="example-card">
  <mat-card class="login-card">
    <ng-container *ngIf="recoverPassword === false">
      <mat-card-title>
        <div class="close-icon">
          <button mat-mini-fab color="primary" (click)="close()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <h2>Iniciar sesión</h2>
      </mat-card-title>
    </ng-container>
    <ng-container *ngIf="recoverPassword === true">
      <mat-card-title>
        <h2>Recuperar Contraseña</h2>
      </mat-card-title>
      <mat-card-subtitle>
        <h4> Se le enviará a su correo electrónico la contraseña.</h4>
      </mat-card-subtitle>
    </ng-container>

    <mat-card-content>
      <!-- #### Login #### -->
      <ng-container *ngIf="recoverPassword === false">
        <form [formGroup]="loginForm">
          <!-- email -->
          <mat-form-field appearance="standard">
            <mat-label>Usuario</mat-label>
            <input autocomplete="email" matInput formControlName="username" type="email" />
            <mat-error
              *ngIf="loginForm.controls['username'].hasError('required') && (username.dirty || username.touched)">
              El usuario es <strong>requerido</strong>
            </mat-error>
            <mat-error
              *ngIf="loginForm.controls['username'].hasError('email') && (username.dirty || username.touched)">
              Ingrese un email <strong>válido</strong>
            </mat-error>
          </mat-form-field>

          <!-- Password -->
          <ng-container *ngIf="recoverPassword === false">
            <mat-form-field appearance="standard">
              <mat-label>Contraseña</mat-label>
              <input autocomplete="off" matInput formControlName="password" [type]="hide ? 'password' : 'text'" />
              <button type="button" matSuffix mat-icon-button (click)="hide = !hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
                La contraseña es <strong>requerida</strong>
              </mat-error>
              <mat-hint class="forgot-pass">
                <ng-container *ngIf="recoverPassword === false">
                  <a (click)="recoverPassword = !recoverPassword"> ¿Olvidaste tu contraseña?</a>
                </ng-container>
              </mat-hint>
            </mat-form-field>
          </ng-container>

          <!-- Sign In Button -->
          <div class="example-button-container">
            <button
              color="white"
              mat-fab 
              type="submit"
              [class.spinner]="isLoading$ | async"
              (click)="login()"
              [disabled]="isLoading$ | async"
              class="mat-elevation-z6">
              <mat-icon>arrow_forward</mat-icon>
            </button>
          </div>
        </form>

        <!-- Social Media Sign In -->
        <div class="row row-social-media">
          <div class="col">
            <button mat-icon-button class="mat-elevation-z2">
              <img class="logo-redes" src="assets/icon/facebook.svg" />
            </button>
          </div>
          <div class="col">
            <button mat-icon-button class="mat-elevation-z2">
              <img class="logo-redes" src="assets/icon/google.png" />
            </button>
          </div>
          <div class="col">
            <button mat-icon-button class="mat-elevation-z2">
              <img class="logo-redes" src="assets/icon/apple.svg" />
            </button>
          </div>
        </div>
      </ng-container>

      <!-- #### Recover Password #### -->
      <ng-container *ngIf="recoverPassword === true">
        <app-recover-password
          [recorverPassword]="recoverPassword"
          (recoverEvent)="recoverPassword = $event">
        </app-recover-password>
      </ng-container>
    </mat-card-content>
    <!-- <mat-card-footer class="custom-link" style="padding-bottom: 1rem">
      <span>¿No tienes cuenta?</span>  <a routerLinkActive="active" (click)="registrar()"> Regístrate aquí</a>
    </mat-card-footer> -->
  </mat-card>
</div>
