<!-- <div class="product-container">
  <ng-container *ngIf="data.image; else elseBlock">
    <img class="promo-img" [src]="imageApi + data.image" style="cursor: pointer;" (click)="productDetailsDialog(data)">
  </ng-container>
  <ng-template #elseBlock>
    <mat-icon svgIcon="image-outline-grey" class="promo-img"></mat-icon>
  </ng-template>

  <ng-container *ngIf="sale === true">
    <div class="promo-tag mat-elevation-z6">
      <mat-label>2X1</mat-label>
    </div>
  </ng-container>

  <div class="product-detail" style="cursor: pointer;" (click)="productDetailsDialog(data)">
    <mat-label>{{data.name}}</mat-label>
  </div>

  <div class="row center-xs" *ngIf="!addToList">
    <div style="position: absolute; bottom: 45px;">
      <mat-label style="font-weight: 600;">{{ data.price | number:'':'es-PY' }} Gs.</mat-label>
    </div>
  </div>

  <ng-container *ngIf="addToList; else elseBlock2">
    <div class="row button-row">
      <ng-container *ngIf="showAdd; else elseButton">
        <button mat-icon-button (click)="showAdd = false;"><mat-icon svgIcon="add-circle-outline" fontSet="40"></mat-icon></button>
      </ng-container>
      <ng-template #elseButton>
        <ng-container *ngIf="showTrash; else elseMinusButton">
          <div class="wrapper">
            <button class="trash" (click)="handleDelete()"><mat-icon svgIcon="trash-outline-white"></mat-icon></button>
            <input type="number" class="num" value="0" [value]="value"/>
            <button class="plusminus-addlist" (click)="handlePlus()">+</button>
          </div>
        </ng-container>
        <ng-template #elseMinusButton>
          <div class="wrapper">
            <button class="plusminus-addlist" (click)="handleMinus()">-</button>
            <input type="number" class="num" value="0" [value]="value"/>
            <button class="plusminus-addlist" (click)="handlePlus()">+</button>
          </div>
        </ng-template>
      </ng-template>
    </div>
  </ng-container>

  <ng-template #elseBlock2>
    <div class="row center-xs" >
      <div *ngIf="!productAdded" class="action-button">
        <button mat-icon-button (click)="addProductToCart(data)" and (click)="openDialog(data)" class="add-button">Agregar</button>
      </div>
      <div *ngIf="productAdded" class="product-added">
        <ng-container *ngIf="showTrash; else elseMinusButton">
          <div class="wrapper">
            <button class="trash" mat-icon-button (click)="handleDelete()"><mat-icon svgIcon="trash-outline-white"></mat-icon></button>
            <input readonly [disabled]="true" type="number" class="num" value="0" [value]="data.qty"/>
            <button mat-icon-button class="plusminus" (click)="handlePlus()">+</button>
          </div>
        </ng-container>
        <ng-template #elseMinusButton>
          <div class="wrapper">
            <button mat-icon-button class="plusminus" (click)="handleMinus()">-</button>
            <input readonly [disabled]="true" type="number" class="num" value="0" [value]="data.qty"/>
            <button mat-icon-button class="plusminus" (click)="handlePlus()">+</button>
          </div>
        </ng-template>
      </div>
    </div>

  </ng-template>
</div> -->
<mat-card>
  <div class="product-image" *ngIf="data.image; else nophoto;">
    <img [src]="imageApi + data.image" [alt]="data.name" />
  </div>
  <ng-template #nophoto>
    <div class="product-image">
      <img src="assets/img/nophoto.png" alt="No photo" />
    </div>
  </ng-template>
  <div class="product-name">
    <p>{{data.name}}</p>
  </div>
  <div class="product-price">
    <p>{{data.extra}} Gs</p>
  </div>
  <div class="action-button">
    <button mat-icon-button size="small" class="shop-button">
      AGREGAR
    </button>
  </div>
  <div class="off" *ngIf="data.offer_price">
    <p>{{data.discount || data.off}}</p>
  </div>
</mat-card>