@import "~src/assets/scss/colors.scss";
@import "~src/assets/scss/breakpoints.scss";

mat-card {
  padding: 0;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  .product-image {
    display: flex;
    justify-content: center;
    padding: 1rem;
    img {
      width: 60%;
      max-height: 92.63px;
      object-fit: contain;
    }
  }

  .product-name {
    margin: 0.25rem 0;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      padding: 0 0.25rem;
      margin:0;
      text-align: center;
      color: grey;
      font-weight: 500;
      font-size: 0.875rem;

      @media (min-width: $md) {
        font-size: 1rem;
      }
    }
  }
  
  .product-price {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      margin:0;
      text-align: center;
      color: $blue;
      font-weight: 700;
      font-size: 0.875rem;
      @media (min-width: $md) {
        font-size: 1rem;
      }
    }
  }

  .action-button {
    display: flex;
    justify-content: center;
    button {
      background-color: #c4540b;
      color: #fff;
      width: 60%;
      border-radius: 0;
      border-top-right-radius: 1.5rem;
      border-top-left-radius: 1.5rem;
      font-size: 0.875rem;

      mat-icon {
        color: #fff;
        margin-right: 8px;
        font-size: 1.5rem;
      }

      @media (min-width: $md) {
        font-size: 1rem;
        width: 75%;
        border-top-right-radius: 4rem;
        border-top-left-radius: 4rem;
      }
    }
  }

  .off {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    background-color: $blue;
    width: 35%;
    border-top-right-radius: 20px;
    position: absolute;
    left: 0;
    top: 1.5rem;

    p {
      margin:0;
      text-align: center;
      color: #fff;
      font-weight: 500;
      font-size: 0.75rem;
    }
  }

}
// .product-container {
//   // @media screen and (min-width:1200px) {
//   //   width: 300px;
//   // }
//   .promo-img {
//     padding-top: 5px;
//     border-radius: 20px;
//     object-fit: contain;
//     width: auto;
//     height: 151px;
//   }
// }

// .promo-tag {
//   position: absolute;
//   width: 4rem;
//   background: $blue;
//   color: white;
//   border-top-right-radius: 20px;
//   top: 1rem;
//   text-align: center;
//   padding: 5px;
// }

// .product-detail {
//   height: 35.25%;
//   display: grid;
//   align-items: center;
//   text-align: center;
// }

// .action-button {
//   position: absolute;
//   bottom: 0;
//   width: 100%;
//   .add-button {
//     border-radius: 50px 50px 0px 0px;
//     width: 80%;
//     background: $orange;
//     color: white;
//     font-weight: 600;
//     opacity: 0.8;
//   }
//   .add-button:hover {
//     opacity: 1;
//   }
// }

// .product-added {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   position: absolute;
//   bottom: 0;
//   height: 40px;
//   width: 80%;
//   border-radius: 50px 50px 0px 0px;
//   background: $orange;
//   color: white;
//   .wrapper {
//     width: 100px;
//     height: 24px;
//     display: flex;
//     justify-content: space-between;
//     .mat-icon-button {
//       width: 24px;
//     }
//   }
//   input {
//     padding: 0px;
//     width: 35px;
//     text-align: center;
//     background-color: #c4540b;
//     color: white;
//     height: 100%;
//     border: none;
//     font-size: 24px;
//     font-weight: 600;
//   }
// }

// .plusminus {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   height: 100%;
//   width: 30%;
//   background: $orange;
//   border: none;
//   font-size: 32px;
//   font-weight: normal;
//   color: white;
// }


// .trash {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   height: 100%;
//   width: 30%;
//   background: $orange;
// }

// .wrapper {
//   border: 3px $orange solid;
//   width: 7vw;
//   height: 20px;
//   padding: 2px;
//   display: flex;
//   border-radius: 40px;
//   margin-top: 4px;
// }

// .num {
//   height: 100%;
//   width: 35%;
//   border: none;
//   font-size: 22px;
//   color: $orange;
//   text-align: center;
// }

// .plusminus-addlist {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   height: 100%;
//   width: 30%;
//   border: none;
//   font-size: 36px;
//   font-weight: normal;
//   color: $orange;
// }

// .button-row {
//   display: flex;
//   justify-content: center;
//   padding-top: 20px;
//   flex-wrap: wrap;
// }
