@import "~src/assets/scss/colors.scss";

.logo-container {
  padding: 0;
  background: #F6E7DD;
  border-radius: 10px;
  .logo{
    height: 60px;
    width: 60px;
  }
}

.details{
  .address{
    margin-block-start: 0em;
    margin-block-end: 0.25rem;
  }
}

.cost-color{
  color: $orange;
}

h2 {
  margin-block-start: 0em;
  margin-block-end: 0rem;
}

h3 {
  margin-block-start: 0em;
  margin-block-end: 0rem;
}

.items {
  padding: 1rem 2rem 0rem;
  display: flex;
  align-items: center;
  .btn-action {
    background: $orange;
    color: white;
    border-radius: 50px;
    line-height: 25px;
  }
}

.add-button {
  height: 35px;
  border-radius: 50px 50px 0px 0px;
  width: 25%;
  background: $orange;
  color: white;
  font-weight: 600;
  opacity: 0.8;
}
.add-button:hover {
  opacity: 1;
}

