<mat-card class="mat-elevation-z4" style="margin: 2rem 0rem;">
  <mat-card-content>
    <div class="row" style="padding: 0 2rem;">
      <div class="col-auto logo-container">
        <ng-container *ngFor="let icon of pType">
          <ng-container *ngIf="icon.type === data?.purchaseType">
            <mat-icon svgIcon="{{icon.icon}}" class="logo"></mat-icon>
          </ng-container>
        </ng-container>
      </div>
      <div class="col-xs-8 start-xs details" style="padding-left: 1rem;">
        <h3 class="address">{{data?.purchaseType | uppercase }}</h3>
        <mat-label>{{data?.addressUser?.address}}</mat-label><br>
        <mat-label>{{data?.createdAt | date: 'd/M/yy'}}</mat-label>
      </div>
      <div class="col-xs-3 end-xs">
        <mat-label>TOTAL</mat-label><br>
        <h2 class="cost-color">{{data?.totalAmount | number:'':'es-PY'}}{{' Gs.'}}</h2>
      </div>
    </div>
    <div class="row items">
      <div class="col-xs-2 start-xs">
        <h3>{{qty}} artículo/s</h3>
      </div>
      <div class="col-xs-10 end-xs">
        <button mat-raised-button type="button" class="btn-action" (click)="onSelectSeeProducts(data.id)">Ver Articulos</button>
      </div>
    </div>
  </mat-card-content>
  <mat-card-footer class="center-xs">
    <button mat-icon-button class="add-button" (click)="aceptar()">AGREGAR AL CARRITO</button>
  </mat-card-footer>
</mat-card>
