<!-- <div class="row page-container">
  <div class="col-xs-12 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
  <div class="example-card">
    <mat-card class="register-card mat-elevation-z10">
      <mat-card-title>
        <div class="row">
          <div class="col-xs-2 icon-row">
            <button mat-icon-button (click)="back()">
              <img class="logo-chevron-back" src="assets/icon/keyboard_arrow_right.svg" alt="chevron"/>
            </button>
          </div>
          <div class="col-xs-8">
            <h2>Tiendas cercanas</h2>
          </div>
          <div class="col-xs-2"></div>
        </div>
      </mat-card-title>
      <mat-card-content>
        <div class="row store-row" id="stores">
          <div class="col-xs-6" *ngFor="let store of storesList">
            <mat-card class="store-card mat-elevation-z10">
              <mat-card-content class="store-box">
                <div class="col-xs-6">
                  <button mat-button (click)="openMap(store.id)">
                  <img class="map-image" [src]="store.mapImage"/>
                  </button>
                </div>
                <div class="col-xs-6 start-xs">
                  <h3 style="margin: 0; font-weight: normal; color: black;">{{store.address | titlecase}}</h3>
                  <h3 style="margin: 0; font-size: 23px;">{{store.name | titlecase}}</h3>
                  <h3 style="margin: 0; font-weight: normal; color: black;">{{store.businessHours}}</h3>
                  <mat-checkbox class="example-margin" [(ngModel)]="store.checked">Seleccionar tienda</mat-checkbox>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </mat-card-content>
      <button mat-button class="save" (click)="submit()">Guardar</button>
    </mat-card>
  </div>
</div>
</div> -->

<div class="row page-container">
  <div class="col-xs-12 col-md-6 col-lg-5 card-container">
    <mat-card class="store-card mat-elevation-z10">
      <mat-card-title>
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <div class="title-container">
              <button pButton pRipple type="button" icon="pi pi-chevron-left" class="p-button-lg p-button-rounded p-button-text" (click)="back()"></button>
              <h2>Tiendas cercanas</h2>
            </div>
          </div>
        </div>
      </mat-card-title>
      <mat-card-content>
      <div class="row center-xs">
        <div class="col-xs-10 col-lg-9" *ngFor="let store of storesList">
          <mat-card class="store-card-item mat-elevation-z10">
            <mat-card-content class="store-box">
              <div class="row">
                <div class="col-xs-6">
                  <img class="map-image" [src]="store.mapImage" (click)="openMap(store.id)" />
                </div>
                <div class="col-xs-6">
                  <div class="texto-container">
                    <div class="texto">
                      <h3 class="texto1">
                        {{ store.address | titlecase }}
                      </h3>
                      <h3 class="texto2">
                        {{ store.name | titlecase }}
                      </h3>
                      <h3 class="texto1">
                        {{ store.businessHours }}
                      </h3>
                    </div>
                    <div class="checkbox">
                      <mat-checkbox class="example-margin" [(ngModel)]="store.checked">
                        Seleccionar tienda</mat-checkbox>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      </mat-card-content>
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
          <div class="guardar-container" (click)="submit()">
            <h2>Guardar</h2>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
