@import "~src/assets/scss/colors.scss";

// MAT CARD STYLES
// mat-card {
//   justify-items: center;
//   align-items: center;
//   border-radius: 20px;
//   display: table;
// }

.page-container {
  background-image: url("/../assets/img/Fondo-principal.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  align-items: center;
  .card-container {
    height: calc(100vh - 64px);
    .store-card {
      margin-top: 2rem;
      width: 100%;
      padding: 2rem;
      .title-container{
        display: flex;
        align-items: center;
        padding: 2rem 0;
        h2{
          margin: 0;
        }
        img{
          margin-right: 2rem;
        }
      }
      .store-card-item{
        margin-bottom: 1rem;
        width: 100%;
      }
      .texto-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        align-items: flex-start;
        .texto{
          h3{
            margin: 0;
            justify-content: left;
          }
          .texto1{
            color: black;
            font-weight: normal;
          }
          .texto2{
            font-size: x-large;
          }
        }
        .checkbox{
          color: black;
          // font-size: large;
        }
      }
      .guardar-container{
        cursor: pointer;
        text-align: center;
        align-content: center;
        border: solid $orange;
        border-radius: 3rem;
        color: #ffff;
        background-color: $orange;
        font-weight:normal;
      }
    }
  }
}

.map-image {
  width: 100%;
  height: 200px;
  object-fit: contain;
  border-radius: 0.75rem;
  cursor: pointer;
}

.logo-chevron-back {
  transform: rotate(180deg);
  cursor: pointer;
}



// .example-card {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   padding-top: 40px;
//   padding-bottom: 40px;
// }

// .register-card {
//   background-color: white;
//   max-width: 900px;
//   min-width: 855px;
//   width: 100%;
//   max-height: 1200;
//   height: 100%;
//   justify-content: center;
//   align-items: center;
//   text-align: center;
//   overflow-y: auto;
// }

// .icon-row {
//   display: flex;
//   align-items: center;
//   justify-content: space-evenly;
// }





// .col-xs-6{
//   padding-left: 0px;
// }

// .store-row {
//   margin: 7px 0;
// }



// .store-box {
//   display: flex;
// }

// .example-margin {
//   margin: 7px 0;
//   padding-top: 100px;
//   font-size: 16px;
//   color: black;
//   border-color: $orange;
// }

// .acept-button-container {
//   justify-content: center;
//   align-items: center;
//   text-align: center;
//   padding-left: 2rem;
//   padding-right: 2rem;
// }

.save {
  background-color: $orange;
  color: #ffff;
  border: 2px solid $orange;
  border-radius: 25px;
  width: 135px;
  font-size: 20px;
}

// .options-row {
//   display: grid;
//   justify-content: start;
//   padding-left: 60px;
// }

// .options-container {
//   max-width: 750px;
//   margin: auto;
//   padding: 15px 0;
//   display: flex;
//   justify-content: flex-start;
//   align-items: center;
// }

// .options-container a {
//   text-decoration: none;
//   color: $blue;
//   font-size: 20px;
// }

// #stores{
//   flex-direction: column;
//   padding-left: 117px;
// }
