<mat-card>
  <mat-card class="register-card mat-elevation-z3">
    <img class="contenido" src="{{imageApi + image}}">
  </mat-card>
  <h1 mat-dialog-content>Se agrego este producto al carrito</h1>
</mat-card>