@import "~src/assets/scss/colors.scss";

.mat-card {
    width: 450px;
    height: 90px;
    position: absolute;
    top: 60px; right: 60px;

    .register-card {
       width: 50px;
       height: 50px;
       position: absolute;
       top: 20px; left: 5px;
    }

    img {
      width: 100%;
    }
}

.mat-dialog-content {
  font-size: 15px;
  text-align: justify;
  position: relative;
  top: 40px;  left: 100px; 
}

button {
  background: white;
  color: $orange;
  border: 2px solid $orange;
  border-radius: 25px;
  position: absolute;
  right: 10px; top: 10px;
}

