<div class="page-container">
  <div class="example-card">
    <mat-card class="mycart-card mat-elevation-z10">
      <mat-card-title>
        <h3>Mis Preferencias</h3>
      </mat-card-title>

      <mat-card-content>
        <mat-accordion class="headers-align" multi>
          <mat-expansion-panel class="mat-elevation-z0" hideToggle
            *ngFor="let preference of categorias">
            <mat-expansion-panel-header>
              <mat-panel-title (click)="goToPreferenceDetail(preference)">
                <div class="col-xs-11 start-xs" style="padding: 0;">
                  <h2>{{preference.name | titlecase}} <strong>({{preference.count}})</strong> </h2>
                </div>
                <div class="col-xs-1 end-xs">
                  <img class="logo-chevron-menu" src="assets/icon/keyboard_arrow_right.svg" alt="chevron"/>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>

          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>
  </div>
</div>
