@import "~src/assets/scss/colors.scss";

.mat-card{
  background-color: white;
  min-width: 400px;
  max-width: 900px;
  width: 100%;
  min-height: 500px;
  max-height: 800px;
  height: 100%;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  overflow: auto;
}

.mat-card-title {
  font-size: 140%;
  text-align:left;
}

.example-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.acept-button {
  background-color: #fff;
  color: $orange;
  border: 2px solid $orange;
  border-radius: 25px;
}

.logo-chevron-menu {
  transform: rotate(90deg);
}

.mat-expanded .mat-expansion-panel-header-title .logo-chevron-menu{
  transform: rotate(270deg);
}

.mat-card-content {
  background-color: white;
  min-width: 400px;
  max-width: 900px;
  width: 100%;
  min-height: 500px;
  max-height: 800px;
  height: 100%;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  overflow: auto;
}

