<div class="page-container">
  <div class="example-card">
    <mat-card class="my-purchase-card mat-elevation-z10">
      <mat-card-title>
        <div class="row">
          <div class="col-xs-12 center-lg">
            <h3>Mi Compra</h3>
          </div>
        </div>
      </mat-card-title>
      <mat-card-content class="content-card">
          <div class="row" style="justify-content: space-around">
            <!-- Resumen -->
            <mat-card style="width: 45%; height: fit-content">
              <div class="row" style="justify-content: space-between">
                <p>Costo</p>
                <p>{{totalAmount | number:'':'es-PY'}} Gs</p>
              </div>
              <div class="row" style="justify-content: space-between">
                <p>Descuento</p>
                <p>{{discountAmount | number:'':'es-PY'}} Gs</p>
              </div>
              <div class="row" style="justify-content: space-between">
                <p>Delivery</p>
                <p>{{deliveryAmount | number:'':'es-PY'}} Gs</p>
              </div>
              <mat-divider inset></mat-divider>
              <div class="row" style="justify-content: space-between">
                <p><strong>TOTAL</strong></p>
                <p><strong>{{(totalAmount - discountAmount + deliveryAmount) | number:'':'es-PY' }} Gs</strong></p>
              </div>
              <div class="row" style="justify-content: space-between">
                <p>Crédito a favor</p>
                <p>{{deliveryAmount | number:'':'es-PY'}} Gs</p>
              </div>
              <mat-divider inset></mat-divider>
              <div class="row" style="justify-content: space-between">
                <p><strong>Total a pagar</strong></p>
                <p><strong>{{(totalAmount - discountAmount + deliveryAmount - credit) | number:'':'es-PY' }} Gs</strong></p>
              </div>
            </mat-card>
            <!-- Parámetros de checkout -->
            <mat-accordion class="example-headers-align col" style="width: 45%">
                <!-- Forma de compra -->
                <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" class="first-panel">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <mat-icon style="color: orangered;" *ngIf="purchaseType.description">check_circle</mat-icon>
                      <mat-icon *ngIf="!purchaseType.description">add_circle_outline</mat-icon>
                        Forma de Compra
                    </mat-panel-title>
                    <mat-panel-description style="justify-content: flex-end">
                      {{purchaseType.description}}
                    </mat-panel-description>
                  </mat-expansion-panel-header>

                  <mat-radio-group
                    aria-labelledby="example-radio-group-label"
                    class="example-radio-group"
                    [(ngModel)]="purchaseType">
                    <mat-radio-button class="example-radio-button" *ngFor="let purchase of purchaseTypes" [value]="purchase"
                    (change)="completeForm()">
                      <mat-icon svgIcon="{{purchase.img}}"></mat-icon>
                      {{purchase.description}}
                    </mat-radio-button>
                  </mat-radio-group>
                </mat-expansion-panel>
                <!-- Dirección -->
                <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" *ngIf="purchaseType.value === 'delivery'">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <mat-icon style="color: orangered;" *ngIf="delivery.name">check_circle</mat-icon>
                      <mat-icon *ngIf="!delivery.name">add_circle_outline</mat-icon>
                      Dirección
                    </mat-panel-title>
                    <mat-panel-description style="justify-content: flex-end">
                      {{delivery.name}}
                    </mat-panel-description>
                  </mat-expansion-panel-header>

                  <mat-radio-group
                  aria-labelledby="example-radio-group-label"
                  class="example-radio-group"
                  [(ngModel)]="delivery">
                    <mat-radio-button class="example-radio-button" *ngFor="let address of addresses" [value]="address"
                    (change)="completeForm()">
                      <b>{{address.name}}</b> <br>
                      {{address.address}}
                    </mat-radio-button>
                  </mat-radio-group>
                </mat-expansion-panel>

                <!-- Tienda -->
                <mat-expansion-panel [expanded]="step === 5" (opened)="setStep(5)" *ngIf="purchaseType.value === 'pickup'">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <mat-icon style="color: orangered;" *ngIf="storeSelected.name">check_circle</mat-icon>
                      <mat-icon *ngIf="!storeSelected.name">add_circle_outline</mat-icon>
                      Tiendas
                    </mat-panel-title>
                    <mat-panel-description style="justify-content: flex-end">
                      {{storeSelected.name}}
                    </mat-panel-description>
                  </mat-expansion-panel-header>

                  <mat-radio-group
                  aria-labelledby="example-radio-group-label"
                  class="example-radio-group"
                  [(ngModel)]="storeSelected">
                    <mat-radio-button class="example-radio-button" *ngFor="let store of storeList" [value]="store"
                    (change)="completeForm()">
                      <b>{{store.name}}</b>
                    </mat-radio-button>
                  </mat-radio-group>
                </mat-expansion-panel>

                <!-- Hora de Delivery -->
                <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <mat-icon style="color: orangered;" *ngIf="deliveryTime.startTime">check_circle</mat-icon>
                      <mat-icon *ngIf="!deliveryTime.startTime">add_circle_outline</mat-icon>
                      Horario de Entrega
                    </mat-panel-title>
                    <mat-panel-description style="justify-content: flex-end">
                      {{deliveryTime.startTime | date: 'HH:mm'}} - {{deliveryTime.endTime | date: 'HH:mm'}}
                    </mat-panel-description>
                  </mat-expansion-panel-header>

                  <mat-radio-group
                  aria-labelledby="example-radio-group-label"
                  class="example-radio-group"
                  [(ngModel)]="deliveryTime">
                    <mat-radio-button class="example-radio-button" *ngFor="let schedule of deliverySchedule" [value]="schedule"
                    (change)="completeForm()">
                      <b>{{schedule.startTime | date: 'EEEE d/M  ' | titlecase}}</b> <br>
                      De {{schedule.startTime | date: 'HH:mm'}} a {{schedule.endTime | date: 'HH:mm'}} hs.
                    </mat-radio-button>
                  </mat-radio-group>
                </mat-expansion-panel>

                <!-- Datos de Facturación -->
                <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <mat-icon style="color: orangered;" *ngIf="billing.razonSocial">check_circle</mat-icon>
                      <mat-icon *ngIf="!billing.razonSocial">add_circle_outline</mat-icon>
                      Datos de facturación
                    </mat-panel-title>
                    <mat-panel-description style="justify-content: flex-end">
                      {{billing.razonSocial}}
                    </mat-panel-description>
                  </mat-expansion-panel-header>

                  <mat-radio-group
                  aria-labelledby="example-radio-group-label"
                  class="example-radio-group"
                  [(ngModel)]="billing"
                  (ngModelChange)="completeForm()">
                    <mat-radio-button class="example-radio-button" *ngFor="let billing of billingInfo" [value]="billing">
                     <b>{{billing.razonSocial}}</b> <br>
                      {{billing.ruc}}
                    </mat-radio-button>
                  </mat-radio-group>
                </mat-expansion-panel>

                <!-- Metodo de Pago -->
                <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <mat-icon style="color: orangered;" *ngIf="selectedPaymentMethod.description">check_circle</mat-icon>
                      <mat-icon *ngIf="!selectedPaymentMethod.description">add_circle_outline</mat-icon>
                      Metodo de Pago
                    </mat-panel-title>
                    <mat-panel-description style="justify-content: flex-end">
                      {{selectedPaymentMethod.description}}
                    </mat-panel-description>
                  </mat-expansion-panel-header>

                  <mat-radio-group
                  aria-labelledby="example-radio-group-label"
                  class="example-radio-group"
                  [(ngModel)]="selectedPaymentMethod"
                  (ngModelChange)="completeForm()">
                    <mat-radio-button class="example-radio-button" *ngFor="let method of paymentMethod" [value]="method">
                     <b>{{method.description}}</b>
                    </mat-radio-button>
                  </mat-radio-group>
                </mat-expansion-panel>
              </mat-accordion>
          </div>

      </mat-card-content>
      <span style="display: flex"></span>
      <mat-card-actions style="text-align: right">
        <button mat-raised-button type="button" style="margin-right:10px;" (click)="atras()">Atrás</button>
        <button mat-raised-button type="button" class="btn-action" (click)="placeOrder()" [disabled]="!form.valid">Comprar</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

