@import "../../../../assets/scss/colors";

.mat-expansion-panel-header-title {
  flex-grow: 2;
  text-align: start;
}
.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
  align-items: center;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.first-panel {
  border-top-right-radius: 20px !important;
  border-top-left-radius: 20px !important;
}

.last-panel {
  border-bottom-right-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
}

.mat-expansion-panel-spacing {
  border-radius: 20px !important;
}

mat-expansion-panel{
  margin-top: 4px;
}

// MAT CARD STYLES
mat-card {
  justify-items: center;
  align-items: center;
  border-radius: 20px;
}

//.card-container {
//  background: url("/../assets/img/Fondo-principal.svg") center center fixed;
//  background-repeat: no-repeat;
//  background-size: cover;
//  background-attachment: local, scroll;
//  height: 100%;
//  display: flex;
//  align-items: center;
//  justify-content: center;
//}

mat-icon {
  font-size: 36px;
  height: 36px;
  width: auto;
  color: $blue;
}
.example-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.my-purchase-card {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  background-color: white;
  max-width: 900px;
  min-width: 400px;
  max-height: 900px;
  min-height: 700px;
  //justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

button {
  background: white;
  color: $orange;
  border: 2px solid $orange;
  border-radius: 25px;
}

.btn-action {
  background: $orange;
  color: white;
}

.content-card {
  display: flex;
  flex-direction: column;
  width: 100%;
}

p {
  margin: 6px;
}

::ng-deep {
  //.mat-radio-button {

    //.mat-radio-container {
    //
    //  .mat-radio-outer-circle:before {
    //    font-family: "icomoon" !important; // here comes the icomoon font reference that defines the actual icon to be shown
    //    content: "\e901"; // the code of the icon from my iconfont => change this one to the X icon of yours
    //    position: absolute; // this and next 3 lines are for centering the icon in the circle of the radio button
    //    left: 50%;
    //    top: 50%;
    //    transform: translate(-50%, -50%);
    //  }
    //
    //  .mat-radio-inner-circle {
    //    /* feel free to design the actual inner radiobutton circle as you wish*/
    //  }
    //}

    //.mat-radio-button .mat-radio-checked {
    //
    //  .mat-radio-container {
    //
    //    .mat-radio-outer-circle:before {
    //      content: "\e900"; // the code of the icon from my iconfont => change this one to V icon of yours
    //    }
    //  }
    //}
  //}
  .mat-radio-button .mat-radio-checked {

    .mat-radio-container {

      .mat-radio-outer-circle:before {
        content: "\e900"; // the code of the icon from my iconfont => change this one to V icon of yours
      }
    }
  }
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 6px;
  align-items: center;
  text-align: left;
}

