<form class="full-width" [formGroup]="profileForm">
    <mat-card class="center-xs billing-card">
        <mat-card-title>
            <h3>Subir imagen de perfil</h3>
        </mat-card-title>
        <br><br>
        <mat-dialog-content>
            <input type="file" accept="image/png, image/jpeg, image/jpg" (change)="imageProgress($event)">
        </mat-dialog-content>
        <br><br><br>
        <mat-dialog-actions>
            <div class="row row-buttons">
                <div class="col">
                  <button mat-stroked-button mat-dialog-close class="mat-elevation-z4">
                    Cancelar
                  </button>
                </div>
                <div class="col">
                  <button mat-raised-button type="submit" (click)="onSubmit()" class="mat-elevation-z4 btn-action">
                    Guardar
                  </button>
                </div>
              </div>
        </mat-dialog-actions>
    </mat-card>
</form>