@import "~src/assets/scss/colors.scss";

.mat-card {
    height: 800x;
    width: 500px;
    
  }

.btn-action {
    background: $orange;
    color: white;
    position: absolute;
    left: 280px;

  }

  button {
    background: white;
    color: $orange;
    border: 2px solid $orange;
    border-radius: 25px;
    left: 150px;
  }
  