<div>
  <div class="row" style="text-align: center;">
    <swiper class="swiper-caracteristica"
    [slidesPerView]="5"
    [slidesPerGroup]="1"
    [spaceBetween]="30"
    [loop]="false"
    [autoplay]="false"
    [navigation]="true">
    <ng-template *ngFor="let product of productVariants">
      <ng-container *ngIf="product.image; else elseBlock">
        <img class="size-img" [src]="imageApi + product.image">
        <mat-label><h4 style="font-weight: normal; margin: 5px 0;">{{product.size}}</h4></mat-label>
      </ng-container>
      <ng-template #elseBlock>
        <mat-icon svgIcon="image-outline-grey" class="size-img"></mat-icon>
        <mat-label><h4 style="font-weight: normal; margin: 5px 0;">{{product.size}}</h4></mat-label>
      </ng-template>
    </ng-template>
    </swiper>
  </div>
</div>
