.form-text {
  font-size: 24px;
  font-weight: 400;
}

.mat-form-field {
  width: 75%;
}

.row-buttons {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.col {
  margin: 0 0.5rem;
}

::ng-deep {
  .loading-container {
    .mat-spinner {
      svg {
        width: 40px !important;
        height: 40px !important;
      }
    }

    .mat-progress-spinner circle,
    .mat-spinner circle {
      stroke: #003e8c;
    }
  }
}
