<form class="full-width" [formGroup]="recoverForm">
  <!-- email -->
  <mat-form-field appearance="standard">
    <mat-label>Usuario</mat-label>
    <input matInput formControlName="username" type="email" />
    <mat-error *ngIf="recoverForm.controls['username'].hasError('required') && (username.dirty || username.touched)">
      El usuario es <strong>requerido</strong>
    </mat-error>
    <mat-error *ngIf="recoverForm.controls['username'].hasError('pattern') && (username.dirty || username.touched)">
      Ingrese un email <strong>válido</strong>
    </mat-error>
  </mat-form-field>

  <!-- Recover Button & Cancel -->
  <div class="row row-buttons">
    <div class="col">
      <button mat-stroked-button (click)="back()" [class.spinner]="isLoading$ | async" [disabled]="isLoading$ | async"
        class="mat-elevation-z4">
        Cancelar
      </button>
    </div>
    <div class="col">
      <button mat-raised-button type="submit" [class.spinner]="isLoading$ | async" [disabled]="isLoading$ | async"
      (click)="userRecoverPassword()" class="mat-elevation-z4">
        Enviar
      </button>
    </div>
  </div>
</form>
