<div class="product-container row">
  <div class="col-xs-3 images-box">
    <div class="row">
      <img alt="Imagen del producto" class="promo-img" [src]="imageApi + data.cartItems.image">
    </div>
  </div>
  <div class="col-xs-5 product-details" >
    <div class="row">
      <mat-label><strong>{{data.cartItems.name}}</strong></mat-label>
      <mat-label>{{data.cartItems.brand}}</mat-label>
      <mat-label><strong>{{data.cartItems.price | number:'':'es-PY' }} Gs.</strong></mat-label>
    </div>
  </div>
  <div class="col-xs-4 product-actions">
      <div class="row">
        <button class="button-actions" (click)="handleMinus()">
          <mat-icon svgIcon="remove-circle-outline"></mat-icon>
        </button>
        <div class="qty-container">
          <mat-label class="cont-label">{{data.qty}}</mat-label>
          <mat-label class="measure-label">{{data.cartItems.size}}</mat-label>
        </div>
        <button class="button-actions" (click)="handlePlus()">
          <mat-icon svgIcon="add-circle-outline"></mat-icon>
        </button>
      </div>
      <div class="row">
        <button class="button-actions" (click)="handleDelete()">
          <mat-icon svgIcon="trash-outline"></mat-icon>
        </button>
      </div>
    </div>
</div>
