@import "~src/assets/scss/colors.scss";

.product-container {
  width: 100%;
  .promo-img {
    padding: 5px 0;
    border-radius: 20px;
    object-fit: contain;
    width: auto;
    height: 80px;
  }
}

.promo-tag {
  position: absolute;
  width: 4rem;
  background: $blue;
  color: white;
  border-top-right-radius: 20px;
  top: 1rem;
  text-align: center;
  padding: 5px;
}

.product-detail {
  height: 35.25%;
  display: grid;
  align-items: center;
  text-align: center;
}

.action-button {
  align-items: center;
  text-align: center;
}

.button-row {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.images-box {
  align-self: center;
}

.product-details {
  text-align: start;
  align-self: center;

  mat-label {
    width: 100%;
  }
}

.product-actions {
  display: flex;
  justify-content: space-evenly;
  // padding-top: 14px;
  flex-direction: column;
  align-items: flex-end;
}

.button-actions {
  border: none;
  justify-content: end;
}

.cont-label {
  font-size: 16px;
  font-weight: 500;
}

.measure-label {
  font-size: 12px;
}

.qty-container {
  margin: 0 4px;
  text-align: center;
  display: grid;
}
