<div class="page-container">
  <div class="example-card">
    <mat-card class="mycart-card mat-elevation-z10">
      <mat-card-title>
        <div class="row">
          <div class="col-xs-2">
            <button type="button" mat-icon-button (click)="back()">
              <mat-icon svgIcon="arrow-back-outline"></mat-icon>
            </button>
          </div>
          <div class="col-xs-8">
          </div>
          <div class="col-xs-2">
            <button type="button" mat-icon-button [matMenuTriggerFor]="Menu">
              <mat-icon svgIcon="ellipsis-horizontal"></mat-icon>
            </button>
            <mat-menu #Menu="matMenu">
              <button mat-menu-item class="item-menu" (click)="editCart()"><strong> Editar carrito </strong></button>
              <button mat-menu-item class="item-menu" (click)="deleteCart()"><strong> Eliminar carrito </strong></button>
            </mat-menu>
          </div>
        </div>
      </mat-card-title>
      <mat-card-content style="padding: 2rem 1rem 0rem 1rem;">
        <app-cart-members-card [cart]="cart" [membersList]="cart.integrantes"></app-cart-members-card>

        <div class="row information-row">
          <div class="col-xs-2 start-xs">
            <h2>Mis Listas</h2>
          </div>
          <div class="col-xs-9"></div>
          <div class="col-xs-1" style="justify-content: center; text-align: center;">
            <button type="button" mat-icon-button class="add-button" (click)="goToAddLisCart()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>

        <ng-container *ngFor="let lists of cart.listas">
          <app-cart-list-card (isDeleted)="handleClickDelete($event)" [shoppingList]="lists" [cartId]="cart.id" [data]="lists.shoppingListItems"></app-cart-list-card>
        </ng-container>

        <div class="row information-row">
          <div class="col-xs-3 start-xs">
            <h2>Historial de compra</h2>
          </div>
          <div class="col-xs-8"></div>
          <div class="col-xs-1" style="justify-content: center; text-align: center;">
            <button type="button" mat-icon-button class="add-button">
              <mat-icon svgIcon="funnel-outline"></mat-icon>
            </button>
          </div>
        </div>
        <mat-card>
          <h3 style="color:#c4540b">Aún no posee historial de compra, realice compras para obtener informaciones de su actividad.</h3>
        </mat-card>
      </mat-card-content>
    </mat-card>
  </div>
</div>
