@import "~src/assets/scss/colors.scss";

.example-card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: calc(100vh - 64px);
}

.mycart-card {
  background-color: white;
  min-width: 400px;
  max-width: 1400px;
  width: 100%;
  min-height: 600px;
  max-height: 800px;
  height: 100%;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  overflow: auto;
}

.information-row {
  padding-top: 1rem;
  align-items: center;
  text-align: center;
  .add-button{
    color: $blue;
  }
}

.item-menu ::ng-deep {
  color: $orange;
  font-size: 16px;
  height: fit-content;
}
