<div class="row">
  <div class="col-xs-12 container">
    <div class="header">
      <h2>Mi compra</h2>
      <h3>{{totalProductsQtyLabel}}</h3>
    </div>
    <div class="products">
      <mat-selection-list #categoria [multiple]="false">
        <ng-container *ngIf="cart.products.length === 0; else elseBlock">
          <p>No hay resultados</p>
        </ng-container>
        <ng-template #elseBlock>
          <ng-container *ngFor="let item of cart.products">
            <mat-card class="product-card">
              <app-single-purchase-card [data]="item" 
              (productMinusQty)="onProductMinus($event)"
              (productRemoveFromCart)="removeFromCart($event)" 
              (productPlusQty)="onProductPlus($event)"
              ></app-single-purchase-card>
            </mat-card>
          </ng-container>
        </ng-template>
      </mat-selection-list>
    </div>
    <div class="footer">
      <button mat-icon-button (click)="comprar()">COMPRAR {{cart.price}}</button>
    </div>
  </div>
</div>

<!-- <div class="sidenav-right">
    <div class="row">
      <div class="col-xs-10 my-purchase-title">
        <h2>Mi compra</h2>
        <h3>{{totalProductsQtyLabel}}</h3>
      </div>
      <div class="col-xs-2 button-close">
        <button mat-icon-button (click)="closeMyPurchase()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
    <mat-selection-list #categoria [multiple]="false">
        <ng-container *ngIf="cart.products.length === 0; else elseBlock">
          <p>No hay resultados</p>
        </ng-container>
        <ng-template #elseBlock>
          <ng-container *ngFor="let item of cart.products">
            <mat-card class="product-card">
              <app-single-purchase-card [data]="item" 
              (productMinusQty)="onProductMinus($event)"
              (productRemoveFromCart)="removeFromCart($event)" 
              (productPlusQty)="onProductPlus($event)"
              ></app-single-purchase-card>
            </mat-card>
          </ng-container>
        </ng-template>
    </mat-selection-list>

    <div class="center-xs footer">
      <button mat-icon-button class="add-button" (click)="comprar()">COMPRAR {{cart.price}}</button>
    </div>
</div> -->


