@import "~src/assets/scss/colors.scss";

.container {

  height: calc(100vh - 72px);
  display: flex;
  flex-direction: column;

  .header {
    %title {
      color: $blue;
      margin: 0;
    }
    h2,h3 {
      @extend %title;
    }

    h3 {
      font-weight: 400;
    }
  }

  .products {
    flex: 1;
    
    .product-card {
      text-align: center;
      height: auto;
      box-shadow: none;
      border: none;
      padding: 10px 0;
    }
  }

  .footer {
    display: flex;
    justify-content: center;

    button {
      border-radius: 50px 50px 0px 0px;
      width: 70%;
      background: $orange;
      color: white;
      font-weight: 600;
    }

  }
}