@import "~src/assets/scss/colors.scss";

.example-card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: calc(100vh - 64px);
}

.main-card {
  background-color: white;
  min-width: 400px;
  max-width: 900px;
  width: 100%;
  min-height: 500px;
  max-height: 800px;
  height: 100%;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  overflow: auto;
}

mat-card{
  display:flex;
  flex-direction: column;
}

mat-card-content {
  overflow: auto;
}

.content {
  padding: 0 2rem;
}

.icon-button {
  display: flex;
  align-items: center;
  mat-icon {
    height: 30px;
    width: 30px;
  }
}
