<mat-drawer-container autosize [hasBackdrop]="false">
  <mat-drawer #drawer mode="over" position="end">
    <app-right-sidenav-history-filter (closePressed)="drawer.toggle()" (filterApplied)="filterOrders($event)" (clearFilter)="clearFilter()"></app-right-sidenav-history-filter>
  </mat-drawer>
  <mat-drawer-content class="page-container">
      <div class="example-card">
        <mat-card class="main-card mat-elevation-z10">
          <mat-card-title>
            <div class="row">
              <div class="col-xs-1"></div>
              <div class="col-xs-10">
                <h3>Historial de compras</h3>
              </div>
              <div class="col-xs-1 icon-button">
                <button type="button" mat-icon-button isIconButton="true">
                  <mat-icon svgIcon="funnel-outline" (click)="drawer.toggle()"></mat-icon>
                </button>
              </div>
            </div>
          </mat-card-title>
          <mat-card-content class="content">
            <ng-container *ngIf="shoppingHistoryList.length > 0; else elseBlock">
              <ng-container *ngFor="let item of shoppingHistoryList">
                <app-shopping-history-card [data]="item" (selectSeeProducts)="onSelectionViewItems($event)"></app-shopping-history-card>
              </ng-container>
            </ng-container>
            <ng-template #elseBlock>
              <h3 style="color:#c4540b">Aún no posee historial de compra, realice compras para obtener informaciones de
                su actividad.</h3>
            </ng-template>
          </mat-card-content>
        </mat-card>
      </div>
  </mat-drawer-content>
</mat-drawer-container>
