// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
$custom-typography: mat.define-typography-config(
  $font-family: '"Montserrat", sans-serif',
  $input: mat.define-typography-level(20px, 1.125, inherit),
);

@include mat.core($custom-typography);

@import "~src/assets/scss/colors.scss";
@import "~src/assets/scss/buttons.scss";
@import "~src/assets/scss/breakpoints.scss";

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$plub-frontend-primary: mat.define-palette($plub-blue-palette);
$plub-frontend-accent: mat.define-palette($plub-orange-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$plub-frontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$plub-frontend-theme: mat.define-light-theme((
  color: (
    primary: $plub-frontend-primary,
    accent: $plub-frontend-accent,
    warn: $plub-frontend-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($plub-frontend-theme);

/* You can add global styles to this file, and also import other style files */

@import 'swiper/css/bundle';

.montserrat {
  font-family: 'Montserrat';
  font-weight: 400;
}

@supports (font-variation-settings: "wght" 100) {
  .montserrat {
    font-family: 'Montserrat';
    font-weight: 100;
  }
}
@supports (font-variation-settings: "wght" 200) {
  .montserrat {
    font-family: 'Montserrat';
    font-weight: 200;
  }
}
@supports (font-variation-settings: "wght" 300) {
  .montserrat {
    font-family: 'Montserrat';
    font-weight: 300;
  }
}
@supports (font-variation-settings: "wght" 400) {
  .montserrat {
    font-family: 'Montserrat';
    font-weight: 400;
  }
}
@supports (font-variation-settings: "wght" 200) {
  .montserrat {
    font-family: 'Montserrat';
    font-weight: 200;
  }
}
@supports (font-variation-settings: "wght" 500) {
  .montserrat {
    font-family: 'Montserrat';
    font-weight: 500;
  }
}
@supports (font-variation-settings: "wght" 600) {
  .montserrat {
    font-family: 'Montserrat';
    font-weight: 600;
  }
}
@supports (font-variation-settings: "wght" 700) {
  .montserrat {
    font-family: 'Montserrat';
    font-weight: 700;
  }
}
@supports (font-variation-settings: "wght" 800) {
  .montserrat {
    font-family: 'Montserrat';
    font-weight: 800;
  }
}
@supports (font-variation-settings: "wght" 900) {
  .montserrat {
    font-family: 'Montserrat';
    font-weight: 900;
  }
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body { margin: 0; font-family: 'Montserrat', sans-serif;}


html body {
  *[hidden] {
    display: none !important;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill{
  -webkit-text-fill-color: $blue !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

button {
  background-color: transparent;
}

/* Main button with orange fill background and white text*/
.solid-button {
  background-color: $orange;
  color: #fff;
  border-radius: 1.5rem !important;
}

.mat-button-focus-overlay {
  background-color: transparent!important;
}

/* Button with orange border and orange text*/

// .page-container {
//   background: url("/../assets/img/Fondo-principal.svg") center center fixed;
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-attachment: local, scroll;
//   align-items: center;
//   justify-content: flex-end;
//   height: calc(100vh - 64px);
// }

// .fixed-page-container {
//   background: url("/../assets/img/Fondo-principal.svg") center center;
//   background-size: cover;
//   background-attachment: fixed;
// }

.full-width {
  width: 100%;
}

// ################################ MATERIAL CHANGES #######################################
// .mat-toolbar{
//   background: transparent;
// }

.mat-card {
  color: $blue;
  border-radius: 20px !important;
  justify-items: center;
}

.mat-card-login {
  justify-content: center;
  align-items: center;
}

.mat-accordion {
  .mat-expansion-panel {
    color: $blue;
    border-radius: 20px !important;
    .mat-expansion-indicator::after {
      color: $blue;
    }
  }
}

// Form
.mat-form-field {
  .mat-input-element {
    color: $blue;
  }
  .mat-form-field-label {
    color: $blue;
  }
}

.mat-form-field-appearance-standard{
  .mat-form-field-underline {
    background-color: $blue;
    height: 0.2rem !important;
    border-radius: 15px !important;
  }
}

.mat-dialog-container {
  padding: 0px !important;
  background: transparent !important;
  box-shadow: none;
}

.snack-bar-class-error{
  margin-top: 75px !important;
  p{
    font-size: 16px;
    color: white;
    font-weight: 500px;
  }
  background: $error-color;
}

.snack-bar-class-success{
  margin-top: 75px !important;
  p{
    font-size: 20px;
    font-weight: 600;
    color: white;
  }
  background: $success;
}

.snack-bar-class {
  margin-top: 75px !important;
  background: white;
  p{
    font-size: 16px;
    color: black;
    font-weight: 500px;
  }
  .error {
    background: $error-color;
  }
  .warning {
    background: $error-warning;
  }
  .success {
    background: $success;
  }
  .info {
    background: $info;
  }
}

.product-search {
  .mat-form-field-wrapper {
    padding-bottom: 1rem;
  }
  .mat-form-field-flex {
    width: 150%;
  }
  .mat-form-field-outline {
    border-radius: 50px;
    text-align: center;
    background-color: white;
  }
  .mat-form-field-appearance-outline .mat-form-field-infix {
    border-top-width: 5px;
    padding: auto;
  }
  .mat-form-field-infix {
    padding: 0.75rem;
    width: auto;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: $blue;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline-start {
    width: 30px;
    border-radius: 50px 0 0 50px;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline-end {
    border-radius: 0 50px 50px 0;
  }
  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-outline-gap {
    border-top-color: $blue;
  }
}

.mat-list-text{
  font-size: 20px;
  font-weight: 500;
  color: $blue;
}

.mat-list-option[aria-selected="true"] {
  background: transparent;
  .mat-list-text{
    color: $orange;
    font-weight: 700;
  }
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  content: none;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  content: none;
}

.swiper-button-prev {
  background-image: url(assets/icon/chevron-back-outline.svg);
  background-repeat: no-repeat;
  background-size: 3rem auto;
  background-position: center;
  opacity: 0.8;
}

.swiper-button-prev:hover {
  opacity: 1;
}

.swiper-button-next {
  background-image: url(assets/icon/chevron-forward-outline.svg);
  background-repeat: no-repeat;
  background-size: 3rem auto;
  background-position: center;
  opacity: 0.8;
}

.swiper-button-next:hover {
  opacity: 1;
}

.swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
  opacity: 0;
}

/* Estilos para el scroll */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9f9fa3;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $blue;
  border-radius: 50px;
}
/* Termina Estilos para el scroll */
// TOGGLES STYLES
.mat-slide-toggle .mat-slide-toggle-thumb-container {
  position: relative;
  top: 2.6px;
  left: 2px;
}

.mat-slide-toggle .mat-slide-toggle-bar {
  position: relative;
  height: 24px;
  border-radius: 20px;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
  transform: translate3d(12px, 0, 0) !important;
}

// primeng
.carousel-primeng {
  .p-carousel-next, .p-carousel-prev {
    color: $blue !important;
    margin: 0 !important;
  }
  
  .p-highlight button {
    background-color: $blue !important;
  }
}

.speedial-primeng {
  .speeddial-right {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    
    .p-speeddial-button {
      background-color: $orange !important;
      box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.02), 0px 0px 2px rgba(0, 0, 0, 0.05), 0px 1px 4px rgba(0, 0, 0, 0.08);
    }

    .p-speeddial-action {
      background-color: $blue !important;
    }
  }
}

.contact-dialog-primeng {
  
  .contact-dialog {
    width: 70vw;
    @media (min-width: $md) {
      width: 40vw;
    }
    
    @media (min-width: $lg) {
      width: 20vw;
    }
    
    %contact-dialog-item {
      height: 50px;
      padding: 0.25rem 1rem;
      margin: 0.25rem 0;
      display: flex;
      align-items: center;
      border-radius: 0.25rem;
      text-decoration: none;
      font-family: 'Montserrat';
      cursor: pointer;
      
  
      .icon {
        margin-right: 1rem;
      }
      p {
        margin: 0;
        font-weight: 500;
      }
  
      &:hover {
        background-color: #fafafa;
      }
    }

    .title {
      font-size: 1rem;
      color: $blue;
      margin-top: 0;
      font-family: 'Montserrat';
      text-align: center;
    }
  }
}

.mi-compra-sidebar-primeng, .productos-filter-primeng {

  width: 100vw !important;

  @media (min-width: $md) {
    width: 40vw !important;
  }
  
  @media (min-width: $lg) {
    width: 30vw !important;
  }

  .p-sidebar-close {
    color: $blue !important;
  }

  .p-sidebar-content {
    height: 100%;
    padding-bottom: 0;
  }
}

.card-primeng {
  border-radius: 1rem;
  width: 70vw !important;
  @media (min-width: $md) {
    width: 40vw !important;
  }
  @media (min-width: $lg) {
    width: 30vw !important;
  }
}

.toast-plub-primeng {
  .p-toast {
    padding: 1rem;
  }
  
  width: 80vw !important;
  
  @media (min-width: $md) {
    width: 40vw !important;
  }
  @media (min-width: $lg) {
    width: 30vw !important;
  }
}

.p-toast .p-toast-message.p-toast-message-info {
  background-color: #fff !important;
  border-left: 3px solid $info;
}
.p-toast .p-toast-message.p-toast-message-warn {
  background-color: #fff !important;
  border-left: 3px solid $error-warning;
}
.p-toast .p-toast-message.p-toast-message-error {
  background-color: #fff !important;
  border-left: 3px solid $error-color;
}

.product-subcategory-card-primeng {
  border-radius: 1rem;
  .p-card-body {
    height: calc(100vh - 64px - 2rem);
    padding: 0;
    overflow-y : auto;
  }
}

.product-card-primeng {
  border-radius: 1rem;

  .p-card-body {
    min-height: calc(100vh - 64px - 2rem - 70px);
  }
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.p-inputtext:enabled:focus {
  box-shadow: none;
}

.order {

  .p-menuitem-text {
    color: $orange !important;
  }
}

.productos-filter-primeng {

  width: 100vw !important;
  height: calc(100vh - 64px) !important;
  top: 64px !important;
  box-shadow: none !important;

  .p-sidebar-content {
    display: flex !important;
    flex-wrap: wrap !important;
  }

  @media (min-width: $md) {
    width: 40vw !important;
  }
  
  @media (min-width: $lg) {
    width: 30vw !important;
  }

  .p-sidebar-close {
    color: $blue !important;
  }

  .p-sidebar-content {
    height: 100%;
    padding-bottom: 0;
  }
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
  color: $orange !important;
}

.p-menuitem-link {
  border-radius: 0 !important;
  &:hover {
    background-color: #fff !important;
    color: $orange !important;
    border-bottom: 2px solid $orange !important;
  }
  &:focus {
    background-color: #fff !important;
  }
}

.p-scrolltop.p-link {
  background-color: $blue !important;
  @media (min-width: $md) {
    display: none !important;
  }
}