<mat-card class="mat-elevation-z10" style="padding-top: 0;">
  <div class="row center-xs" style="padding-bottom: 50px;">
    <div style="position: absolute; bottom: 100px;">
      <button type="button" mat-flat-button [ngStyle]="{'background-color': cart.color}" class="logo" (click)="onSelectCartLogo(cart)">
        <img src="assets/icon/icono_u.png">
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
      <button *ngIf="cart.showIconLeft" type="button" mat-icon-button>
        <mat-icon svgIcon="people"></mat-icon>
      </button>
    </div>
    <div class="col-xs-6">
      <h4>{{cart.name}}</h4>
    </div>
    <div class="col-xs-3">
      <button *ngIf="cart.showIconRight" type="button" mat-icon-button (click)="onSharedCart(cart)">
        <mat-icon svgIcon="share-outline-orange"></mat-icon>
      </button>
    </div>
  </div>
  <div class="row center-xs">
    <div class="col-auto">
      <button mat-raised-button class="select-cart" (click)="onSelectCart(cart)">SELECCIONAR CARRITO</button>
    </div>
  </div>
</mat-card>