@import "~src/assets/scss/colors.scss";

.logo {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  z-index: 1;
  margin-top: 20px;
  position: relative;
  align-items: center;

  img {
    height: 75px;
  }
}

.select-cart {
  background-color: $orange;
  color: #fff;
  border-radius: 25px;
}
