<div class="page-container">
  <div class="example-card">
    <mat-card class="register-card mat-elevation-z10">
      <mat-card-title>
        <div class="row">
          <div class="col-xs-2 icon-row">
            <button mat-icon-button (click)="back()">
              <img class="logo-chevron-back" src="assets/icon/keyboard_arrow_right.svg" alt="chevron"/>
            </button>
          </div>
          <div class="col-xs-10">
            <h3>Datos de facturación</h3>
          </div>
          <div class="col-xs-2"></div>
        </div>
      </mat-card-title>

      <mat-card-content class="content-card">
        <div class="row center-xs" *ngIf="billingList.length === 0 && !this.loading">
          <mat-card class="content-info-card mat-elevation-z10">
            <mat-label>
              <h3>{{messageNotinfobilling}}</h3>
            </mat-label>
          </mat-card>
        </div>
        <div class="row center-xs" style="margin-bottom: 7px; margin-top: 7px;" *ngFor="let item of billingList">
          <mat-card class="content-info-card mat-elevation-z4">
            <div class="row content-info">
              <div class="info start-xs">
                <mat-label color="primary bold">
                  <h3>{{item.razonSocial | titlecase}}</h3>
                </mat-label>
                <mat-label color="primary bold">
                  {{item.ruc | titlecase}}
                </mat-label>
                <!-- <mat-label color="primary">
                  <h3>{{item.address | titlecase}}</h3>
                </mat-label>
                <mat-label color="primary bold">
                  <h3>{{item.phone | titlecase}}</h3>
                </mat-label> -->
              </div>
              <div>
                <button mat-icon-button color="warning" class="btn-actions edit" (click)="editBillingDialog(item)">
                  <mat-icon svgIcon="create-outline-orange" class="icon-back icon-color"></mat-icon>
                </button>
                <button mat-icon-button color="white" class="btn-actions delete trash"
                  (click)="handleClickDelete(item.id)">
                  <mat-icon svgIcon="trash-outline-orange" class="icon-back"></mat-icon>
                </button>
              </div>

            </div>
            <br>
          </mat-card>
        </div>
      </mat-card-content>
      <span style="display: flex"></span>
      <mat-card-footer class="end-xs footer">
        <button type="button" mat-fab class="add-button" (click)="addBillingDialog()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
