@import "~src/assets/scss/colors.scss";

// MAT CARD STYLES
.mat-card {
  justify-items: center;
  align-items: center;
  border-radius: 20px;
}

.card-container {
  background: url("/../assets/img/Fondo-principal.svg") center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: local, scroll;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.register-card {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  background-color: white;
  max-width: 900px;
  min-width: 400px;
  max-height: 900px;
  min-height: 650px;
  // justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.logo-chevron-back {
  transform: rotate(180deg);
}

.icon-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.icon-color {
  color: #C4540BFF;
}

.toggles h2 {
  font-weight: normal;
}

.toggles-row {
  display: flex;
  flex-direction: row;
  height: 60px;
  padding-left: 48px;
}

.acept-button-container {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.acept-button {
  background-color: #fff;
  color: $orange;
  border: 4px solid $orange;
  border-radius: 25px;
}

.content-info-card {
  border-radius: 45px;
  margin: 0px;
  left: -180px;
  padding-left: 20px;
  width: 35%;
  height: 60px;
  top: 30px;
}

.content-info {
  position: relative;
  .info {
    display: flex;
    flex-direction: column;
    mat-label {
      h3 {
      margin: 5px 0;
    }
    padding-left: 1rem;
    }
  }
  .bold {
    font-weight: bold;
  }
  .btn-actions {
    position: absolute;
    top: -10px;
  }
  .edit {
    right: 45px;
  }
  .delete {
    right: 0px;
  }
}


.footer {
  width: 100%;
  padding-right: 1rem;
  padding-bottom: 1rem;
  .mat-fab .mat-icon {
    color:white;
  }
}

.add-button { 
  position: static;
  left: 600px;
  top: 340px;

}

.title-card {
  width: 100%;
  font-size: 15px;
  .row {
    position: relative;
    top: 50px; left: 50px;
  }
}

.content-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
}

.btn-back{
  position:absolute;
  left: 20px;
}