<div class="header-container">
  <app-header (login)="onLogin($event)"></app-header>
  <app-left-sidenav></app-left-sidenav>
</div>
<div class="content-container">
  <router-outlet></router-outlet>
</div>
<app-toast></app-toast>