@import "~src/assets/scss/colors.scss";

.global-container {
  margin-right: auto;
  margin-left: auto;
  padding-top: 1rem;
  padding-bottom: 6rem;
  width: calc(100% - 10rem);
}

.categories-card {
  height: 822px;
  overflow: auto;
  .mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
    padding-bottom: 0.5rem;
  }
}

.content-card {
  height: 750px;
  overflow: auto;
}

.product-row {
  padding: 15px 50px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 65px;
  grid-column-start: 0;
}

.product-card{
  text-align: center;
  height: 272px;
  border-radius: 20px;
  padding: 0px;
}

.footer {
  padding: 1rem 0;
  text-align: center;
}

input::placeholder {
  color: #919191;
}

.icon-button {
  height: 50px;
  width: 50px;
  mat-icon{
    height: 40px;
    width: 40px;
  }
}

.item-menu ::ng-deep {
  color: $orange;
  font-size: 16px;
  height: fit-content;
}

.show-more-button {
  background-color: #fff;
  color: $orange;
  border: 2px solid $orange;
  border-radius: 25px;
  height: 40px;
  padding: 0 2rem;
}
