<mat-drawer-container autosize [hasBackdrop]="false">
    <mat-drawer #drawer mode="over" position="end" [disableClose]="false">
      <app-right-sidenav></app-right-sidenav>
    </mat-drawer>
    <mat-drawer-content>
      <div class="fixed-page-container">
        <div class="global-container">
          <div class="row">
  
            <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2">
              <mat-card class="categories-card mat-elevation-z10">
                <h1>Videos</h1>
                <mat-selection-list>
                  
                </mat-selection-list>
              </mat-card>
            </div>
  
            <div fxLayout class="col-xs-8 col-sm-10 col-md-10 col-lg-10 product-search">
              <div class="row">
                <div class="col-auto">
                  <mat-form-field appearance="outline" [floatLabel]="'never'">
                    <input placeholder="Buscar" matInput type="text"/>
                    <mat-icon matSuffix color="primary">search</mat-icon>
                  </mat-form-field>
                </div>
                <div class="col-xs-2">
                </div>
              </div>
  
              <mat-card class="content-card mat-elevation-z10">
               <!-- First page of media-->
                <div>
                  <app-swiper [sortType]="sortNum" [videoList]="[]" [likes]="true" [textRowSwiper]="'Favoritos'">
                  </app-swiper>
                  <app-swiper [sortType]="sortNum" [videoList]="VideosRecomendados" [sale]="true"
                    [textRowSwiper]="'Recomendados'"></app-swiper>
                  <app-swiper [sortType]="sortNum" [videoList]="VideosPopulares" [textRowSwiper]="'Los más populares'">
                  </app-swiper>
                  <ng-container>
                    <ng-container>
                      <app-swiper></app-swiper>
                    </ng-container>
                  </ng-container>
                </div>
  
                <!-- Show all the products of the same category and related ones -->
                <ng-container >
                  <app-swiper></app-swiper>
                  <app-swiper></app-swiper>
                  <app-swiper ></app-swiper>
                  <app-swiper ></app-swiper>
                  <div class="row">
                    <h2 style="margin-block-end: 0em; padding-left: 2rem;">Todos</h2>
                  </div>
  
                  <div class="row product-row">
                    <ng-container>
                      <p>No hay resultados</p>
                    </ng-container>
                    <ng-template #elseBlock3>
                      <ng-container>
                        <mat-card class="product-card mat-elevation-z10">
                          <app-single-product-card></app-single-product-card>
                        </mat-card>
                      </ng-container>
                    </ng-template>
                  </div>
  
                  <mat-card-footer class="footer">
                    <button mat-raised-button class="show-more-button mat-elevation-z2">Ver más</button>
                  </mat-card-footer>
                </ng-container>
  
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
  