<mat-card class="product-container">
  <div class="row-swiper">
    <swiper [navigation]="true" class="swiper-product-group">
      <ng-template *ngFor="let product of productGroupData.variants"
        swiperSlide 
        class="product-group-slide">
        <ng-container *ngIf="product.image">
          <img [src]="imageApi + product.image" style="cursor: pointer;">
        </ng-container>
        <ng-template *ngIf="!product.image">
          <mat-icon svgIcon="image-outline-grey"></mat-icon>
        </ng-template>
      </ng-template>
    </swiper>
  </div>
  <div class="row center-xs">
    <span>{{this.productGroupData.product.name}}</span>
  </div>
  <div class="row center-xs">
    <span>{{this.productGroupData.product.size}}</span>
  </div>
  <div class="row center-xs">
    <span>{{this.productGroupData.product.brand}}</span>
  </div>
</mat-card>
