@import "~src/assets/scss/colors.scss";

.product-container {
  width: 250px;
  height: 350px;
  margin-top: 5px;
}

.row-swiper {
  display: flex;
  width: 250px;
  height: 220px;
}


.swiper-product-group ::ng-deep {
  width: 100%;
  height: 100%;

  .product-group-slide {
    height: 250px;
    min-width: 250px;
    border-radius: 20px;
  }

  .product-group-slide img {
    width: 200px;
    height: 200px;
  }
}

.swiper{
  // padding: 15px 50px;
}