<div class="row">
  <div class="col-xs-10">
    <p>{{data.message}}</p>
  </div>
  <div class="col-xs-2" style="display: flex; align-items: center;">
    <button mat-icon-button (click)="dismiss()"><mat-icon svgIcon="close-outline"></mat-icon></button>
  </div>
</div>
